USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_PO_History]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_PO_History]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- remove ocmment in case of troubles to update
--SET ansi_warnings OFFSET DATEFORMAT DMY;
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[PO_History]
(
[HASH_PO_HISTORY],
[HASH_PO_ITEM],
[HASH_PO_CONFIRMATION],
[EKBE_SYSID] ,
[EKBE_MANDT] ,
[EKBE_EBELN] ,
[EKBE_EBELP] ,
[EKBE_AREWB] ,
[EKBE_AREWR] ,
[EKBE_AREWR_POP] ,
[EKBE_AREWW] ,
[EKBE_BAMNG] ,
[EKBE_BEKKN] ,
[EKBE_BELNR] ,
[EKBE_BEWTP] ,
[EKBE_BLDAT] ,
[EKBE_BPMNG] ,
[EKBE_BPMNG_POP] ,
[EKBE_BPWEB] ,
[EKBE_BPWES] ,
[EKBE_BUDAT] ,
[EKBE_BUZEI] ,
[EKBE_BWART] ,
[EKBE_BWTAR] ,
[EKBE_CHARG] ,
[EKBE_CPUDT] ,
[EKBE_CPUTM] ,
[EKBE_DMBTR] ,
[EKBE_DMBTR_POP] ,
[EKBE_ELIKZ] ,
[EKBE_EMATN] ,
[EKBE_ERNAM] ,
[EKBE_ET_UPD] ,
[EKBE_ETENS] ,
[EKBE_EVERE] ,
[EKBE_GJAHR] ,
[EKBE_GRUND] ,
[EKBE_HSWAE] ,
[EKBE_INTROW] ,
[EKBE_KNUMV] ,
[EKBE_KUDIF] ,
[EKBE_LEMIN] ,
[EKBE_LFBNR] ,
[EKBE_LFGJA] ,
[EKBE_LFPOS] ,
[EKBE_LSMEH] ,
[EKBE_LSMNG] ,
[EKBE_MATNR] ,
[EKBE_MENGE] ,
[EKBE_MENGE_POP] ,
[EKBE_MWSKZ] ,
[EKBE_PACKNO] ,
[EKBE_REEWR] ,
[EKBE_REFWR] ,
[EKBE_RETAMT_FC] ,
[EKBE_RETAMT_LC] ,
[EKBE_RETAMTP_FC] ,
[EKBE_RETAMTP_LC] ,
[EKBE_REWRB] ,
[EKBE_SAPRL] ,
[EKBE_SHKZG] ,
[EKBE_SRVPOS] ,
[EKBE_VGABE] ,
[EKBE_WAERS] ,
[EKBE_WEORA] ,
[EKBE_WERKS] ,
[EKBE_WESBB] ,
[EKBE_WESBS] ,
[EKBE_WKURS] ,
[EKBE_WRBTR] ,
[EKBE_WRBTR_POP] ,
[EKBE_XBLNR] ,
[EKBE_XMACC] ,
[EKBE_XUNPL] ,
[EKBE_XWOFF] ,
[EKBE_XWSBR] ,
[EKBE_ZEKKN] ,
[EKBE_ERUSERNAME] ,
[EKBE_AEUSERNAME] ,
[EKBE_UDATE] ,
[EKBE_DATUM]
)
SELECT
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKBE_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKBE_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKBE_EBELN] ,'"','')),' ',''),REPLACE([dbo].[add_0](5,REPLACE([EKBE_EBELP] ,'"','')),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKBE_BELNR] ,'"','')),' ',''),REPLACE([dbo].[add_0](4,REPLACE([EKBE_BUZEI] ,'"','')),' ',''),REPLACE(REPLACE([EKBE_GJAHR],'"',''),' ',''),REPLACE(REPLACE([EKBE_VGABE],'"',''),' ',''),REPLACE([dbo].[add_0](2,REPLACE([EKBE_ZEKKN] ,'"','')),' ',''))) as [HASH_PO_HISTORY],
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKBE_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKBE_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKBE_EBELN] ,'"','')),' ',''),REPLACE([dbo].[add_0](5,REPLACE([EKBE_EBELP] ,'"','')),' ',''))) as [HASH_PO_ITEM],
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKBE_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKBE_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKBE_EBELN] ,'"','')),' ',''),REPLACE([dbo].[add_0](5,REPLACE([EKBE_EBELP] ,'"','')),' ',''),REPLACE([dbo].[add_0](4,REPLACE([EKBE_ETENS],'"','')),' ',''))) as [HASH_PO_CONFIRMATION],
[HASH_PO_HISTORY],
[HASH_PO_ITEM],
[HASH_PO_CONFIRMATION],
REPLACE([EKBE_SYSID] ,'"',''),
REPLACE([EKBE_MANDT] ,'"',''),
[dbo].[add_0](10,REPLACE([EKBE_EBELN] ,'"','')),
[dbo].[add_0](5,REPLACE([EKBE_EBELP] ,'"','')),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_AREWB],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_AREWB],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_AREWB],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_AREWR],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_AREWR],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_AREWR],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_AREWR_POP],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_AREWR_POP],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_AREWR_POP],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_AREWW],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_AREWW],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_AREWW],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_BAMNG],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_BAMNG],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_BAMNG],
REPLACE([EKBE_BEKKN] ,'"',''),
[dbo].[add_0](10,REPLACE([EKBE_BELNR] ,'"','')),
REPLACE([EKBE_BEWTP] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKBE_BLDAT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKBE_BLDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKBE_BLDAT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_BLDAT],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_BPMNG],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_BPMNG],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_BPMNG],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_BPMNG_POP],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_BPMNG_POP],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_BPMNG_POP],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_BPWEB],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_BPWEB],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_BPWEB],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_BPWES],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_BPWES],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_BPWES],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKBE_BUDAT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKBE_BUDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKBE_BUDAT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_BUDAT],
[dbo].[add_0](3,REPLACE([EKBE_BUZEI] ,'"','')),
REPLACE([EKBE_BWART] ,'"',''),
REPLACE([EKBE_BWTAR] ,'"',''),
REPLACE([EKBE_CHARG] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKBE_CPUDT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKBE_CPUDT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKBE_CPUDT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_CPUDT],
REPLACE([EKBE_CPUTM] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_DMBTR],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_DMBTR],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_DMBTR],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_DMBTR_POP],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_DMBTR_POP],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_DMBTR_POP],
REPLACE([EKBE_ELIKZ] ,'"',''),
REPLACE([EKBE_EMATN] ,'"',''),
REPLACE([EKBE_ERNAM] ,'"',''),
REPLACE([EKBE_ET_UPD] ,'"',''),
[dbo].[add_0](4,REPLACE([EKBE_ETENS] ,'"','')),
REPLACE([EKBE_EVERE] ,'"',''),
REPLACE([EKBE_GJAHR] ,'"',''),
REPLACE([EKBE_GRUND] ,'"',''),
REPLACE([EKBE_HSWAE] ,'"',''),
REPLACE([EKBE_INTROW] ,'"',''),
REPLACE([EKBE_KNUMV] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_KUDIF],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,5),REPLACE(REPLACE(REPLACE([EKBE_KUDIF],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_KUDIF],
REPLACE([EKBE_LEMIN] ,'"',''),
REPLACE([EKBE_LFBNR] ,'"',''),
REPLACE([EKBE_LFGJA] ,'"',''),
REPLACE([EKBE_LFPOS] ,'"',''),
REPLACE([EKBE_LSMEH] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_LSMNG],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_LSMNG],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_LSMNG],
REPLACE([EKBE_MATNR] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_MENGE],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_MENGE],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_MENGE],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_MENGE_POP],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_MENGE_POP],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_MENGE_POP],
REPLACE([EKBE_MWSKZ] ,'"',''),
REPLACE([EKBE_PACKNO] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_REEWR],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_REEWR],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_REEWR],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_REFWR],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_REFWR],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_REFWR],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_RETAMT_FC],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_RETAMT_FC],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_RETAMT_FC],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_RETAMT_LC],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_RETAMT_LC],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_RETAMT_LC],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_RETAMTP_FC],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_RETAMTP_FC],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_RETAMTP_FC],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_RETAMTP_LC],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_RETAMTP_LC],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_RETAMTP_LC],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_REWRB],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_REWRB],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_REWRB],
REPLACE([EKBE_SAPRL] ,'"',''),
REPLACE([EKBE_SHKZG] ,'"',''),
REPLACE([EKBE_SRVPOS] ,'"',''),
REPLACE([EKBE_VGABE] ,'"',''),
REPLACE([EKBE_WAERS] ,'"',''),
REPLACE([EKBE_WEORA] ,'"',''),
REPLACE([EKBE_WERKS] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_WESBB],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_WESBB],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_WESBB],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_WESBS],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKBE_WESBS],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_WESBS],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_WKURS],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,5),REPLACE(REPLACE(REPLACE([EKBE_WKURS],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_WKURS],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_WRBTR],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_WRBTR],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_WRBTR],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKBE_WRBTR_POP],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKBE_WRBTR_POP],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_WRBTR_POP],
REPLACE([EKBE_XBLNR] ,'"',''),
REPLACE([EKBE_XMACC] ,'"',''),
REPLACE([EKBE_XUNPL] ,'"',''),
REPLACE([EKBE_XWOFF] ,'"',''),
REPLACE([EKBE_XWSBR] ,'"',''),
[dbo].[add_0](2,REPLACE([EKBE_ZEKKN] ,'"','')),
REPLACE([EKBE_ERUSERNAME] ,'"',''),
REPLACE([EKBE_AEUSERNAME] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKBE_UDATE] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')  
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKBE_UDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKBE_UDATE],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_UDATE],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKBE_DATUM] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')  
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKBE_DATUM],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKBE_DATUM],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKBE_DATUM]
FROM
[dbo].[PO_History_ETL]
where [EKBE_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
