USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[CO_Item]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CO_Item](
	[EKPOK_UNIQU] [int] IDENTITY(1,1) NOT NULL,
	[EKPOK_UID] [uniqueidentifier] NULL,
	[HASH_PO_HEADER] [binary](16) NULL,
	[HASH_PO_ITEM] [binary](16) NULL,
	[EKPOK_SYSID] [nvarchar](255) NULL,
	[EKPOK_MANDT] [nvarchar](255) NULL,
	[EKPOK_BUKRS] [nvarchar](255) NULL,
	[EKPOK_EBELN] [nvarchar](255) NULL,
	[EKPOK_EBELP] [nvarchar](255) NULL,
	[EKPOK_WERKS] [nvarchar](255) NULL,
	[EKPOK_LOEKZ] [nvarchar](255) NULL,
	[EKPOK_PSTYP] [nvarchar](255) NULL,
	[EKPOK_UDATE] [datetime2](7) NULL,
	[EKPOK_ORDERDATE] [datetime2](7) NULL,
	[EKPOK_MENGE] [decimal](18, 3) NULL,
	[EKPOK_MEINS] [nvarchar](255) NULL,
	[EKPOK_NETWR] [decimal](18, 2) NULL,
	[EKPOK_CAMOUNT] [decimal](18, 2) NULL,
	[EKPOK_EURAMOUNT] [decimal](18, 2) NULL,
	[EKPOK_WKURS] [decimal](18, 5) NULL,
	[EKPOK_RATE] [decimal](18, 5) NULL,
	[EKPOK_LONGTEXT] [nvarchar](max) NULL,
	[EKPOK_TXZ01] [nvarchar](255) NULL,
	[EKPOK_MATKL] [nvarchar](255) NULL,
	[EKPOK_MATNR] [nvarchar](255) NULL,
	[EKPOK_REVLV] [nvarchar](255) NULL,
	[EKPOK_IDNLF] [nvarchar](255) NULL,
	[EKPOK_BANFN] [nvarchar](255) NULL,
	[EKPOK_BNFPO] [nvarchar](255) NULL,
	[EKPOK_AFNAM] [nvarchar](255) NULL,
	[EKPOK_BEDNR] [nvarchar](255) NULL,
	[EKPOK_KONNR] [nvarchar](255) NULL,
	[EKPOK_KTPNR] [nvarchar](255) NULL,
	[EKPOK_WEPOS] [nvarchar](255) NULL,
	[EKPOK_EVERS] [nvarchar](255) NULL,
	[EKPOK_INSMK] [nvarchar](255) NULL,
	[EKPOK_MHDRZ] [nvarchar](255) NULL,
	[EKPOK_IPRKZ] [nvarchar](255) NULL,
	[EKPOK_SSQSS] [nvarchar](255) NULL,
	[EKPOK_PLIFZ] [decimal](18, 2) NULL,
	[EKPOK_WEBAZ] [decimal](18, 2) NULL,
	[EKPOK_LEWED] [datetime2](7) NULL,
	[EKPOK_ABLAD] [nvarchar](255) NULL,
	[EKPOK_LGORT] [nvarchar](255) NULL,
	[EKPOK_NAME1] [nvarchar](255) NULL,
	[EKPOK_NAME2] [nvarchar](255) NULL,
	[EKPOK_STREET] [nvarchar](255) NULL,
	[EKPOK_POST_CODE1] [nvarchar](255) NULL,
	[EKPOK_CITY1] [nvarchar](255) NULL,
	[EKPOK_REGION] [nvarchar](255) NULL,
	[EKPOK_COUNTRY] [nvarchar](255) NULL,
	[EKPOK_PO_BOX] [nvarchar](255) NULL,
	[EKPOK_KZABS] [nvarchar](255) NULL,
	[EKPOK_LABNR] [nvarchar](255) NULL,
	[EKPOK_ELIKZ] [nvarchar](255) NULL,
	[EKPOK_EREKZ] [nvarchar](255) NULL,
	[EKPOK_UEBTO] [decimal](18, 2) NULL,
	[EKPOK_UEBTK] [nvarchar](255) NULL,
	[EKPOK_UNTTO] [decimal](18, 2) NULL,
	[EKPOK_XOBLR] [nvarchar](255) NULL,
	[EKPOK_KNTTP] [nvarchar](255) NULL,
	[EKPOK_VRTKZ] [nvarchar](255) NULL,
	[EKPOK_INCO1] [nvarchar](255) NULL,
	[EKPOK_INCO2] [nvarchar](255) NULL,
	[EKPOK_MFRNR] [nvarchar](255) NULL,
	[EKPOK_MFRPN] [nvarchar](255) NULL,
	[EKPOK_EAN11] [nvarchar](255) NULL,
	[EKPOK_ERUSERNAME] [nvarchar](255) NULL,
	[EKPOK_AEUSERNAME] [nvarchar](255) NULL,
	[EKPOK_AEDAT] [datetime2](7) NULL,
	[EKPOK_DATUM] [datetime2](7) NULL,
	[EKPOK_ZZBP1] [decimal](18, 2) NULL,
	[EKPOK_ZZCR1] [nvarchar](255) NULL,
	[EKPOK_ZZPT1] [nvarchar](255) NULL,
	[EKPOK_ZZPD1] [datetime2](7) NULL,
	[EKPOK_ZZBP2] [decimal](18, 2) NULL,
	[EKPOK_ZZCR2] [nvarchar](255) NULL,
	[EKPOK_ZZPT2] [nvarchar](255) NULL,
	[EKPOK_ZZPD2] [datetime2](7) NULL,
	[EKPOK_ZZBP3] [decimal](18, 2) NULL,
	[EKPOK_ZZCR3] [nvarchar](255) NULL,
	[EKPOK_ZZPT3] [nvarchar](255) NULL,
	[EKPOK_ZZPD3] [datetime2](7) NULL,
	[EKPOK_ZZBP4] [decimal](18, 2) NULL,
	[EKPOK_ZZCR4] [nvarchar](255) NULL,
	[EKPOK_ZZPT4] [nvarchar](255) NULL,
	[EKPOK_ZZPD4] [datetime2](7) NULL,
	[EKPOK_ZZBP5] [decimal](18, 2) NULL,
	[EKPOK_ZZCR5] [nvarchar](255) NULL,
	[EKPOK_ZZPT5] [nvarchar](255) NULL,
	[EKPOK_ZZPD5] [datetime2](7) NULL,
	[EKPOK_WAERS] [nvarchar](255) NULL,
	[EKPOK_ADRNR] [nvarchar](255) NULL,
	[EKPOK_ADRN2] [nvarchar](255) NULL,
	[SSMA_TimeStamp] [datetime2](7) NOT NULL,
	[SSMA_LAST_TS] [datetime2](7) NULL,
 CONSTRAINT [PK_CO_Item] PRIMARY KEY CLUSTERED 
(
	[EKPOK_UNIQU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CO_Item] ADD  CONSTRAINT [DF__CO_Item__SSMA_Ti__1ED998B2]  DEFAULT (getdate()) FOR [SSMA_TimeStamp]
GO
