USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_ProdOrder_Header]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_ProdOrder_Header]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[ProdOrder_Header]
(
[HASH_PRODORDER_HEADER],
[HASH_PRJ_ORDER],
[AFKO_SYSID],
[AFKO_MANDT],
[AFKO_AUFNR],
[AFKO_GSTRP],
[AFKO_GLTRP],
[AFKO_GSTRS],
[AFKO_FTRMS],
[AFKO_GLTRS],
[AFKO_GSTRI],
[AFKO_FTRMI],
[AFKO_GETRI],
[AFKO_GLTRI],
[AFKO_RSNUM],
[AFKO_PLNNR],
[AFKO_PLNAW],
[AFKO_AUFPL],
[AFKO_PRONR],
[AFKO_NTZUE],
[AFKO_RMANR],
[AFKO_ERDATE],
[AFKO_UDATE],
[AFKO_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([AFKO_SYSID],'"',''),' ',''),REPLACE(REPLACE([AFKO_MANDT],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([AFKO_AUFNR] ,'"','')),' ',''))) as [HASH_PRODORDER_HEADER],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([AFKO_SYSID],'"',''),' ',''),REPLACE(REPLACE([AFKO_MANDT],'"',''),' ',''),REPLACE(REPLACE([AFKO_PRONR],'"',''),' ',''))) as [HASH_PRJ_ORDER],
REPLACE([AFKO_SYSID] ,'"',''),
REPLACE([AFKO_MANDT] ,'"',''),
REPLACE([AFKO_AUFNR] ,'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_GSTRP] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_GSTRP], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_GSTRP], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_GSTRP],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_GLTRP] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_GLTRP], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_GLTRP], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_GLTRP],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_GSTRS] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_GSTRS], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_GSTRS], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_GSTRS],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_FTRMS] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_FTRMS], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_FTRMS], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_FTRMS],
	CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_GLTRS] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_GLTRS], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_GLTRS], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_GLTRS],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_GSTRI] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_GSTRI], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_GSTRI], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_GSTRI],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_FTRMI] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_FTRMI], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_FTRMI], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_FTRMI],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_GETRI] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_GETRI], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_GETRI], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_GETRI],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_GLTRI] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_GLTRI], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_GLTRI], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_GLTRI],
REPLACE([AFKO_RSNUM] ,'"',''),
REPLACE([AFKO_PLNNR] ,'"',''),
REPLACE([AFKO_PLNAW] ,'"',''),
REPLACE([AFKO_AUFPL] ,'"',''),
REPLACE([AFKO_PRONR] ,'"',''),
REPLACE([AFKO_NTZUE] ,'"',''),
REPLACE([AFKO_RMANR] ,'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_ERDATE] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_ERDATE], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_ERDATE], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_ERDATE],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_UDATE] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_UDATE], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_UDATE], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_UDATE],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([AFKO_DATUM] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([AFKO_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([AFKO_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [AFKO_DATUM]
FROM
[dbo].[ProdOrder_Header_ETL]
where [AFKO_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
