USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_PO_Accounting_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_PO_Accounting_TMP](
	[EKKN_SYSID] [varchar](max) NULL,
	[NOT_APPLICABLE_01] [varchar](max) NULL,
	[NOT_APPLICABLE_02] [varchar](max) NULL,
	[EKKN_EBELN] [varchar](max) NULL,
	[NOT_APPLICABLE _03] [varchar](max) NULL,
	[EKKN_EBELP] [varchar](max) NULL,
	[EKKN_LOEKZ] [varchar](max) NULL,
	[NOT_APPLICABLE_03] [varchar](max) NULL,
	[EKKN_ZEKKN] [varchar](max) NULL,
	[NOT_APPLICABLE_04] [varchar](max) NULL,
	[NOT_APPLICABLE_05] [varchar](max) NULL,
	[EKKN_AEDAT] [varchar](max) NULL,
	[EKKN_UDATE] [varchar](max) NULL,
	[EKKN_MENGE] [varchar](max) NULL,
	[NOT_APPLICABLE_06] [varchar](max) NULL,
	[EKKN_NETWR] [varchar](max) NULL,
	[NOT_APPLICABLE_07] [varchar](max) NULL,
	[NOT_APPLICABLE_08] [varchar](max) NULL,
	[NOT_APPLICABLE_09] [varchar](max) NULL,
	[NOT_APPLICABLE_10] [varchar](max) NULL,
	[NOT_APPLICABLE_11] [varchar](max) NULL,
	[NOT_APPLICABLE_12] [varchar](max) NULL,
	[NOT_APPLICABLE_13] [varchar](max) NULL,
	[NOT_APPLICABLE_14] [varchar](max) NULL,
	[NOT_APPLICABLE_15] [varchar](max) NULL,
	[NOT_APPLICABLE_16] [varchar](max) NULL,
	[NOT_APPLICABLE_17] [varchar](max) NULL,
	[NOT_APPLICABLE_18] [varchar](max) NULL,
	[NOT_APPLICABLE_19] [varchar](max) NULL,
	[NOT_APPLICABLE_20] [varchar](max) NULL,
	[NOT_APPLICABLE_21] [varchar](max) NULL,
	[NOT_APPLICABLE_22] [varchar](max) NULL,
	[NOT_APPLICABLE_23] [varchar](max) NULL,
	[EKKN_SAKTO] [varchar](max) NULL,
	[EKKN_KOSTL] [varchar](max) NULL,
	[EKKN_VBELN] [varchar](max) NULL,
	[EKKN_VBELP] [varchar](max) NULL,
	[EKKN_AUFNR] [varchar](max) NULL,
	[NOT_APPLICABLE_24] [varchar](max) NULL,
	[NOT_APPLICABLE_25] [varchar](max) NULL,
	[NOT_APPLICABLE_26] [varchar](max) NULL,
	[NOT_APPLICABLE_27] [varchar](max) NULL,
	[NOT_APPLICABLE_28] [varchar](max) NULL,
	[EKKN_WEMPF] [varchar](max) NULL,
	[NOT_APPLICABLE_29] [varchar](max) NULL,
	[NOT_APPLICABLE_30] [varchar](max) NULL,
	[NOT_APPLICABLE_31] [varchar](max) NULL,
	[NOT_APPLICABLE_32] [varchar](max) NULL,
	[NOT_APPLICABLE_33] [varchar](max) NULL,
	[NOT_APPLICABLE_34] [varchar](max) NULL,
	[NOT_APPLICABLE_35] [varchar](max) NULL,
	[NOT_APPLICABLE_36] [varchar](max) NULL,
	[NOT_APPLICABLE_37] [varchar](max) NULL,
	[NOT_APPLICABLE_38] [varchar](max) NULL,
	[NOT_APPLICABLE_39] [varchar](max) NULL,
	[NOT_APPLICABLE_40] [varchar](max) NULL,
	[NOT_APPLICABLE_41] [varchar](max) NULL,
	[NOT_APPLICABLE_42] [varchar](max) NULL,
	[NOT_APPLICABLE_43] [varchar](max) NULL,
	[NOT_APPLICABLE_44] [varchar](max) NULL,
	[NOT_APPLICABLE_45] [varchar](max) NULL,
	[NOT_APPLICABLE_46] [varchar](max) NULL,
	[NOT_APPLICABLE_47] [varchar](max) NULL,
	[EKKN_EREKZ] [varchar](max) NULL,
	[NOT_APPLICABLE_48] [varchar](max) NULL,
	[NOT_APPLICABLE_49] [varchar](max) NULL,
	[NOT_APPLICABLE_50] [varchar](max) NULL,
	[NOT_APPLICABLE_51] [varchar](max) NULL,
	[NOT_APPLICABLE_52] [varchar](max) NULL,
	[NOT_APPLICABLE_53] [varchar](max) NULL,
	[NOT_APPLICABLE_54] [varchar](max) NULL,
	[NOT_APPLICABLE_55] [varchar](max) NULL,
	[NOT_APPLICABLE_56] [varchar](max) NULL,
	[EKKN_NPLNR] [varchar](max) NULL,
	[EKKN_PRCTR] [varchar](max) NULL,
	[NOT_APPLICABLE_57] [varchar](max) NULL,
	[NOT_APPLICABLE_58] [varchar](max) NULL,
	[NOT_APPLICABLE_59] [varchar](max) NULL,
	[NOT_APPLICABLE_60] [varchar](max) NULL,
	[EKKN_AEUSERNAME] [varchar](max) NULL,
	[EKKN_ERUSERNAME] [varchar](max) NULL,
	[EKKN_DATUM] [varchar](max) NULL,
	[NOT_APPLICABLE_61] [varchar](max) NULL,
	[NOT_APPLICABLE_62] [varchar](max) NULL,
	[NOT_APPLICABLE_63] [varchar](max) NULL,
	[NOT_APPLICABLE_64] [varchar](max) NULL,
	[NOT_APPLICABLE_65] [varchar](max) NULL,
	[NOT_APPLICABLE_66] [varchar](max) NULL,
	[NOT_APPLICABLE_67] [varchar](max) NULL,
	[NOT_APPLICABLE_68] [varchar](max) NULL,
	[NOT_APPLICABLE_69] [varchar](max) NULL,
	[NOT_APPLICABLE_70] [varchar](max) NULL,
	[NOT_APPLICABLE_71] [varchar](max) NULL,
	[NOT_APPLICABLE_72] [varchar](max) NULL,
	[NOT_APPLICABLE_73] [varchar](max) NULL,
	[NOT_APPLICABLE_74] [varchar](max) NULL,
	[NOT_APPLICABLE_75] [varchar](max) NULL,
	[NOT_APPLICABLE_76] [varchar](max) NULL,
	[NOT_APPLICABLE_77] [varchar](max) NULL,
	[NOT_APPLICABLE_78] [varchar](max) NULL,
	[NOT_APPLICABLE_79] [varchar](max) NULL,
	[NOT_APPLICABLE_80] [varchar](max) NULL,
	[EKKN_AA_FINAL_IND] [varchar](max) NULL,
	[EKKN_AA_FINAL_QTY] [varchar](max) NULL,
	[EKKN_AA_FINAL_REASON] [varchar](max) NULL,
	[EKKN_ABLAD] [varchar](max) NULL,
	[EKKN_ANLN1] [varchar](max) NULL,
	[EKKN_ANLN2] [varchar](max) NULL,
	[EKKN_MANDT] [varchar](max) NULL,
	[EKKN_POSID] [varchar](max) NULL,
	[EKKN_VETEN] [varchar](max) NULL,
	[EKKN_VPROZ] [varchar](max) NULL,
	[EKKN_ZZBKZ] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
