USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[MD_DUNS_ETL]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_DUNS_ETL](
	[duns_01] [varchar](max) NULL,
	[name_01] [varchar](max) NULL,
	[name_02] [varchar](max) NULL,
	[multoff_01] [varchar](max) NULL,
	[street_01a] [varchar](max) NULL,
	[street_01b] [varchar](max) NULL,
	[city_01] [varchar](max) NULL,
	[state_01] [varchar](max) NULL,
	[nation_01] [varchar](max) NULL,
	[citycode_01] [varchar](max) NULL,
	[countyc_01] [varchar](max) NULL,
	[statecode_01] [varchar](max) NULL,
	[stateabr_01] [varchar](max) NULL,
	[natcode_01] [varchar](max) NULL,
	[zip_01] [varchar](max) NULL,
	[contcode_01] [varchar](max) NULL,
	[street_02] [varchar](max) NULL,
	[city_02] [varchar](max) NULL,
	[county_02] [varchar](max) NULL,
	[state_02] [varchar](max) NULL,
	[nation_02] [varchar](max) NULL,
	[citycode_02] [varchar](max) NULL,
	[countyc_02] [varchar](max) NULL,
	[statecode_02] [varchar](max) NULL,
	[stateabr_02] [varchar](max) NULL,
	[natcode_02] [varchar](max) NULL,
	[zip_02] [varchar](max) NULL,
	[contcode_02] [varchar](max) NULL,
	[commregno_02] [varchar](max) NULL,
	[commcode] [varchar](max) NULL,
	[areacode_01] [varchar](max) NULL,
	[phone_01] [varchar](max) NULL,
	[telex_01] [varchar](max) NULL,
	[Main FAX] [varchar](max) NULL,
	[tm_01] [varchar](max) NULL,
	[functtm_01] [varchar](max) NULL,
	[agency_01] [varchar](max) NULL,
	[us1987sic1] [varchar](max) NULL,
	[us1987sic2] [varchar](max) NULL,
	[us1987sic3] [varchar](max) NULL,
	[us1987sic4] [varchar](max) NULL,
	[us1987sic5] [varchar](max) NULL,
	[us1987sic6] [varchar](max) NULL,
	[bcode_01] [varchar](max) NULL,
	[bcodetype_01] [varchar](max) NULL,
	[foundyear_01] [varchar](max) NULL,
	[to_01] [varchar](max) NULL,
	[tocode_01] [varchar](max) NULL,
	[tousd_01] [varchar](max) NULL,
	[tocur_01] [varchar](max) NULL,
	[empl_01] [varchar](max) NULL,
	[emplcode_01] [varchar](max) NULL,
	[empl_02] [varchar](max) NULL,
	[emplcode_02] [varchar](max) NULL,
	[emplcode_03] [varchar](max) NULL,
	[impexind_01] [varchar](max) NULL,
	[legalcode_01] [varchar](max) NULL,
	[controlind_01] [varchar](max) NULL,
	[statuscode_01] [varchar](max) NULL,
	[daughtc_01] [varchar](max) NULL,
	[fill_02] [varchar](max) NULL,
	[dunsold_02] [varchar](max) NULL,
	[repdate] [varchar](max) NULL,
	[fill_03] [varchar](max) NULL,
	[duns_03] [varchar](max) NULL,
	[name_03] [varchar](max) NULL,
	[street_03] [varchar](max) NULL,
	[city_03] [varchar](max) NULL,
	[state_03] [varchar](max) NULL,
	[nation_03] [varchar](max) NULL,
	[citycode_03] [varchar](max) NULL,
	[county_03] [varchar](max) NULL,
	[stateabr_03] [varchar](max) NULL,
	[natcode_03] [varchar](max) NULL,
	[zip_03] [varchar](max) NULL,
	[contcode_03] [varchar](max) NULL,
	[fill_04] [varchar](max) NULL,
	[duns_04] [varchar](max) NULL,
	[name_04] [varchar](max) NULL,
	[street_04] [varchar](max) NULL,
	[city_04] [varchar](max) NULL,
	[state_04] [varchar](max) NULL,
	[citycode_04] [varchar](max) NULL,
	[natcode_04] [varchar](max) NULL,
	[stateabr_04] [varchar](max) NULL,
	[zip_04] [varchar](max) NULL,
	[flag_04] [varchar](max) NULL,
	[fill05] [varchar](max) NULL,
	[duns_05] [varchar](max) NULL,
	[name_05] [varchar](max) NULL,
	[street_05] [varchar](max) NULL,
	[city_05] [varchar](max) NULL,
	[state_05] [varchar](max) NULL,
	[nation_05] [varchar](max) NULL,
	[citycode_05] [varchar](max) NULL,
	[couny_05] [varchar](max) NULL,
	[stateabr_05] [varchar](max) NULL,
	[natcode_05] [varchar](max) NULL,
	[zip_05] [varchar](max) NULL,
	[contcode_05] [varchar](max) NULL,
	[jointnumber] [varchar](max) NULL,
	[dias] [varchar](max) NULL,
	[levelcode] [varchar](max) NULL,
	[flag_05] [varchar](max) NULL,
	[out of bus] [varchar](max) NULL,
	[EADS_SMETag] [varchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime2](7) NULL,
	[UPLOAD_TIME] [datetime2](7) NULL,
	[UPLOAD_BLOCK] [varchar](1) NULL,
 CONSTRAINT [PK_MD_DUNS_ETL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MD_DUNS_ETL] ADD  CONSTRAINT [DF__MD_DUNS_ETL_Last_Update]  DEFAULT (getdate()) FOR [LAST_UPDATE]
GO
ALTER TABLE [dbo].[MD_DUNS_ETL] ADD  CONSTRAINT [DF__MD_DUNS_ETL_Upload_Time]  DEFAULT (getdate()) FOR [UPLOAD_TIME]
GO
