USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[CFT_Item]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFT_Item](
	[EKPOA_UNIQU] [int] IDENTITY(1,1) NOT NULL,
	[EKPOA_UID] [uniqueidentifier] NULL,
	[HASH_PO_HEADER] [binary](16) NULL,
	[HASH_PO_ITEM] [binary](16) NULL,
	[EKPOA_SYSID] [nvarchar](255) NULL,
	[EKPOA_MANDT] [nvarchar](255) NULL,
	[EKPOA_BUKRS] [nvarchar](255) NULL,
	[EKPOA_EBELN] [nvarchar](255) NULL,
	[EKPOA_EBELP] [nvarchar](255) NULL,
	[EKPOA_WERKS] [nvarchar](255) NULL,
	[EKPOA_LOEKZ] [nvarchar](255) NULL,
	[EKPOA_PSTYP] [nvarchar](255) NULL,
	[EKPOA_UDATE] [datetime2](7) NULL,
	[EKPOA_ORDERDATE] [datetime2](7) NULL,
	[EKPOA_MENGE] [decimal](18, 3) NULL,
	[EKPOA_MEINS] [nvarchar](255) NULL,
	[EKPOA_NETWR] [decimal](18, 2) NULL,
	[EKPOA_CAMOUNT] [decimal](18, 2) NULL,
	[EKPOA_EURAMOUNT] [decimal](18, 2) NULL,
	[EKPOA_WKURS] [decimal](18, 5) NULL,
	[EKPOA_RATE] [decimal](18, 5) NULL,
	[EKPOA_LONGTEXT] [nvarchar](255) NULL,
	[EKPOA_TXZ01] [nvarchar](255) NULL,
	[EKPOA_MATKL] [nvarchar](255) NULL,
	[EKPOA_MATNR] [nvarchar](255) NULL,
	[EKPOA_REVLV] [nvarchar](255) NULL,
	[EKPOA_IDNLF] [nvarchar](255) NULL,
	[EKPOA_BANFN] [nvarchar](255) NULL,
	[EKPOA_BNFPO] [nvarchar](255) NULL,
	[EKPOA_AFNAM] [nvarchar](255) NULL,
	[EKPOA_BEDNR] [nvarchar](255) NULL,
	[EKPOA_KONNR] [nvarchar](255) NULL,
	[EKPOA_KTPNR] [nvarchar](255) NULL,
	[EKPOA_WEPOS] [nvarchar](255) NULL,
	[EKPOA_EVERS] [nvarchar](255) NULL,
	[EKPOA_INSMK] [nvarchar](255) NULL,
	[EKPOA_MHDRZ] [decimal](18, 2) NULL,
	[EKPOA_IPRKZ] [nvarchar](255) NULL,
	[EKPOA_SSQSS] [nvarchar](255) NULL,
	[EKPOA_PLIFZ] [decimal](18, 2) NULL,
	[EKPOA_WEBAZ] [decimal](18, 2) NULL,
	[EKPOA_LEWED] [datetime2](7) NULL,
	[EKPOA_ABLAD] [nvarchar](255) NULL,
	[EKPOA_LGORT] [nvarchar](255) NULL,
	[EKPOA_NAME1] [nvarchar](255) NULL,
	[EKPOA_NAME2] [nvarchar](255) NULL,
	[EKPOA_STREET] [nvarchar](255) NULL,
	[EKPOA_POST_CODE1] [nvarchar](255) NULL,
	[EKPOA_CITY1] [nvarchar](255) NULL,
	[EKPOA_REGION] [nvarchar](255) NULL,
	[EKPOA_COUNTRY] [nvarchar](255) NULL,
	[EKPOA_PO_BOX] [nvarchar](255) NULL,
	[EKPOA_KZABS] [nvarchar](255) NULL,
	[EKPOA_LABNR] [nvarchar](255) NULL,
	[EKPOA_ELIKZ] [nvarchar](255) NULL,
	[EKPOA_EREKZ] [nvarchar](255) NULL,
	[EKPOA_UEBTO] [decimal](18, 2) NULL,
	[EKPOA_UEBTK] [nvarchar](255) NULL,
	[EKPOA_UNTTO] [decimal](18, 2) NULL,
	[EKPOA_XOBLR] [nvarchar](255) NULL,
	[EKPOA_KNTTP] [nvarchar](255) NULL,
	[EKPOA_VRTKZ] [nvarchar](255) NULL,
	[EKPOA_INCO1] [nvarchar](255) NULL,
	[EKPOA_INCO2] [nvarchar](255) NULL,
	[EKPOA_MFRNR] [nvarchar](255) NULL,
	[EKPOA_MFRPN] [nvarchar](255) NULL,
	[EKPOA_EAN11] [nvarchar](255) NULL,
	[EKPOA_ERUSERNAME] [nvarchar](255) NULL,
	[EKPOA_AEUSERNAME] [nvarchar](255) NULL,
	[EKPOA_AEDAT] [datetime2](7) NULL,
	[EKPOA_DATUM] [datetime2](7) NULL,
	[EKPOA_ZZBP1] [decimal](18, 2) NULL,
	[EKPOA_ZZCR1] [nvarchar](255) NULL,
	[EKPOA_ZZPT1] [nvarchar](255) NULL,
	[EKPOA_ZZPD1] [datetime2](7) NULL,
	[EKPOA_ZZBP2] [decimal](18, 2) NULL,
	[EKPOA_ZZCR2] [nvarchar](255) NULL,
	[EKPOA_ZZPT2] [nvarchar](255) NULL,
	[EKPOA_ZZPD2] [datetime2](7) NULL,
	[EKPOA_ZZBP3] [decimal](18, 2) NULL,
	[EKPOA_ZZCR3] [nvarchar](255) NULL,
	[EKPOA_ZZPT3] [nvarchar](255) NULL,
	[EKPOA_ZZPD3] [datetime2](7) NULL,
	[EKPOA_ZZBP4] [decimal](18, 2) NULL,
	[EKPOA_ZZCR4] [nvarchar](255) NULL,
	[EKPOA_ZZPT4] [nvarchar](255) NULL,
	[EKPOA_ZZPD4] [datetime2](7) NULL,
	[EKPOA_ZZBP5] [decimal](18, 2) NULL,
	[EKPOA_ZZCR5] [nvarchar](255) NULL,
	[EKPOA_ZZPT5] [nvarchar](255) NULL,
	[EKPOA_ZZPD5] [datetime2](7) NULL,
	[EKPOA_WAERS] [nvarchar](255) NULL,
	[EKPOA_ADRNR] [nvarchar](255) NULL,
	[EKPOA_ADRN2] [nvarchar](255) NULL,
	[SSMA_TimeStamp] [datetime2](7) NOT NULL,
	[SSMA_LAST_TS] [datetime2](7) NULL,
 CONSTRAINT [PK_CFT_Item] PRIMARY KEY CLUSTERED 
(
	[EKPOA_UNIQU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CFT_Item] ADD  CONSTRAINT [DF__CFT_Item__SSMA_T__2610A626]  DEFAULT (getdate()) FOR [SSMA_TimeStamp]
GO
