USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[EXTRACTION_PO_Item]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author:		<Daniele SanGy>
-- Create date: <November, 2017>
-- Description:	<Deduplication>
-- =============================================[dbo].[1_0_EXTRACTION_INV_Item_ETL]
CREATE PROCEDURE [dbo].[EXTRACTION_PO_Item]
AS
BEGIN
	SET NOCOUNT ON;
select
'EKPO_SYSID',
'EKPO_MANDT',
'EKPO_BUKRS',
'EKPO_EBELN',
'EKPO_EBELP',
'EKPO_WERKS',
'EKPO_LOEKZ',
'EKPO_PSTYP',
'EKPO_UDATE',
'EKPO_ORDERDATE',
'EKPO_MENGE',
'EKPO_MEINS',
'EKPO_NETWR',
'EKPO_CAMOUNT',
'EKPO_EURAMOUNT',
'EKPO_WKURS',
'EKPO_RATE',
'EKPO_LONGTEXT',
'EKPO_TXZ01',
'EKPO_MATKL',
'EKPO_MATNR',
'EKPO_REVLV',
'EKPO_IDNLF',
'EKPO_BANFN',
'EKPO_BNFPO',
'EKPO_AFNAM',
'EKPO_BEDNR',
'EKPO_KONNR',
'EKPO_KTPNR',
'EKPO_WEPOS',
'EKPO_EVERS',
'EKPO_INSMK',
'EKPO_MHDRZ',
'EKPO_IPRKZ',
'EKPO_SSQSS',
'EKPO_PLIFZ',
'EKPO_WEBAZ',
'EKPO_LEWED',
'EKPO_ABLAD',
'EKPO_LGORT',
'EKPO_NAME1',
'EKPO_NAME2',
'EKPO_STREET',
'EKPO_POST_CODE1',
'EKPO_CITY1',
'EKPO_REGION',
'EKPO_COUNTRY',
'EKPO_PO_BOX',
'EKPO_KZABS',
'EKPO_LABNR',
'EKPO_ELIKZ',
'EKPO_EREKZ',
'EKPO_UEBTO',
'EKPO_UEBTK',
'EKPO_UNTTO',
'EKPO_XOBLR',
'EKPO_KNTTP',
'EKPO_VRTKZ',
'EKPO_INCO1',
'EKPO_INCO2',
'EKPO_MFRNR',
'EKPO_MFRPN',
'EKPO_EAN11',
'EKPO_ERUSERNAME',
'EKPO_AEUSERNAME',
'EKPO_AEDAT',
'EKPO_DATUM',
'EKPO_ZZBP1',
'EKPO_ZZCR1',
'EKPO_ZZPT1',
'EKPO_ZZPD1',
'EKPO_ZZBP2',
'EKPO_ZZCR2',
'EKPO_ZZPT2',
'EKPO_ZZPD2',
'EKPO_ZZBP3',
'EKPO_ZZCR3',
'EKPO_ZZPT3',
'EKPO_ZZPD3',
'EKPO_ZZBP4',
'EKPO_ZZCR4',
'EKPO_ZZPT4',
'EKPO_ZZPD4',
'EKPO_ZZBP5',
'EKPO_ZZCR5',
'EKPO_ZZPT5',
'EKPO_ZZPD5',
'EKPO_WAERS',
'EKPO_ADRNR',
'EKPO_ADRN2'

union all
select
	CASE WHEN replace([EKPO_SYSID],' ','') = '' then NULL ELSE replace([EKPO_SYSID],' ','') end as [EKPO_SYSID],
	CASE WHEN replace([EKPO_MANDT],' ','') = '' then NULL ELSE replace([EKPO_MANDT],' ','') end as [EKPO_MANDT],
	CASE WHEN replace([EKPO_BUKRS],' ','') = '' then NULL ELSE replace([EKPO_BUKRS],' ','') end as [EKPO_BUKRS],
	CASE WHEN replace([EKPO_EBELN],' ','') = '' then NULL ELSE replace([EKPO_EBELN],' ','') end as [EKPO_EBELN],
	CASE WHEN replace([EKPO_EBELP],' ','') = '' then NULL ELSE replace([EKPO_EBELP],' ','') end as [EKPO_EBELP],
	CASE WHEN replace([EKPO_WERKS],' ','') = '' then NULL ELSE replace([EKPO_WERKS],' ','') end as [EKPO_WERKS],
	CASE WHEN replace([EKPO_LOEKZ],' ','') = '' then NULL ELSE replace([EKPO_LOEKZ],' ','') end as [EKPO_LOEKZ],
	CASE WHEN replace([EKPO_PSTYP],' ','') = '' then NULL ELSE replace([EKPO_PSTYP],' ','') end as [EKPO_PSTYP],
	CASE WHEN replace([EKPO_UDATE],' ','') = '' then '00000000' WHEN replace([EKPO_UDATE],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_UDATE]),'YYYYMMDD'),' ','') end as [EKPO_UDATE],
	CASE WHEN replace([EKPO_ORDERDATE],' ','') = '' then '00000000' WHEN replace([EKPO_ORDERDATE],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_ORDERDATE]),'YYYYMMDD'),' ','') end as [EKPO_ORDERDATE],
	CASE WHEN replace([EKPO_MENGE],' ','') = '' then '0.000' WHEN replace([EKPO_MENGE],' ','') IS NULL THEN '0.000' ELSE replace([EKPO_MENGE],' ','') end as [BSEG_MENGE],
	CASE WHEN replace([EKPO_MEINS],' ','') = '' then NULL ELSE replace([EKPO_MEINS],' ','') end as [EKPO_MEINS],	
	CASE WHEN replace([EKPO_NETWR],' ','') = '' then '0.00' WHEN replace([EKPO_NETWR],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_NETWR],' ','') end as [EKPO_NETWR],
	CASE WHEN replace([EKPO_CAMOUNT],' ','') = '' then '0.00' WHEN replace([EKPO_CAMOUNT],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_CAMOUNT],' ','') end as [EKPO_CAMOUNT],
	CASE WHEN replace([EKPO_EURAMOUNT],' ','') = '' then '0.00' WHEN replace([EKPO_EURAMOUNT],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_EURAMOUNT],' ','') end as [EKPO_EURAMOUNT],
	CASE WHEN replace([EKPO_WKURS],' ','') = '' then '0.00000' WHEN replace([EKPO_WKURS],' ','') IS NULL THEN '0.00000' ELSE replace([EKPO_WKURS],' ','') end as [EKPO_WKURS],
	CASE WHEN replace([EKPO_RATE],' ','') = '' then '0.00000' WHEN replace([EKPO_RATE],' ','') IS NULL THEN '0.00000' ELSE replace([EKPO_RATE],' ','') end as [EKPO_RATE],
	[EKPO_LONGTEXT],
	CASE WHEN replace([EKPO_TXZ01],' ','') = '' then NULL ELSE replace([EKPO_TXZ01],' ','') end as [EKPO_TXZ01],
	CASE WHEN replace([EKPO_MATKL],' ','') = '' then NULL ELSE replace([EKPO_MATKL],' ','') end as [EKPO_MATKL],
	CASE WHEN replace([EKPO_MATNR],' ','') = '' then NULL ELSE replace([EKPO_MATNR],' ','') end as [EKPO_MATNR],
	CASE WHEN replace([EKPO_REVLV],' ','') = '' then NULL ELSE replace([EKPO_REVLV],' ','') end as [EKPO_REVLV],
	CASE WHEN replace([EKPO_IDNLF],' ','') = '' then NULL ELSE replace([EKPO_IDNLF],' ','') end as [EKPO_IDNLF],
	CASE WHEN replace([EKPO_BANFN],' ','') = '' then NULL ELSE replace([EKPO_BANFN],' ','') end as [EKPO_BANFN],
	CASE WHEN replace([EKPO_BNFPO],' ','') = '' then NULL ELSE replace([EKPO_BNFPO],' ','') end as [EKPO_BNFPO],
	CASE WHEN replace([EKPO_AFNAM],' ','') = '' then NULL ELSE replace([EKPO_AFNAM],' ','') end as [EKPO_AFNAM],
	CASE WHEN replace([EKPO_BEDNR],' ','') = '' then NULL ELSE replace([EKPO_BEDNR],' ','') end as [EKPO_BEDNR],
	CASE WHEN replace([EKPO_KONNR],' ','') = '' then NULL ELSE replace([EKPO_KONNR],' ','') end as [EKPO_KONNR],
	CASE WHEN replace([EKPO_KTPNR],' ','') = '' then NULL ELSE replace([EKPO_KTPNR],' ','') end as [EKPO_KTPNR],
	CASE WHEN replace([EKPO_WEPOS],' ','') = '' then NULL ELSE replace([EKPO_WEPOS],' ','') end as [EKPO_WEPOS],
	CASE WHEN replace([EKPO_EVERS],' ','') = '' then NULL ELSE replace([EKPO_EVERS],' ','') end as [EKPO_EVERS],
	CASE WHEN replace([EKPO_INSMK],' ','') = '' then NULL ELSE replace([EKPO_INSMK],' ','') end as [EKPO_INSMK],
	CASE WHEN replace([EKPO_MHDRZ],' ','') = '' then '0' WHEN replace([EKPO_MHDRZ],' ','') IS NULL THEN '0' ELSE replace([EKPO_MHDRZ],' ','') end as [EKPO_MHDRZ],
	CASE WHEN replace([EKPO_IPRKZ],' ','') = '' then NULL ELSE replace([EKPO_IPRKZ],' ','') end as [EKPO_IPRKZ],
	CASE WHEN replace([EKPO_SSQSS],' ','') = '' then NULL ELSE replace([EKPO_SSQSS],' ','') end as [EKPO_SSQSS],	
	CASE WHEN replace([EKPO_PLIFZ],' ','') = '' then '0' WHEN replace([EKPO_PLIFZ],' ','') IS NULL THEN '0' ELSE replace([EKPO_PLIFZ],' ','') end as [EKPO_PLIFZ],
	CASE WHEN replace([EKPO_WEBAZ],' ','') = '' then '0' WHEN replace([EKPO_WEBAZ],' ','') IS NULL THEN '0' ELSE replace([EKPO_WEBAZ],' ','') end as [EKPO_WEBAZ],	
	CASE WHEN replace([EKPO_LEWED],' ','') = '' then '00000000' WHEN replace([EKPO_LEWED],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_LEWED]),'YYYYMMDD'),' ','') end as [EKPO_LEWED],
	CASE WHEN replace([EKPO_ABLAD],' ','') = '' then NULL ELSE replace([EKPO_ABLAD],' ','') end as [EKPO_ABLAD],
	CASE WHEN replace([EKPO_LGORT],' ','') = '' then NULL ELSE replace([EKPO_LGORT],' ','') end as [EKPO_LGORT],
	CASE WHEN replace([EKPO_NAME1],' ','') = '' then NULL ELSE replace([EKPO_NAME1],' ','') end as [EKPO_NAME1],
	CASE WHEN replace([EKPO_NAME2],' ','') = '' then NULL ELSE replace([EKPO_NAME2],' ','') end as [EKPO_NAME2],
	CASE WHEN replace([EKPO_STREET],' ','') = '' then NULL ELSE replace([EKPO_STREET],' ','') end as [EKPO_STREET],
	CASE WHEN replace([EKPO_POST_CODE1],' ','') = '' then NULL ELSE replace([EKPO_POST_CODE1],' ','') end as [EKPO_POST_CODE1],
	CASE WHEN replace([EKPO_CITY1],' ','') = '' then NULL ELSE replace([EKPO_CITY1],' ','') end as [EKPO_CITY1],
	CASE WHEN replace([EKPO_REGION],' ','') = '' then NULL ELSE replace([EKPO_REGION],' ','') end as [EKPO_REGION],
	CASE WHEN replace([EKPO_COUNTRY],' ','') = '' then NULL ELSE replace([EKPO_COUNTRY],' ','') end as [EKPO_COUNTRY],
	CASE WHEN replace([EKPO_PO_BOX],' ','') = '' then NULL ELSE replace([EKPO_PO_BOX],' ','') end as [EKPO_PO_BOX],
	CASE WHEN replace([EKPO_KZABS],' ','') = '' then NULL ELSE replace([EKPO_KZABS],' ','') end as [EKPO_KZABS],
	CASE WHEN replace([EKPO_LABNR],' ','') = '' then NULL ELSE replace([EKPO_LABNR],' ','') end as [EKPO_LABNR],
	CASE WHEN replace([EKPO_ELIKZ],' ','') = '' then NULL ELSE replace([EKPO_ELIKZ],' ','') end as [EKPO_ELIKZ],
	CASE WHEN replace([EKPO_EREKZ],' ','') = '' then NULL ELSE replace([EKPO_EREKZ],' ','') end as [EKPO_EREKZ],	
	CASE WHEN replace([EKPO_UEBTO],' ','') = '' then '0.0' WHEN replace([EKPO_UEBTO],' ','') IS NULL THEN '0.0' ELSE replace([EKPO_UEBTO],' ','') end as [EKPO_UEBTO],
	CASE WHEN replace([EKPO_UEBTK],' ','') = '' then NULL ELSE replace([EKPO_UEBTK],' ','') end as [EKPO_UEBTK],
	CASE WHEN replace([EKPO_UNTTO],' ','') = '' then '0.0' WHEN replace([EKPO_UNTTO],' ','') IS NULL THEN '0.0' ELSE replace([EKPO_UNTTO],' ','') end as [EKPO_UNTTO],
	CASE WHEN replace([EKPO_XOBLR],' ','') = '' then NULL ELSE replace([EKPO_XOBLR],' ','') end as [EKPO_XOBLR],
	CASE WHEN replace([EKPO_KNTTP],' ','') = '' then NULL ELSE replace([EKPO_KNTTP],' ','') end as [EKPO_KNTTP],
	CASE WHEN replace([EKPO_VRTKZ],' ','') = '' then NULL ELSE replace([EKPO_VRTKZ],' ','') end as [EKPO_VRTKZ],
	CASE WHEN replace([EKPO_INCO1],' ','') = '' then NULL ELSE replace([EKPO_INCO1],' ','') end as [EKPO_INCO1],
	CASE WHEN replace([EKPO_INCO2],' ','') = '' then NULL ELSE replace([EKPO_INCO2],' ','') end as [EKPO_INCO2],
	CASE WHEN replace([EKPO_MFRNR],' ','') = '' then NULL ELSE replace([EKPO_MFRNR],' ','') end as [EKPO_MFRNR],
	CASE WHEN replace([EKPO_MFRPN],' ','') = '' then NULL ELSE replace([EKPO_MFRPN],' ','') end as [EKPO_MFRPN],
	CASE WHEN replace([EKPO_EAN11],' ','') = '' then NULL ELSE replace([EKPO_EAN11],' ','') end as [EKPO_EAN11],
	CASE WHEN replace([EKPO_ERUSERNAME],' ','') = '' then NULL ELSE replace([EKPO_ERUSERNAME],' ','') end as [EKPO_ERUSERNAME],
	CASE WHEN replace([EKPO_AEUSERNAME],' ','') = '' then NULL ELSE replace([EKPO_AEUSERNAME],' ','') end as [EKPO_AEUSERNAME],
	CASE WHEN replace([EKPO_AEDAT],' ','') = '' then '00000000' WHEN replace([EKPO_AEDAT],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_AEDAT]),'YYYYMMDD'),' ','') end as [EKPO_AEDAT],
	CASE WHEN replace([EKPO_DATUM],' ','') = '' then '00000000' WHEN replace([EKPO_DATUM],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_DATUM]),'YYYYMMDD'),' ','') end as [EKPO_DATUM],
	CASE WHEN replace([EKPO_ZZBP1],' ','') = '' then '0.00' WHEN replace([EKPO_ZZBP1],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_ZZBP1],' ','') end as [EKPO_ZZBP1],
	CASE WHEN replace([EKPO_ZZCR1],' ','') = '' then NULL ELSE replace([EKPO_ZZCR1],' ','') end as [EKPO_ZZCR1],
	CASE WHEN replace([EKPO_ZZPT1],' ','') = '' then NULL ELSE replace([EKPO_ZZPT1],' ','') end as [EKPO_ZZPT1],
	CASE WHEN replace([EKPO_ZZPD1],' ','') = '' then '00000000' WHEN replace([EKPO_ZZPD1],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_ZZPD1]),'YYYYMMDD'),' ','') end as [EKPO_ZZPD1],
	CASE WHEN replace([EKPO_ZZBP2],' ','') = '' then '0.00' WHEN replace([EKPO_ZZBP2],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_ZZBP2],' ','') end as [EKPO_ZZBP2],
	CASE WHEN replace([EKPO_ZZCR2],' ','') = '' then NULL ELSE replace([EKPO_ZZCR2],' ','') end as [EKPO_ZZCR2],
	CASE WHEN replace([EKPO_ZZPT2],' ','') = '' then NULL ELSE replace([EKPO_ZZPT2],' ','') end as [EKPO_ZZPT2],
	CASE WHEN replace([EKPO_ZZPD2],' ','') = '' then '00000000' WHEN replace([EKPO_ZZPD2],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_ZZPD2]),'YYYYMMDD'),' ','') end as [EKPO_ZZPD2],
	CASE WHEN replace([EKPO_ZZBP3],' ','') = '' then '0.00' WHEN replace([EKPO_ZZBP3],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_ZZBP3],' ','') end as [EKPO_ZZBP3],
	CASE WHEN replace([EKPO_ZZCR3],' ','') = '' then NULL ELSE replace([EKPO_ZZCR3],' ','') end as [EKPO_ZZCR3],
	CASE WHEN replace([EKPO_ZZPT3],' ','') = '' then NULL ELSE replace([EKPO_ZZPT3],' ','') end as [EKPO_ZZPT3],
	CASE WHEN replace([EKPO_ZZPD3],' ','') = '' then '00000000' WHEN replace([EKPO_ZZPD3],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_ZZPD3]),'YYYYMMDD'),' ','') end as [EKPO_ZZPD3],
	CASE WHEN replace([EKPO_ZZBP4],' ','') = '' then '0.00' WHEN replace([EKPO_ZZBP4],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_ZZBP4],' ','') end as [EKPO_ZZBP4],
	CASE WHEN replace([EKPO_ZZCR4],' ','') = '' then NULL ELSE replace([EKPO_ZZCR4],' ','') end as [EKPO_ZZCR4],
	CASE WHEN replace([EKPO_ZZPT4],' ','') = '' then NULL ELSE replace([EKPO_ZZPT4],' ','') end as [EKPO_ZZPT4],
	CASE WHEN replace([EKPO_ZZPD4],' ','') = '' then '00000000' WHEN replace([EKPO_ZZPD4],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_ZZPD4]),'YYYYMMDD'),' ','') end as [EKPO_ZZPD4],
	CASE WHEN replace([EKPO_ZZBP5],' ','') = '' then '0.00' WHEN replace([EKPO_ZZBP5],' ','') IS NULL THEN '0.00' ELSE replace([EKPO_ZZBP5],' ','') end as [EKPO_ZZBP5],
	CASE WHEN replace([EKPO_ZZCR5],' ','') = '' then NULL ELSE replace([EKPO_ZZCR5],' ','') end as [EKPO_ZZCR5],
	CASE WHEN replace([EKPO_ZZPT5],' ','') = '' then NULL ELSE replace([EKPO_ZZPT5],' ','') end as [EKPO_ZZPT5],
	CASE WHEN replace([EKPO_ZZPD5],' ','') = '' then '00000000' WHEN replace([EKPO_ZZPD5],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPO_ZZPD5]),'YYYYMMDD'),' ','') end as [EKPO_ZZPD5],
	CASE WHEN replace([EKPO_WAERS],' ','') = '' then NULL ELSE replace([EKPO_WAERS],' ','') end as [EKPO_WAERS],
	CASE WHEN replace([EKPO_ADRNR],' ','') = '' then NULL ELSE replace([EKPO_ADRNR],' ','') end as [EKPO_ADRNR],
	CASE WHEN replace([EKPO_ADRN2],' ','') = '' then NULL ELSE replace([EKPO_ADRN2],' ','') end as [EKPO_ADRN2]
	from
	[dbo].[PO_Item]
	WHERE [EKPO_SYSID] not in ('LM3','IE3') 
	AND	[SSMA_LAST_TS]> DATEADD(day,-3,TRY_CONVERT(datetime2,GETDATE()))

END

GO
