USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_CO_Item]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_CO_Item]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[CO_Item]
(
[HASH_PO_HEADER],
[HASH_PO_ITEM],
[EKPOK_SYSID],
[EKPOK_MANDT],
[EKPOK_BUKRS],
[EKPOK_EBELN],
[EKPOK_EBELP],
[EKPOK_WERKS],
[EKPOK_LOEKZ],
[EKPOK_PSTYP],
[EKPOK_UDATE],
[EKPOK_ORDERDATE],
[EKPOK_MENGE],
[EKPOK_MEINS],
[EKPOK_NETWR],
[EKPOK_CAMOUNT],
[EKPOK_EURAMOUNT],
[EKPOK_WKURS],
[EKPOK_RATE],
[EKPOK_LONGTEXT],
[EKPOK_TXZ01],
[EKPOK_MATKL],
[EKPOK_MATNR],
[EKPOK_REVLV],
[EKPOK_IDNLF],
[EKPOK_BANFN],
[EKPOK_BNFPO],
[EKPOK_AFNAM],
[EKPOK_BEDNR],
[EKPOK_KONNR],
[EKPOK_KTPNR],
[EKPOK_WEPOS],
[EKPOK_EVERS],
[EKPOK_INSMK],
[EKPOK_MHDRZ],
[EKPOK_IPRKZ],
[EKPOK_SSQSS],
[EKPOK_PLIFZ],
[EKPOK_WEBAZ],
[EKPOK_LEWED],
[EKPOK_ABLAD],
[EKPOK_LGORT],
[EKPOK_NAME1],
[EKPOK_NAME2],
[EKPOK_STREET],
[EKPOK_POST_CODE1],
[EKPOK_CITY1],
[EKPOK_REGION],
[EKPOK_COUNTRY],
[EKPOK_PO_BOX],
[EKPOK_KZABS],
[EKPOK_LABNR],
[EKPOK_ELIKZ],
[EKPOK_EREKZ],
[EKPOK_UEBTO],
[EKPOK_UEBTK],
[EKPOK_UNTTO],
[EKPOK_XOBLR],
[EKPOK_KNTTP],
[EKPOK_VRTKZ],
[EKPOK_INCO1],
[EKPOK_INCO2],
[EKPOK_MFRNR],
[EKPOK_MFRPN],
[EKPOK_EAN11],
[EKPOK_ERUSERNAME],
[EKPOK_AEUSERNAME],
[EKPOK_AEDAT],
[EKPOK_DATUM],
[EKPOK_ZZBP1],
[EKPOK_ZZCR1],
[EKPOK_ZZPT1],
[EKPOK_ZZPD1],
[EKPOK_ZZBP2],
[EKPOK_ZZCR2],
[EKPOK_ZZPT2],
[EKPOK_ZZPD2],
[EKPOK_ZZBP3],
[EKPOK_ZZCR3],
[EKPOK_ZZPT3],
[EKPOK_ZZPD3],
[EKPOK_ZZBP4],
[EKPOK_ZZCR4],
[EKPOK_ZZPT4],
[EKPOK_ZZPD4],
[EKPOK_ZZBP5],
[EKPOK_ZZCR5],
[EKPOK_ZZPT5],
[EKPOK_ZZPD5],
[EKPOK_WAERS],
[EKPOK_ADRNR],
[EKPOK_ADRN2]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKPOK_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKPOK_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKPOK_EBELN],'"','')),' ',''))) as [HASH_PO_HEADER],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKPOK_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKPOK_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKPOK_EBELN],'"','')),' ',''),REPLACE([dbo].[add_0](5,REPLACE([EKPOK_EBELP],'"','')),' ',''))) as [HASH_PO_ITEM],
REPLACE([EKPOK_SYSID],'"',''),
REPLACE([EKPOK_MANDT],'"',''),
[dbo].[add_0](4,REPLACE([EKPOK_BUKRS],'"','')),
[dbo].[add_0](10,REPLACE([EKPOK_EBELN],'"','')),
[dbo].[add_0](5,REPLACE([EKPOK_EBELP],'"','')),
REPLACE([EKPOK_WERKS],'"',''),
REPLACE([EKPOK_LOEKZ],'"',''),
REPLACE([EKPOK_PSTYP],'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_UDATE],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_UDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_UDATE],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_UDATE],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_ORDERDATE],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_ORDERDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_ORDERDATE],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ORDERDATE],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_MENGE],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([EKPOK_MENGE],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_MENGE],
REPLACE([EKPOK_MEINS],'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_NETWR],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_NETWR],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_NETWR],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_CAMOUNT],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_CAMOUNT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_CAMOUNT],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_EURAMOUNT],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_EURAMOUNT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_EURAMOUNT],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_WKURS],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,5),REPLACE(REPLACE(REPLACE([EKPOK_WKURS],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_WKURS],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_RATE],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,5),REPLACE(REPLACE(REPLACE([EKPOK_RATE],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_RATE],
REPLACE([EKPOK_LONGTEXT],'"',''),
REPLACE([EKPOK_TXZ01],'"',''),
REPLACE([EKPOK_MATKL],'"',''),
REPLACE([EKPOK_MATNR],'"',''),
REPLACE([EKPOK_REVLV],'"',''),
REPLACE([EKPOK_IDNLF],'"',''),
REPLACE([EKPOK_BANFN],'"',''),
[dbo].[add_0](5,REPLACE([EKPOK_BNFPO],'"','')),
REPLACE([EKPOK_AFNAM],'"',''),
REPLACE([EKPOK_BEDNR],'"',''),
[dbo].[add_0](10,REPLACE([EKPOK_KONNR],'"','')),
[dbo].[add_0](5,REPLACE([EKPOK_KTPNR],'"','')),
REPLACE([EKPOK_WEPOS],'"',''),
REPLACE([EKPOK_EVERS],'"',''),
REPLACE([EKPOK_INSMK],'"',''),
REPLACE([EKPOK_MHDRZ],'"',''),
REPLACE([EKPOK_IPRKZ],'"',''),
REPLACE([EKPOK_SSQSS],'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_PLIFZ],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_PLIFZ],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_PLIFZ],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_WEBAZ],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_WEBAZ],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_WEBAZ],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_LEWED],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_LEWED],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_LEWED],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_LEWED],
REPLACE([EKPOK_ABLAD],'"',''),
REPLACE([EKPOK_LGORT],'"',''),
REPLACE([EKPOK_NAME1],'"',''),
REPLACE([EKPOK_NAME2],'"',''),
REPLACE([EKPOK_STREET],'"',''),
REPLACE([EKPOK_POST_CODE1],'"',''),
REPLACE([EKPOK_CITY1],'"',''),
REPLACE([EKPOK_REGION],'"',''),
REPLACE([EKPOK_COUNTRY],'"',''),
REPLACE([EKPOK_PO_BOX],'"',''),
REPLACE([EKPOK_KZABS],'"',''),
REPLACE([EKPOK_LABNR],'"',''),
REPLACE([EKPOK_ELIKZ],'"',''),
REPLACE([EKPOK_EREKZ],'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_UEBTO],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_UEBTO],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_UEBTO],

REPLACE([EKPOK_UEBTK],'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_UNTTO],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_UNTTO],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_UNTTO],
REPLACE([EKPOK_XOBLR],'"',''),
REPLACE([EKPOK_KNTTP],'"',''),
REPLACE([EKPOK_VRTKZ],'"',''),
REPLACE([EKPOK_INCO1],'"',''),
REPLACE([EKPOK_INCO2],'"',''),
REPLACE([EKPOK_MFRNR],'"',''),
REPLACE([EKPOK_MFRPN],'"',''),
REPLACE([EKPOK_EAN11],'"',''),
REPLACE([EKPOK_ERUSERNAME],'"',''),
REPLACE([EKPOK_AEUSERNAME],'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_AEDAT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_AEDAT],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_DATUM],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_DATUM],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_DATUM],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_DATUM],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_ZZBP1],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_ZZBP1],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZBP1],
REPLACE([EKPOK_ZZCR1],'"',''),
REPLACE([EKPOK_ZZPT1],'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_ZZPD1],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_ZZPD1],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_ZZPD1],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZPD1],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_ZZBP2],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_ZZBP2],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZBP2],
REPLACE([EKPOK_ZZCR2],'"',''),
REPLACE([EKPOK_ZZPT2],'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_ZZPD2],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_ZZPD2],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_ZZPD2],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZPD2],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_ZZBP3],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_ZZBP3],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZBP3],
REPLACE([EKPOK_ZZCR3],'"',''),
REPLACE([EKPOK_ZZPT3],'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_ZZPD3],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_ZZPD3],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_ZZPD3],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZPD3],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_ZZBP4],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_ZZBP4],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZBP4],
REPLACE([EKPOK_ZZCR4],'"',''),
REPLACE([EKPOK_ZZPT4],'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_ZZPD4],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_ZZPD4],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_ZZPD4],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZPD4],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EKPOK_ZZBP5],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,2),REPLACE(REPLACE(REPLACE([EKPOK_ZZBP5],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZBP5],
REPLACE([EKPOK_ZZCR5],'"',''),
REPLACE([EKPOK_ZZPT5],'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EKPOK_ZZPD5],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKPOK_ZZPD5],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKPOK_ZZPD5],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EKPOK_ZZPD5],
REPLACE([EKPOK_WAERS],'"',''),
REPLACE([EKPOK_ADRNR],'"',''),
REPLACE([EKPOK_ADRN2],'"','')
FROM
[dbo].[CO_Item_ETL]
where [EKPOK_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
