USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_PO_Header]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_PO_Header]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- remove ocmment in case of troubles to update
--SET ansi_warnings OFFSET DATEFORMAT DMY;
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[PO_Header]
(
[HASH_PO_HEADER],
[HASH_MD_PGROUP],
[HASH_SUPPLIER_LFA1],
[HASH_SUPPLIER_LFB1],
[HASH_SUPPLIER_LFM1],
[EKKO_SYSID],
[EKKO_MANDT],
[EKKO_BUKRS],
[EKKO_EBELN],
[EKKO_LOEKZ],
[EKKO_AEDAT],
[EKKO_BEDAT],
[EKKO_WAERS],
[EKKO_WKURS],
[EKKO_KUFIX],
[EKKO_CWAERS],
[EKKO_LONGTEXT],
[EKKO_LIFNR],
[EKKO_BSTYP],
[EKKO_BSART],
[EKKO_INCO1],
[EKKO_INCO2],
[EKKO_ZTERM],
[EKKO_EKORG],
[EKKO_EKGRP],
[EKKO_IHREZ],
[EKKO_UNSEZ],
[EKKO_KDATB],
[EKKO_KDATE],
[EKKO_KONNR],
[EKKO_ANGNR],
[EKKO_IHRAN],
[EKKO_SUBMI],
[EKKO_STCEG],
[EKKO_EKGSM],
[EKKO_UEBDT],
[EKKO_ERNAM],
[EKKO_AEUSERNAME],
[EKKO_UDATE],
[EKKO_DATUM]
)
SELECT
[HASH_PO_HEADER],
[HASH_MD_PGROUP],
[HASH_SUPPLIER_LFA1],
[HASH_SUPPLIER_LFB1],
[HASH_SUPPLIER_LFM1],
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKO_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKKO_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKKO_EBELN] ,'"','')),' ',''))) as [HASH_PO_HEADER],
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKO_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKKO_MANDT],'"',''),' ',''),REPLACE(REPLACE([EKKO_EKGRP],'"',''),' ',''))) as [HASH_MD_PGROUP],
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKO_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKKO_MANDT],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([EKKO_LIFNR],'"','')),' ',''))) as [HASH_SUPPLIER_LFA1],
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKO_SYSID],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([EKKO_LIFNR],'"','')),' ',''),REPLACE([dbo].[add_0](4,REPLACE([EKKO_BUKRS] ,'"','')),' ',''))) as [HASH_SUPPLIER_LFB1],
--HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKO_SYSID],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([EKKO_LIFNR],'"','')),' ',''),REPLACE([dbo].[rem_0](REPLACE([EKKO_EKORG],'"','')),' ',''))) as [HASH_SUPPLIER_LFM1],
REPLACE([EKKO_SYSID],'"',''),
REPLACE([EKKO_MANDT],'"',''),
[dbo].[add_0](4,REPLACE([EKKO_BUKRS] ,'"','')),
[dbo].[add_0](10,REPLACE([EKKO_EBELN] ,'"','')),
REPLACE([EKKO_LOEKZ],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_AEDAT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_AEDAT],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_BEDAT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_BEDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_BEDAT],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_BEDAT],
REPLACE([EKKO_WAERS],'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([EKKO_WKURS],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,5),REPLACE(REPLACE(REPLACE([EKKO_WKURS],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_WKURS],
REPLACE([EKKO_KUFIX],'"',''),
REPLACE([EKKO_CWAERS],'"',''),
REPLACE([EKKO_LONGTEXT],'"',''),
[dbo].[rem_0](REPLACE([EKKO_LIFNR],'"','')),
REPLACE([EKKO_BSTYP],'"',''),
REPLACE([EKKO_BSART],'"',''),
REPLACE([EKKO_INCO1],'"',''),
REPLACE([EKKO_INCO2],'"',''),
REPLACE([EKKO_ZTERM],'"',''),
REPLACE([EKKO_EKORG],'"',''),
REPLACE([EKKO_EKGRP],'"',''),
REPLACE([EKKO_IHREZ],'"',''),
REPLACE([EKKO_UNSEZ],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_KDATB] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_KDATB],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_KDATB],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_KDATB],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_KDATE] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_KDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_KDATE],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_KDATE],
[dbo].[add_0](10,REPLACE([EKKO_KONNR] ,'"','')),
REPLACE([EKKO_ANGNR],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_IHRAN] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_IHRAN],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_IHRAN],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_IHRAN],
REPLACE([EKKO_SUBMI],'"',''),
REPLACE([EKKO_STCEG],'"',''),
REPLACE([EKKO_EKGSM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_UEBDT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_UEBDT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_UEBDT],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_UEBDT],
REPLACE([EKKO_ERNAM],'"',''),
REPLACE([EKKO_AEUSERNAME],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_UDATE] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_UDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_UDATE],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_UDATE],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([EKKO_DATUM] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKO_DATUM],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKO_DATUM],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [EKKO_DATUM]
FROM
[dbo].[PO_Header_ETL]
where [EKKO_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
