USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_INV_Header_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_INV_Header_TMP](
	[BKPF_SYSID] [varchar](max) NULL,
	[BKPF_BUKRS] [varchar](max) NULL,
	[BKPF_GJAHR] [varchar](max) NULL,
	[BKPF_BELNR] [varchar](max) NULL,
	[NOT_APPLICABLE_01] [varchar](max) NULL,
	[NOT_APPLICABLE_02] [varchar](max) NULL,
	[NOT_APPLICABLE_03] [varchar](max) NULL,
	[BKPF_BUDAT] [varchar](max) NULL,
	[BKPF_AEDAT] [varchar](max) NULL,
	[BKPF_CPUDT] [varchar](max) NULL,
	[NOT_APPLICABLE_04] [varchar](max) NULL,
	[NOT_APPLICABLE_05] [varchar](max) NULL,
	[NOT_APPLICABLE_06] [varchar](max) NULL,
	[BKPF_KURSF] [varchar](max) NULL,
	[NOT_APPLICABLE_07] [varchar](max) NULL,
	[BKPF_WAERS] [varchar](max) NULL,
	[NOT_APPLICABLE_08] [varchar](max) NULL,
	[EUR] [varchar](max) NULL,
	[NOT_APPLICABLE_09] [varchar](max) NULL,
	[NOT_APPLICABLE_10] [varchar](max) NULL,
	[BKPF_BKTXT] [varchar](max) NULL,
	[NOT_APPLICABLE_11] [varchar](max) NULL,
	[NOT_APPLICABLE_12] [varchar](max) NULL,
	[NOT_APPLICABLE_13] [varchar](max) NULL,
	[NOT_APPLICABLE_14] [varchar](max) NULL,
	[NOT_APPLICABLE_15] [varchar](max) NULL,
	[NOT_APPLICABLE_16] [varchar](max) NULL,
	[NOT_APPLICABLE_17] [varchar](max) NULL,
	[NOT_APPLICABLE_18] [varchar](max) NULL,
	[NOT_APPLICABLE_19] [varchar](max) NULL,
	[NOT_APPLICABLE_20] [varchar](max) NULL,
	[NOT_APPLICABLE_21] [varchar](max) NULL,
	[NOT_APPLICABLE_22] [varchar](max) NULL,
	[NOT_APPLICABLE_23] [varchar](max) NULL,
	[NOT_APPLICABLE_24] [varchar](max) NULL,
	[NOT_APPLICABLE_25] [varchar](max) NULL,
	[BKPF_BLDAT] [varchar](max) NULL,
	[NOT_APPLICABLE_26] [varchar](max) NULL,
	[NOT_APPLICABLE_27] [varchar](max) NULL,
	[BKPF_XBLNR] [varchar](max) NULL,
	[NOT_APPLICABLE_28] [varchar](max) NULL,
	[NOT_APPLICABLE_29] [varchar](max) NULL,
	[BKPF_BLART] [varchar](max) NULL,
	[NOT_APPLICABLE_30] [varchar](max) NULL,
	[NOT_APPLICABLE_31] [varchar](max) NULL,
	[NOT_APPLICABLE_32] [varchar](max) NULL,
	[NOT_APPLICABLE_33] [varchar](max) NULL,
	[NOT_APPLICABLE_34] [varchar](max) NULL,
	[NOT_APPLICABLE_35] [varchar](max) NULL,
	[NOT_APPLICABLE_36] [varchar](max) NULL,
	[NOT_APPLICABLE_37] [varchar](max) NULL,
	[NOT_APPLICABLE_38] [varchar](max) NULL,
	[NOT_APPLICABLE_39] [varchar](max) NULL,
	[NOT_APPLICABLE_40] [varchar](max) NULL,
	[NOT_APPLICABLE_41] [varchar](max) NULL,
	[NOT_APPLICABLE_42] [varchar](max) NULL,
	[NOT_APPLICABLE_43] [varchar](max) NULL,
	[BKPF_BSTAT] [varchar](max) NULL,
	[BKPF_STJAH] [varchar](max) NULL,
	[BKPF_STBLG] [varchar](max) NULL,
	[BKPF_XREVERSAL] [varchar](max) NULL,
	[BKPF_DATUM] [varchar](max) NULL,
	[BKPF_MANDT] [varchar](max) NULL,
	[BKPF_WWERT] [varchar](max) NULL,
	[BKPF_HWAER] [varchar](max) NULL,
	[BKPF_ERUSERNAME] [varchar](max) NULL,
	[BKPF_AEUSERNAME] [varchar](max) NULL,
	[BKPF_AUSBK] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
