USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_INV_Item_SP1_500_ETL]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_INV_Item_SP1_500_ETL](
	[HASH_INV_ITEM_UNIQUE] [binary](16) NULL,
	[HASH_INV_ITEM] [binary](16) NULL,
	[BSEG_SYSID] [nvarchar](255) NULL,
	[BSEG_MANDT] [nvarchar](255) NULL,
	[BSEG_GJAHR] [nvarchar](255) NULL,
	[BSEG_BELNR] [nvarchar](255) NULL,
	[BSEG_BUZEI] [nvarchar](255) NULL,
	[BSEG_BUZID] [nvarchar](255) NULL,
	[BSEG_BUKRS] [nvarchar](255) NULL,
	[BSEG_MENGE] [nvarchar](255) NULL,
	[BSEG_MEINS] [nvarchar](255) NULL,
	[BSEG_WRBTR] [nvarchar](255) NULL,
	[BSEG_DMBTR] [nvarchar](255) NULL,
	[BSEG_AMOUNTEUR] [nvarchar](255) NULL,
	[BSEG_LONGTEXT] [nvarchar](max) NULL,
	[BSEG_SGTXT] [nvarchar](255) NULL,
	[BSEG_MATNR] [nvarchar](255) NULL,
	[BSEG_LIFNR] [nvarchar](255) NULL,
	[BSEG_HKONT] [nvarchar](255) NULL,
	[BSEG_SAKNR] [nvarchar](255) NULL,
	[BSEG_WERKS] [nvarchar](255) NULL,
	[BSEG_KOSTL] [nvarchar](255) NULL,
	[BSEG_VERTN] [nvarchar](255) NULL,
	[BSEG_EBELN] [nvarchar](255) NULL,
	[BSEG_EBELP] [nvarchar](255) NULL,
	[BSEG_ZEKKN] [nvarchar](255) NULL,
	[BSEG_AUGDT] [nvarchar](255) NULL,
	[BSEG_ZUONR] [nvarchar](255) NULL,
	[BSEG_ZTERM] [nvarchar](255) NULL,
	[BSEG_BSCHL] [nvarchar](255) NULL,
	[BSEG_KOART] [nvarchar](255) NULL,
	[BSEG_SHKZG] [nvarchar](255) NULL,
	[BSEG_MWSKZ] [nvarchar](255) NULL,
	[BSEG_MWART] [nvarchar](255) NULL,
	[BSEG_KTOSL] [nvarchar](255) NULL,
	[BSEG_BEWAR] [nvarchar](255) NULL,
	[BSEG_XUMSW] [nvarchar](255) NULL,
	[BSEG_POSID] [nvarchar](255) NULL,
	[BSEG_NPLNR] [nvarchar](255) NULL,
	[BSEG_ZZBKZ] [nvarchar](255) NULL,
	[BSEG_PRCTR] [nvarchar](255) NULL,
	[BSEG_AUFNR] [nvarchar](255) NULL,
	[BSEG_VBEL2] [nvarchar](255) NULL,
	[BSEG_POSN2] [nvarchar](255) NULL,
	[BSEG_AUGGJ] [nvarchar](255) NULL,
	[BSEG_AUGBL] [nvarchar](255) NULL,
	[BSEG_AGZEI] [nvarchar](255) NULL,
	[BSEG_ERUSERNAME] [nvarchar](255) NULL,
	[BSEG_UDATE] [nvarchar](255) NULL,
	[BSEG_AEUSERNAME] [nvarchar](255) NULL,
	[BSEG_UDATE_2] [nvarchar](255) NULL,
	[BSEG_DATUM] [nvarchar](255) NULL,
	[BSEG_BUDAT] [nvarchar](255) NULL,
	[BSEG_PROJK] [nvarchar](255) NULL,
	[BSEG_ERDATE] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
