USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_PO_Confirmation_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_PO_Confirmation_TMP](
	[EKES_SYSID ] [varchar](max) NULL,
	[NOT_APPLICABLE_01] [varchar](max) NULL,
	[NOT_APPLICABLE_02] [varchar](max) NULL,
	[EKES_EBELN ] [varchar](max) NULL,
	[NOT_APPLICABLE_03] [varchar](max) NULL,
	[EKES_EBELP ] [varchar](max) NULL,
	[EKES_LOEKZ ] [varchar](max) NULL,
	[NOT_APPLICABLE_04 ] [varchar](max) NULL,
	[NOT_APPLICABLE_05] [varchar](max) NULL,
	[NOT_APPLICABLE_06] [varchar](max) NULL,
	[NOT_APPLICABLE_07] [varchar](max) NULL,
	[NOT_APPLICABLE_08] [varchar](max) NULL,
	[EKES_UDATE ] [varchar](max) NULL,
	[EKES_MENGE ] [varchar](max) NULL,
	[NOT_APPLICABLE_09 ] [varchar](max) NULL,
	[NOT_APPLICABLE_10] [varchar](max) NULL,
	[NOT_APPLICABLE_11] [varchar](max) NULL,
	[NOT_APPLICABLE_12] [varchar](max) NULL,
	[NOT_APPLICABLE_13] [varchar](max) NULL,
	[NOT_APPLICABLE_14] [varchar](max) NULL,
	[NOT_APPLICABLE_15] [varchar](max) NULL,
	[NOT_APPLICABLE_16] [varchar](max) NULL,
	[NOT_APPLICABLE_17] [varchar](max) NULL,
	[NOT_APPLICABLE_18] [varchar](max) NULL,
	[NOT_APPLICABLE_19] [varchar](max) NULL,
	[NOT_APPLICABLE_20] [varchar](max) NULL,
	[NOT_APPLICABLE_21] [varchar](max) NULL,
	[NOT_APPLICABLE_22] [varchar](max) NULL,
	[NOT_APPLICABLE_23] [varchar](max) NULL,
	[NOT_APPLICABLE_24] [varchar](max) NULL,
	[NOT_APPLICABLE_25] [varchar](max) NULL,
	[NOT_APPLICABLE_26] [varchar](max) NULL,
	[NOT_APPLICABLE_27] [varchar](max) NULL,
	[NOT_APPLICABLE_28] [varchar](max) NULL,
	[NOT_APPLICABLE_29] [varchar](max) NULL,
	[EKES_VBELN ] [varchar](max) NULL,
	[EKES_VBELP ] [varchar](max) NULL,
	[NOT_APPLICABLE_30 ] [varchar](max) NULL,
	[NOT_APPLICABLE_31] [varchar](max) NULL,
	[NOT_APPLICABLE_32] [varchar](max) NULL,
	[NOT_APPLICABLE_33] [varchar](max) NULL,
	[NOT_APPLICABLE_34] [varchar](max) NULL,
	[NOT_APPLICABLE_35] [varchar](max) NULL,
	[NOT_APPLICABLE_36] [varchar](max) NULL,
	[NOT_APPLICABLE_37] [varchar](max) NULL,
	[NOT_APPLICABLE_38] [varchar](max) NULL,
	[NOT_APPLICABLE_39] [varchar](max) NULL,
	[NOT_APPLICABLE_40] [varchar](max) NULL,
	[NOT_APPLICABLE_41] [varchar](max) NULL,
	[NOT_APPLICABLE_42] [varchar](max) NULL,
	[NOT_APPLICABLE_43] [varchar](max) NULL,
	[NOT_APPLICABLE_44] [varchar](max) NULL,
	[NOT_APPLICABLE_45] [varchar](max) NULL,
	[NOT_APPLICABLE_46] [varchar](max) NULL,
	[NOT_APPLICABLE_47] [varchar](max) NULL,
	[NOT_APPLICABLE_48] [varchar](max) NULL,
	[NOT_APPLICABLE_49] [varchar](max) NULL,
	[NOT_APPLICABLE_50] [varchar](max) NULL,
	[EKES_XBLNR ] [varchar](max) NULL,
	[NOT_APPLICABLE_51] [varchar](max) NULL,
	[EKES_ERDAT ] [varchar](max) NULL,
	[EKES_EINDT ] [varchar](max) NULL,
	[NOT_APPLICABLE_52] [varchar](max) NULL,
	[NOT_APPLICABLE_53] [varchar](max) NULL,
	[NOT_APPLICABLE_54] [varchar](max) NULL,
	[NOT_APPLICABLE_55] [varchar](max) NULL,
	[NOT_APPLICABLE_56] [varchar](max) NULL,
	[NOT_APPLICABLE_57] [varchar](max) NULL,
	[NOT_APPLICABLE_58] [varchar](max) NULL,
	[NOT_APPLICABLE_59] [varchar](max) NULL,
	[NOT_APPLICABLE_60] [varchar](max) NULL,
	[NOT_APPLICABLE_61] [varchar](max) NULL,
	[NOT_APPLICABLE_62] [varchar](max) NULL,
	[NOT_APPLICABLE_63] [varchar](max) NULL,
	[NOT_APPLICABLE_64] [varchar](max) NULL,
	[NOT_APPLICABLE_65] [varchar](max) NULL,
	[NOT_APPLICABLE_66] [varchar](max) NULL,
	[NOT_APPLICABLE_67] [varchar](max) NULL,
	[NOT_APPLICABLE_68] [varchar](max) NULL,
	[EKES_AEUSERNAME ] [varchar](max) NULL,
	[EKES_ERUSERNAME ] [varchar](max) NULL,
	[EKES_DATUM ] [varchar](max) NULL,
	[NOT_APPLICABLE_69] [varchar](max) NULL,
	[NOT_APPLICABLE_70] [varchar](max) NULL,
	[NOT_APPLICABLE_71] [varchar](max) NULL,
	[NOT_APPLICABLE_72] [varchar](max) NULL,
	[NOT_APPLICABLE_73] [varchar](max) NULL,
	[NOT_APPLICABLE_74] [varchar](max) NULL,
	[NOT_APPLICABLE_75] [varchar](max) NULL,
	[NOT_APPLICABLE_76] [varchar](max) NULL,
	[NOT_APPLICABLE_77] [varchar](max) NULL,
	[NOT_APPLICABLE_78] [varchar](max) NULL,
	[NOT_APPLICABLE_79] [varchar](max) NULL,
	[NOT_APPLICABLE_80] [varchar](max) NULL,
	[NOT_APPLICABLE_81] [varchar](max) NULL,
	[NOT_APPLICABLE_82] [varchar](max) NULL,
	[NOT_APPLICABLE_83] [varchar](max) NULL,
	[NOT_APPLICABLE_84] [varchar](max) NULL,
	[NOT_APPLICABLE_85] [varchar](max) NULL,
	[NOT_APPLICABLE_86] [varchar](max) NULL,
	[NOT_APPLICABLE_87] [varchar](max) NULL,
	[NOT_APPLICABLE_88] [varchar](max) NULL,
	[EKES_MANDT] [varchar](max) NULL,
	[EKES_CHARG] [varchar](max) NULL,
	[EKES_DABMG] [varchar](max) NULL,
	[EKES_EBTYP] [varchar](max) NULL,
	[EKES_EMATN] [varchar](max) NULL,
	[EKES_ESTKZ] [varchar](max) NULL,
	[EKES_ETENS] [varchar](max) NULL,
	[EKES_EZEIT] [varchar](max) NULL,
	[EKES_IMWRK] [varchar](max) NULL,
	[EKES_J_3AETENR] [varchar](max) NULL,
	[EKES_KZDIS] [varchar](max) NULL,
	[EKES_LPEIN] [varchar](max) NULL,
	[EKES_MAHNZ] [varchar](max) NULL,
	[EKES_MPROF] [varchar](max) NULL,
	[EKES_REF_ETENS] [varchar](max) NULL,
	[EKES_UECHA] [varchar](max) NULL,
	[EKES_UZEIT] [varchar](max) NULL,
	[EKES_VBELN_ST] [varchar](max) NULL,
	[EKES_VBELP_ST] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
