USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_PR_Accounting_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_PR_Accounting_TMP](
	[EBKN_SYSID] [varchar](max) NULL,
	[NOT_APPLICABLE_01] [varchar](max) NULL,
	[NOT_APPLICABLE_02] [varchar](max) NULL,
	[EBKN_BANFN] [varchar](max) NULL,
	[NOT_APPLICABLE_03] [varchar](max) NULL,
	[EBKN_BNFPO] [varchar](max) NULL,
	[NOT_APPLICABLE_04] [varchar](max) NULL,
	[NOT_APPLICABLE_06] [varchar](max) NULL,
	[EBKN_ERDAT] [varchar](max) NULL,
	[EBKN_UDATE] [varchar](max) NULL,
	[EBAN_MENGE] [varchar](max) NULL,
	[NOT_APPLICABLE_07] [varchar](max) NULL,
	[NOT_APPLICABLE_08] [varchar](max) NULL,
	[EBKN_NETWR] [varchar](max) NULL,
	[NOT_APPLICABLE_09] [varchar](max) NULL,
	[NOT_APPLICABLE_10] [varchar](max) NULL,
	[NOT_APPLICABLE_11] [varchar](max) NULL,
	[NOT_APPLICABLE_12] [varchar](max) NULL,
	[NOT_APPLICABLE_13] [varchar](max) NULL,
	[NOT_APPLICABLE_14] [varchar](max) NULL,
	[NOT_APPLICABLE_15] [varchar](max) NULL,
	[NOT_APPLICABLE_16] [varchar](max) NULL,
	[NOT_APPLICABLE_17] [varchar](max) NULL,
	[EBKN_SAKTO] [varchar](max) NULL,
	[NOT_APPLICABLE_18] [varchar](max) NULL,
	[EBKN_KOSTL] [varchar](max) NULL,
	[NOT_APPLICABLE _19] [varchar](max) NULL,
	[NOT_APPLICABLE_20] [varchar](max) NULL,
	[NOT_APPLICABLE_21] [varchar](max) NULL,
	[EBKN_PRCTR] [varchar](max) NULL,
	[NOT_APPLICABLE_22] [varchar](max) NULL,
	[NOT_APPLICABLE_23] [varchar](max) NULL,
	[NOT_APPLICABLE_24] [varchar](max) NULL,
	[NOT_APPLICABLE_25] [varchar](max) NULL,
	[EBKN_DATUM] [varchar](max) NULL,
	[EBKN_MANDT] [varchar](max) NULL,
	[EBKN_ZEBKN] [varchar](max) NULL,
	[EBKN_LOEKZ] [varchar](max) NULL,
	[EBKN_ERNAM] [varchar](max) NULL,
	[EBKN_VPROZ] [varchar](max) NULL,
	[EBKN_VBELN] [varchar](max) NULL,
	[EBKN_VBELP] [varchar](max) NULL,
	[EBKN_VETEN] [varchar](max) NULL,
	[EBKN_ANLN1] [varchar](max) NULL,
	[EBKN_ANLN2] [varchar](max) NULL,
	[EBKN_AUFNR] [varchar](max) NULL,
	[EBKN_WEMPF] [varchar](max) NULL,
	[EBKN_ABLAD] [varchar](max) NULL,
	[EBKN_KOKRS] [varchar](max) NULL,
	[EBKN_KSTRG] [varchar](max) NULL,
	[EBKN_PS_PSP_PNR] [varchar](max) NULL,
	[EBKN_NPLNR] [varchar](max) NULL,
	[EBKN_AUFPL] [varchar](max) NULL,
	[EBKN_APLZL] [varchar](max) NULL,
	[EBKN_DABRZ] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
