USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[EXTRACTION_CFT_Item]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<Galli GO>
-- Create date: <Feb, 2018>
-- Description:	<ETL>
-- =============================================
CREATE PROCEDURE [dbo].[EXTRACTION_CFT_Item]
AS
BEGIN
	SET NOCOUNT ON;
select
'EKPOA_SYSID',
'EKPOA_MANDT',
'EKPOA_BUKRS',
'EKPOA_EBELN',
'EKPOA_EBELP',
'EKPOA_WERKS',
'EKPOA_LOEKZ',
'EKPOA_PSTYP',
'EKPOA_UDATE',
'EKPOA_ORDERDATE',
'EKPOA_MENGE',
'EKPOA_MEINS',
'EKPOA_NETWR',
'EKPOA_CAMOUNT',
'EKPOA_EURAMOUNT',
'EKPOA_WKURS',
'EKPOA_RATE',
'EKPOA_LONGTEXT',
'EKPOA_TXZ01',
'EKPOA_MATKL',
'EKPOA_MATNR',
'EKPOA_REVLV',
'EKPOA_IDNLF',
'EKPOA_BANFN',
'EKPOA_BNFPO',
'EKPOA_AFNAM',
'EKPOA_BEDNR',
'EKPOA_KONNR',
'EKPOA_KTPNR',
'EKPOA_WEPOS',
'EKPOA_EVERS',
'EKPOA_INSMK',
'EKPOA_MHDRZ',
'EKPOA_IPRKZ',
'EKPOA_SSQSS',
'EKPOA_PLIFZ',
'EKPOA_WEBAZ',
'EKPOA_LEWED',
'EKPOA_ABLAD',
'EKPOA_LGORT',
'EKPOA_NAME1',
'EKPOA_NAME2',
'EKPOA_STREET',
'EKPOA_POST_CODE1',
'EKPOA_CITY1',
'EKPOA_REGION',
'EKPOA_COUNTRY',
'EKPOA_PO_BOX',
'EKPOA_KZABS',
'EKPOA_LABNR',
'EKPOA_ELIKZ',
'EKPOA_EREKZ',
'EKPOA_UEBTO',
'EKPOA_UEBTK',
'EKPOA_UNTTO',
'EKPOA_XOBLR',
'EKPOA_KNTTP',
'EKPOA_VRTKZ',
'EKPOA_INCO1',
'EKPOA_INCO2',
'EKPOA_MFRNR',
'EKPOA_MFRPN',
'EKPOA_EAN11',
'EKPOA_ERUSERNAME',
'EKPOA_AEUSERNAME',
'EKPOA_AEDAT',
'EKPOA_DATUM',
'EKPOA_ZZBP1',
'EKPOA_ZZCR1',
'EKPOA_ZZPT1',
'EKPOA_ZZPD1',
'EKPOA_ZZBP2',
'EKPOA_ZZCR2',
'EKPOA_ZZPT2',
'EKPOA_ZZPD2',
'EKPOA_ZZBP3',
'EKPOA_ZZCR3',
'EKPOA_ZZPT3',
'EKPOA_ZZPD3',
'EKPOA_ZZBP4',
'EKPOA_ZZCR4',
'EKPOA_ZZPT4',
'EKPOA_ZZPD4',
'EKPOA_ZZBP5',
'EKPOA_ZZCR5',
'EKPOA_ZZPT5',
'EKPOA_ZZPD5', 
'EKPOA_WAERS',
'EKPOA_ADRNR',
'EKPOA_ADRN2'

union all
select	
	CASE WHEN replace([EKPOA_SYSID],' ','') = '' then NULL ELSE replace([EKPOA_SYSID],' ','') end as [EKPOA_SYSID],
	CASE WHEN replace([EKPOA_MANDT],' ','') = '' then NULL ELSE replace([EKPOA_MANDT],' ','') end as [EKPOA_MANDT],
	CASE WHEN replace([EKPOA_BUKRS],' ','') = '' then NULL ELSE replace([EKPOA_BUKRS],' ','') end as [EKPOA_BUKRS],
	CASE WHEN replace([EKPOA_EBELN],' ','') = '' then NULL ELSE replace([EKPOA_EBELN],' ','') end as [EKPOA_EBELN],
	CASE WHEN replace([EKPOA_EBELP],' ','') = '' then NULL ELSE replace([EKPOA_EBELP],' ','') end as [EKPOA_EBELP],
	CASE WHEN replace([EKPOA_WERKS],' ','') = '' then NULL ELSE replace([EKPOA_WERKS],' ','') end as [EKPOA_WERKS],
	CASE WHEN replace([EKPOA_LOEKZ],' ','') = '' then NULL ELSE replace([EKPOA_LOEKZ],' ','') end as [EKPOA_LOEKZ],
	CASE WHEN replace([EKPOA_PSTYP],' ','') = '' then NULL ELSE replace([EKPOA_PSTYP],' ','') end as [EKPOA_PSTYP],
	CASE WHEN replace([EKPOA_UDATE],' ','') = '' then '00000000' WHEN replace([EKPOA_UDATE],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_UDATE]),'YYYYMMDD'),' ','') end as [EKPOA_UDATE],
	CASE WHEN replace([EKPOA_ORDERDATE],' ','') = '' then '00000000' WHEN replace([EKPOA_ORDERDATE],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_ORDERDATE]),'YYYYMMDD'),' ','') end as [EKPOA_ORDERDATE],
	CASE WHEN replace([EKPOA_MENGE],' ','') = '' then '0.000' WHEN replace([EKPOA_MENGE],' ','') IS NULL THEN '0.000' ELSE replace([EKPOA_MENGE],' ','') end as [EKPOA_MENGE],
	CASE WHEN replace([EKPOA_MEINS],' ','') = '' then NULL ELSE replace([EKPOA_MEINS],' ','') end as [EKPOA_MEINS],
	CASE WHEN replace([EKPOA_NETWR],' ','') = '' then '0.00' WHEN replace([EKPOA_NETWR],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_NETWR],' ','') end as [EKPOA_NETWR],
	CASE WHEN replace([EKPOA_CAMOUNT],' ','') = '' then '0.00' WHEN replace([EKPOA_CAMOUNT],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_CAMOUNT],' ','') end as [EKPOA_CAMOUNT],
	CASE WHEN replace([EKPOA_EURAMOUNT],' ','') = '' then '0.00' WHEN replace([EKPOA_EURAMOUNT],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_EURAMOUNT],' ','') end as [EKPOA_EURAMOUNT],
	CASE WHEN replace([EKPOA_WKURS],' ','') = '' then '0.00000' WHEN replace([EKPOA_WKURS],' ','') IS NULL THEN '0.00000' ELSE replace([EKPOA_WKURS],' ','') end as [EKPOA_WKURS],
	CASE WHEN replace([EKPOA_RATE],' ','') = '' then '0.00000' WHEN replace([EKPOA_RATE],' ','') IS NULL THEN '0.00000' ELSE replace([EKPOA_RATE],' ','') end as [EKPOA_RATE],
	CASE WHEN replace([EKPOA_LONGTEXT],' ','') = '' then NULL ELSE replace([EKPOA_LONGTEXT],' ','') end as [EKPOA_LONGTEXT],
	CASE WHEN replace([EKPOA_TXZ01],' ','') = '' then NULL ELSE replace([EKPOA_TXZ01],' ','') end as [EKPOA_TXZ01],
	CASE WHEN replace([EKPOA_MATKL],' ','') = '' then NULL ELSE replace([EKPOA_MATKL],' ','') end as [EKPOA_MATKL],
	CASE WHEN replace([EKPOA_MATNR],' ','') = '' then NULL ELSE replace([EKPOA_MATNR],' ','') end as [EKPOA_MATNR],
	CASE WHEN replace([EKPOA_REVLV],' ','') = '' then NULL ELSE replace([EKPOA_REVLV],' ','') end as [EKPOA_REVLV],
	CASE WHEN replace([EKPOA_IDNLF],' ','') = '' then NULL ELSE replace([EKPOA_IDNLF],' ','') end as [EKPOA_IDNLF],
	CASE WHEN replace([EKPOA_BANFN],' ','') = '' then NULL ELSE replace([EKPOA_BANFN],' ','') end as [EKPOA_BANFN],
	CASE WHEN replace([EKPOA_BNFPO],' ','') = '' then NULL ELSE replace([EKPOA_BNFPO],' ','') end as [EKPOA_BNFPO],
	CASE WHEN replace([EKPOA_AFNAM],' ','') = '' then NULL ELSE replace([EKPOA_AFNAM],' ','') end as [EKPOA_AFNAM],
	CASE WHEN replace([EKPOA_BEDNR],' ','') = '' then NULL ELSE replace([EKPOA_BEDNR],' ','') end as [EKPOA_BEDNR],
	CASE WHEN replace([EKPOA_KONNR],' ','') = '' then NULL ELSE replace([EKPOA_KONNR],' ','') end as [EKPOA_KONNR],
	CASE WHEN replace([EKPOA_KTPNR],' ','') = '' then NULL ELSE replace([EKPOA_KTPNR],' ','') end as [EKPOA_KTPNR],
	CASE WHEN replace([EKPOA_WEPOS],' ','') = '' then NULL ELSE replace([EKPOA_WEPOS],' ','') end as [EKPOA_WEPOS],
	CASE WHEN replace([EKPOA_EVERS],' ','') = '' then NULL ELSE replace([EKPOA_EVERS],' ','') end as [EKPOA_EVERS],
	CASE WHEN replace([EKPOA_INSMK],' ','') = '' then NULL ELSE replace([EKPOA_INSMK],' ','') end as [EKPOA_INSMK],
	CASE WHEN replace([EKPOA_MHDRZ],' ','') = '' then '0' WHEN replace([EKPOA_MHDRZ],' ','') IS NULL THEN '0' ELSE replace([EKPOA_MHDRZ],' ','') end as [EKPOA_MHDRZ],
	CASE WHEN replace([EKPOA_IPRKZ],' ','') = '' then NULL ELSE replace([EKPOA_IPRKZ],' ','') end as [EKPOA_IPRKZ],
	CASE WHEN replace([EKPOA_SSQSS],' ','') = '' then NULL ELSE replace([EKPOA_SSQSS],' ','') end as [EKPOA_SSQSS],
	CASE WHEN replace([EKPOA_PLIFZ],' ','') = '' then '0' WHEN replace([EKPOA_PLIFZ],' ','') IS NULL THEN '0' ELSE replace([EKPOA_PLIFZ],' ','') end as [EKPOA_PLIFZ],
	CASE WHEN replace([EKPOA_WEBAZ],' ','') = '' then '0' WHEN replace([EKPOA_WEBAZ],' ','') IS NULL THEN '0' ELSE replace([EKPOA_WEBAZ],' ','') end as [EKPOA_WEBAZ],
	CASE WHEN replace([EKPOA_LEWED],' ','') = '' then '00000000' WHEN replace([EKPOA_LEWED],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_LEWED]),'YYYYMMDD'),' ','') end as [EKPOA_LEWED],
	CASE WHEN replace([EKPOA_ABLAD],' ','') = '' then NULL ELSE replace([EKPOA_ABLAD],' ','') end as [EKPOA_ABLAD],
	CASE WHEN replace([EKPOA_LGORT],' ','') = '' then NULL ELSE replace([EKPOA_LGORT],' ','') end as [EKPOA_LGORT],
	CASE WHEN replace([EKPOA_NAME1],' ','') = '' then NULL ELSE replace([EKPOA_NAME1],' ','') end as [EKPOA_NAME1],
	CASE WHEN replace([EKPOA_NAME2],' ','') = '' then NULL ELSE replace([EKPOA_NAME2],' ','') end as [EKPOA_NAME2],
	CASE WHEN replace([EKPOA_STREET],' ','') = '' then NULL ELSE replace([EKPOA_STREET],' ','') end as [EKPOA_STREET],
	CASE WHEN replace([EKPOA_POST_CODE1],' ','') = '' then NULL ELSE replace([EKPOA_POST_CODE1],' ','') end as [EKPOA_POST_CODE1],
	CASE WHEN replace([EKPOA_CITY1],' ','') = '' then NULL ELSE replace([EKPOA_CITY1],' ','') end as [EKPOA_CITY1],
	CASE WHEN replace([EKPOA_REGION],' ','') = '' then NULL ELSE replace([EKPOA_REGION],' ','') end as [EKPOA_REGION],
	CASE WHEN replace([EKPOA_COUNTRY],' ','') = '' then NULL ELSE replace([EKPOA_COUNTRY],' ','') end as [EKPOA_COUNTRY],
	CASE WHEN replace([EKPOA_PO_BOX],' ','') = '' then NULL ELSE replace([EKPOA_PO_BOX],' ','') end as [EKPOA_PO_BOX],
	CASE WHEN replace([EKPOA_KZABS],' ','') = '' then NULL ELSE replace([EKPOA_KZABS],' ','') end as [EKPOA_KZABS],
	CASE WHEN replace([EKPOA_LABNR],' ','') = '' then NULL ELSE replace([EKPOA_LABNR],' ','') end as [EKPOA_LABNR],
	CASE WHEN replace([EKPOA_ELIKZ],' ','') = '' then NULL ELSE replace([EKPOA_ELIKZ],' ','') end as [EKPOA_ELIKZ],
	CASE WHEN replace([EKPOA_EREKZ],' ','') = '' then NULL ELSE replace([EKPOA_EREKZ],' ','') end as [EKPOA_EREKZ],
	CASE WHEN replace([EKPOA_UEBTO],' ','') = '' then '0.0' WHEN replace([EKPOA_UEBTO],' ','') IS NULL THEN '0.0' ELSE replace([EKPOA_UEBTO],' ','') end as [EKPOA_UEBTO],
	CASE WHEN replace([EKPOA_UEBTK],' ','') = '' then NULL ELSE replace([EKPOA_UEBTK],' ','') end as [EKPOA_UEBTK],
	CASE WHEN replace([EKPOA_UNTTO],' ','') = '' then '0.0' WHEN replace([EKPOA_UNTTO],' ','') IS NULL THEN '0.0' ELSE replace([EKPOA_UNTTO],' ','') end as [EKPOA_UNTTO],
	CASE WHEN replace([EKPOA_XOBLR],' ','') = '' then NULL ELSE replace([EKPOA_XOBLR],' ','') end as [EKPOA_XOBLR],
	CASE WHEN replace([EKPOA_KNTTP],' ','') = '' then NULL ELSE replace([EKPOA_KNTTP],' ','') end as [EKPOA_KNTTP],
	CASE WHEN replace([EKPOA_VRTKZ],' ','') = '' then NULL ELSE replace([EKPOA_VRTKZ],' ','') end as [EKPOA_VRTKZ],
	CASE WHEN replace([EKPOA_INCO1],' ','') = '' then NULL ELSE replace([EKPOA_INCO1],' ','') end as [EKPOA_INCO1],
	CASE WHEN replace([EKPOA_INCO2],' ','') = '' then NULL ELSE replace([EKPOA_INCO2],' ','') end as [EKPOA_INCO2],
	CASE WHEN replace([EKPOA_MFRNR],' ','') = '' then NULL ELSE replace([EKPOA_MFRNR],' ','') end as [EKPOA_MFRNR],
	CASE WHEN replace([EKPOA_MFRPN],' ','') = '' then NULL ELSE replace([EKPOA_MFRPN],' ','') end as [EKPOA_MFRPN],
	CASE WHEN replace([EKPOA_EAN11],' ','') = '' then NULL ELSE replace([EKPOA_EAN11],' ','') end as [EKPOA_EAN11],
	CASE WHEN replace([EKPOA_ERUSERNAME],' ','') = '' then NULL ELSE replace([EKPOA_ERUSERNAME],' ','') end as [EKPOA_ERUSERNAME],
	CASE WHEN replace([EKPOA_AEUSERNAME],' ','') = '' then NULL ELSE replace([EKPOA_AEUSERNAME],' ','') end as [EKPOA_AEUSERNAME],
	CASE WHEN replace([EKPOA_AEDAT],' ','') = '' then '00000000' WHEN replace([EKPOA_AEDAT],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_AEDAT]),'YYYYMMDD'),' ','') end as [EKPOA_AEDAT],
	CASE WHEN replace([EKPOA_DATUM],' ','') = '' then '00000000' WHEN replace([EKPOA_DATUM],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_DATUM]),'YYYYMMDD'),' ','') end as [EKPOA_DATUM],
	CASE WHEN replace([EKPOA_ZZBP1],' ','') = '' then '0.00' WHEN replace([EKPOA_ZZBP1],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_ZZBP1],' ','') end as [EKPOA_ZZBP1],
	CASE WHEN replace([EKPOA_ZZCR1],' ','') = '' then NULL ELSE replace([EKPOA_ZZCR1],' ','') end as [EKPOA_ZZCR1],
	CASE WHEN replace([EKPOA_ZZPT1],' ','') = '' then NULL ELSE replace([EKPOA_ZZPT1],' ','') end as [EKPOA_ZZPT1],
	CASE WHEN replace([EKPOA_ZZPD1],' ','') = '' then '00000000' WHEN replace([EKPOA_ZZPD1],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_ZZPD1]),'YYYYMMDD'),' ','') end as [EKPOA_ZZPD1],
	CASE WHEN replace([EKPOA_ZZBP2],' ','') = '' then '0.00' WHEN replace([EKPOA_ZZBP2],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_ZZBP2],' ','') end as [EKPOA_ZZBP2],
	CASE WHEN replace([EKPOA_ZZCR2],' ','') = '' then NULL ELSE replace([EKPOA_ZZCR2],' ','') end as [EKPOA_ZZCR2],
	CASE WHEN replace([EKPOA_ZZPT2],' ','') = '' then NULL ELSE replace([EKPOA_ZZPT2],' ','') end as [EKPOA_ZZPT2],
	CASE WHEN replace([EKPOA_ZZPD2],' ','') = '' then '00000000' WHEN replace([EKPOA_ZZPD2],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_ZZPD2]),'YYYYMMDD'),' ','') end as [EKPOA_ZZPD2],
	CASE WHEN replace([EKPOA_ZZBP3],' ','') = '' then '0.00' WHEN replace([EKPOA_ZZBP3],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_ZZBP3],' ','') end as [EKPOA_ZZBP3],
	CASE WHEN replace([EKPOA_ZZCR3],' ','') = '' then NULL ELSE replace([EKPOA_ZZCR3],' ','') end as [EKPOA_ZZCR3],
	CASE WHEN replace([EKPOA_ZZPT3],' ','') = '' then NULL ELSE replace([EKPOA_ZZPT3],' ','') end as [EKPOA_ZZPT3],
	CASE WHEN replace([EKPOA_ZZPD3],' ','') = '' then '00000000' WHEN replace([EKPOA_ZZPD3],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_ZZPD3]),'YYYYMMDD'),' ','') end as [EKPOA_ZZPD3],
	CASE WHEN replace([EKPOA_ZZBP4],' ','') = '' then '0.00' WHEN replace([EKPOA_ZZBP4],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_ZZBP4],' ','') end as [EKPOA_ZZBP4],
	CASE WHEN replace([EKPOA_ZZCR4],' ','') = '' then NULL ELSE replace([EKPOA_ZZCR4],' ','') end as [EKPOA_ZZCR4],
	CASE WHEN replace([EKPOA_ZZPT4],' ','') = '' then NULL ELSE replace([EKPOA_ZZPT4],' ','') end as [EKPOA_ZZPT4],
	CASE WHEN replace([EKPOA_ZZPD4],' ','') = '' then '00000000' WHEN replace([EKPOA_ZZPD4],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_ZZPD4]),'YYYYMMDD'),' ','') end as [EKPOA_ZZPD4],
	CASE WHEN replace([EKPOA_ZZBP5],' ','') = '' then '0.00' WHEN replace([EKPOA_ZZBP5],' ','') IS NULL THEN '0.00' ELSE replace([EKPOA_ZZBP5],' ','') end as [EKPOA_ZZBP5],
	CASE WHEN replace([EKPOA_ZZCR5],' ','') = '' then NULL ELSE replace([EKPOA_ZZCR5],' ','') end as [EKPOA_ZZCR5],
	CASE WHEN replace([EKPOA_ZZPT5],' ','') = '' then NULL ELSE replace([EKPOA_ZZPT5],' ','') end as [EKPOA_ZZPT5],
	CASE WHEN replace([EKPOA_ZZPD5],' ','') = '' then '00000000' WHEN replace([EKPOA_ZZPD5],' ','') is null then '00000000' ELSE replace([dbo].fnFormatDate(([EKPOA_ZZPD5]),'YYYYMMDD'),' ','') end as [EKPOA_ZZPD5],
	CASE WHEN replace([EKPOA_WAERS],' ','') = '' then NULL ELSE replace([EKPOA_WAERS],' ','') end as [EKPOA_WAERS],
	CASE WHEN replace([EKPOA_ADRNR],' ','') = '' then NULL ELSE replace([EKPOA_ADRNR],' ','') end as [EKPOA_ADRNR],
	CASE WHEN replace([EKPOA_ADRN2],' ','') = '' then NULL ELSE replace([EKPOA_ADRN2],' ','') end as [EKPOA_ADRN2]
	from
	[dbo].[CFT_Item]
	WHERE [EKPOA_SYSID] not in ('LM3','IE3') 
	AND	[SSMA_LAST_TS]> DATEADD(day,-3,TRY_CONVERT(datetime2,GETDATE()))
END

GO
