USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[MD_ISO_COUNTRY]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_ISO_COUNTRY](
	[State] [varchar](max) NULL,
	[regio_siglum] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
