USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[1_0_REMOVE_DUPLICATE_INV_Header_TMP_PERFORMANCE]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Sangy>
-- Create date: <November, 2017>
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[1_0_REMOVE_DUPLICATE_INV_Header_TMP_PERFORMANCE]
AS
BEGIN
	SET NOCOUNT ON;

;with cte as (
    select row_number() over(partition by CONCAT(REPLACE(REPLACE([BKPF_SYSID],'"',''),' ',''),REPLACE(REPLACE([BKPF_MANDT],'"',''),' ',''),REPLACE(REPLACE([BKPF_GJAHR],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([BKPF_BELNR] ,'"','')),' ',''),REPLACE([dbo].[add_0](4,REPLACE([BKPF_BUKRS] ,'"','')),' ','')) order by BKPF_DATUM DESC) as row_num
    from [dbo].[1_0_INV_Header_TMP]
)
delete
from cte
where row_num > 1
;
END

GO
