USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_PO_InfRecPOOrg]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_PO_InfRecPOOrg]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[PO_InfRecPOOrg]
(
[HASH_PO_INFNR],
[HASH_GE_INFNR] ,
[HASH_MD_PGROUP],
[EINE_SYSID] ,
[EINE_MANDT] ,
[EINE_INFNR] ,
[EINE_EKORG] ,
[EINE_ESOKZ] ,
[EINE_WERKS] ,
[EINE_ERDAT] ,
[EINE_ERNAM] ,
[EINE_EKGRP] ,
[EINE_WAERS] ,
[EINE_BONUS] ,
[EINE_MGBON] ,
[EINE_MINBM] ,
[EINE_NORBM] ,
[EINE_BSTMA] ,
[EINE_APLFZ] ,
[EINE_EBELN] ,
[EINE_EBELP] ,
[EINE_DATLB] ,
[EINE_ANGNR] ,
[EINE_ANGDT] ,
[EINE_ANFNR] ,
[EINE_ANFPS] ,
[EINE_ABSKZ] ,
[EINE_UNTTO] ,
[EINE_UEBTK] ,
[EINE_UEBTO] ,
[EINE_BSTYP] ,
[EINE_BWTAR] ,
[EINE_LOEKZ] ,
[EINE_MHDRZ] ,
[EINE_NETPR] ,
[EINE_PEINH] ,
[EINE_BPRME] ,
[EINE_PRDAT] ,
[EINE_KZABS] ,
[EINE_BPUMZ] ,
[EINE_BPUMN] ,
[EINE_INCO1] ,
[EINE_INCO2] ,
[EINE_ERUSERNAME] ,
[EINE_AEUSERNAME] ,
[EINE_UDATE] ,
[EINE_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EINE_SYSID],'"',''),' ',''),REPLACE(REPLACE([EINE_MANDT],'"',''),' ',''),REPLACE(REPLACE([EINE_INFNR],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([EINE_EKORG],'"','')),' ',''))) as [HASH_PO_INFNR],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EINE_SYSID],'"',''),' ',''),REPLACE(REPLACE([EINE_MANDT],'"',''),' ',''),REPLACE(REPLACE([EINE_INFNR],'"',''),' ',''))) as [HASH_GE_INFNR],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EINE_SYSID],'"',''),' ',''),REPLACE(REPLACE([EINE_MANDT],'"',''),' ',''),REPLACE(REPLACE([EINE_EKGRP],'"',''),' ',''))) as [HASH_MD_PGROUP],
REPLACE([EINE_SYSID] ,'"',''),
REPLACE([EINE_MANDT] ,'"',''),
REPLACE([EINE_INFNR] ,'"',''),
REPLACE([EINE_EKORG] ,'"',''),
REPLACE([EINE_ESOKZ] ,'"',''),
REPLACE([EINE_WERKS] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINE_ERDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINE_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINE_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
ELSE NULL
END AS [EINE_ERDAT],
REPLACE([EINE_ERNAM] ,'"',''),
REPLACE([EINE_EKGRP] ,'"',''),
REPLACE([EINE_WAERS] ,'"',''),
REPLACE([EINE_BONUS] ,'"',''),
REPLACE([EINE_MGBON] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_MINBM], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_MINBM], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
ELSE NULL
END AS [EINE_MINBM],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_NORBM], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_NORBM], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
ELSE NULL
END AS [EINE_NORBM],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_BSTMA], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_BSTMA], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
ELSE NULL
END AS [EINE_BSTMA],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_APLFZ], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_APLFZ], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINE_APLFZ],
[dbo].[add_0](10,REPLACE([EINE_EBELN] ,'"','')),
[dbo].[add_0](5,REPLACE([EINE_EBELP] ,'"','')),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINE_DATLB] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINE_DATLB], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINE_DATLB], CHAR(13), ''), CHAR(10), ''),'"',''))
ELSE NULL
END AS [EINE_DATLB],
REPLACE([EINE_ANGNR] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINE_ANGDT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINE_ANGDT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINE_ANGDT], CHAR(13), ''), CHAR(10), ''),'"',''))
ELSE NULL
END AS [EINE_ANGDT],
REPLACE([EINE_ANFNR] ,'"',''),
REPLACE([EINE_ANFPS] ,'"',''),
REPLACE([EINE_ABSKZ] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_UNTTO], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_UNTTO], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINE_UNTTO],
REPLACE([EINE_UEBTK] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_UEBTO], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_UEBTO], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINE_UEBTO],
REPLACE([EINE_BSTYP] ,'"',''),
REPLACE([EINE_BWTAR] ,'"',''),
REPLACE([EINE_LOEKZ] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_MHDRZ], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_MHDRZ], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
ELSE NULL
END AS [EINE_MHDRZ],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_NETPR], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_NETPR], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINE_NETPR],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_PEINH], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_PEINH], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINE_PEINH],
REPLACE([EINE_BPRME] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINE_PRDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINE_PRDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINE_PRDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
ELSE NULL
END AS [EINE_PRDAT],
REPLACE([EINE_KZABS] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_BPUMZ], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_BPUMZ], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINE_BPUMZ],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINE_BPUMN], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINE_BPUMN], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINE_BPUMN],
REPLACE([EINE_INCO1] ,'"',''),
REPLACE([EINE_INCO2] ,'"',''),
REPLACE([EINE_ERUSERNAME] ,'"',''),
REPLACE([EINE_AEUSERNAME] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINE_UDATE] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINE_UDATE], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINE_UDATE], CHAR(13), ''), CHAR(10), ''),'"',''))
ELSE NULL
END AS [EINE_UDATE],

CASE 
WHEN REPLACE(REPLACE(REPLACE([EINE_DATUM] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINE_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINE_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))
ELSE NULL
END AS [EINE_DATUM]
FROM
[dbo].[PO_InfRecPOOrg_ETL]
where [EINE_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
