USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[1_0_EXTRACTION_CO_Item_ETL]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Sangy Sangy>
-- Create date: <Jan, 2018>
-- Description:	<ETL>
-- =============================================
CREATE PROCEDURE [dbo].[1_0_EXTRACTION_CO_Item_ETL]
AS
BEGIN
	SET NOCOUNT ON;
select
'EKPOK_SYSID',
'EKPOK_MANDT',
'EKPOK_BUKRS',
'EKPOK_EBELN',
'EKPOK_EBELP',
'EKPOK_WERKS',
'EKPOK_LOEKZ',
'EKPOK_PSTYP',
'EKPOK_UDATE',
'EKPOK_ORDERDATE',
'EKPOK_MENGE',
'EKPOK_MEINS',
'EKPOK_NETWR',
'EKPOK_CAMOUNT',
'EKPOK_EURAMOUNT',
'EKPOK_WKURS',
'EKPOK_RATE',
'EKPOK_LONGTEXT',
'EKPOK_TXZ01',
'EKPOK_MATKL',
'EKPOK_MATNR',
'EKPOK_REVLV',
'EKPOK_IDNLF',
'EKPOK_BANFN',
'EKPOK_BNFPO',
'EKPOK_AFNAM',
'EKPOK_BEDNR',
'EKPOK_KONNR',
'EKPOK_KTPNR',
'EKPOK_WEPOS',
'EKPOK_EVERS',
'EKPOK_INSMK',
'EKPOK_MHDRZ',
'EKPOK_IPRKZ',
'EKPOK_SSQSS',
'EKPOK_PLIFZ',
'EKPOK_WEBAZ',
'EKPOK_LEWED',
'EKPOK_ABLAD',
'EKPOK_LGORT',
'EKPOK_NAME1',
'EKPOK_NAME2',
'EKPOK_STREET',
'EKPOK_POST_CODE1',
'EKPOK_CITY1',
'EKPOK_REGION',
'EKPOK_COUNTRY',
'EKPOK_PO_BOX',
'EKPOK_KZABS',
'EKPOK_LABNR',
'EKPOK_ELIKZ',
'EKPOK_EREKZ',
'EKPOK_UEBTO',
'EKPOK_UEBTK',
'EKPOK_UNTTO',
'EKPOK_XOBLR',
'EKPOK_KNTTP',
'EKPOK_VRTKZ',
'EKPOK_INCO1',
'EKPOK_INCO2',
'EKPOK_MFRNR',
'EKPOK_MFRPN',
'EKPOK_EAN11',
'EKPOK_ERUSERNAME',
'EKPOK_AEUSERNAME',
'EKPOK_AEDAT',
'EKPOK_DATUM',
'EKPOK_ZZBP1',
'EKPOK_ZZCR1',
'EKPOK_ZZPT1',
'EKPOK_ZZPD1',
'EKPOK_ZZBP2',
'EKPOK_ZZCR2',
'EKPOK_ZZPT2',
'EKPOK_ZZPD2',
'EKPOK_ZZBP3',
'EKPOK_ZZCR3',
'EKPOK_ZZPT3',
'EKPOK_ZZPD3',
'EKPOK_ZZBP4',
'EKPOK_ZZCR4',
'EKPOK_ZZPT4',
'EKPOK_ZZPD4',
'EKPOK_ZZBP5',
'EKPOK_ZZCR5',
'EKPOK_ZZPT5',
'EKPOK_ZZPD5'
union all
select	
	CASE WHEN replace([EKPOK_SYSID],' ','') = '' then NULL ELSE replace([EKPOK_SYSID],' ','') end as [EKPOK_SYSID],
	CASE WHEN replace([EKPOK_MANDT],' ','') = '' then NULL ELSE replace([EKPOK_MANDT],' ','') end as [EKPOK_MANDT],
	CASE WHEN replace([EKPOK_BUKRS],' ','') = '' then NULL ELSE replace([EKPOK_BUKRS],' ','') end as [EKPOK_BUKRS],
	CASE WHEN replace([EKPOK_EBELN],' ','') = '' then NULL ELSE replace([EKPOK_EBELN],' ','') end as [EKPOK_EBELN],
	CASE WHEN replace([EKPOK_EBELP],' ','') = '' then NULL ELSE replace([EKPOK_EBELP],' ','') end as [EKPOK_EBELP],
	CASE WHEN replace([EKPOK_WERKS],' ','') = '' then NULL ELSE replace([EKPOK_WERKS],' ','') end as [EKPOK_WERKS],
	CASE WHEN replace([EKPOK_LOEKZ],' ','') = '' then NULL ELSE replace([EKPOK_LOEKZ],' ','') end as [EKPOK_LOEKZ],
	CASE WHEN replace([EKPOK_PSTYP],' ','') = '' then NULL ELSE replace([EKPOK_PSTYP],' ','') end as [EKPOK_PSTYP],
	CASE WHEN replace([EKPOK_UDATE],' ','') = '' then '00000000' WHEN replace([EKPOK_UDATE],' ','') is null then '00000000' ELSE replace([EKPOK_UDATE],' ','') end as [EKPOK_UDATE],
	CASE WHEN replace([EKPOK_ORDERDATE],' ','') = '' then '00000000' WHEN replace([EKPOK_ORDERDATE],' ','') is null then '00000000' ELSE replace([EKPOK_ORDERDATE],' ','') end as [EKPOK_ORDERDATE],
	CASE WHEN replace([EKPOK_MENGE],' ','') = '' then '0.00' WHEN replace([EKPOK_MENGE],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_MENGE],' ','') end as [EKPOK_MENGE],
	CASE WHEN replace([EKPOK_MEINS],' ','') = '' then NULL ELSE replace([EKPOK_MEINS],' ','') end as [EKPOK_MEINS],
	CASE WHEN replace([EKPOK_NETWR],' ','') = '' then '0.00' WHEN replace([EKPOK_NETWR],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_NETWR],' ','') end as [EKPOK_NETWR],
	CASE WHEN replace([EKPOK_CAMOUNT],' ','') = '' then '0.00' WHEN replace([EKPOK_CAMOUNT],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_CAMOUNT],' ','') end as [EKPOK_CAMOUNT],
	CASE WHEN replace([EKPOK_EURAMOUNT],' ','') = '' then '0.00' WHEN replace([EKPOK_EURAMOUNT],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_EURAMOUNT],' ','') end as [EKPOK_EURAMOUNT],
	CASE WHEN replace([EKPOK_WKURS],' ','') = '' then '0.00' WHEN replace([EKPOK_WKURS],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_WKURS],' ','') end as [EKPOK_WKURS],
	CASE WHEN replace([EKPOK_RATE],' ','') = '' then '0.00' WHEN replace([EKPOK_RATE],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_RATE],' ','') end as [EKPOK_RATE],
	CASE WHEN replace([EKPOK_LONGTEXT],' ','') = '' then NULL ELSE replace([EKPOK_LONGTEXT],' ','') end as [EKPOK_LONGTEXT],
	CASE WHEN replace([EKPOK_TXZ01],' ','') = '' then NULL ELSE replace([EKPOK_TXZ01],' ','') end as [EKPOK_TXZ01],
	CASE WHEN replace([EKPOK_MATKL],' ','') = '' then NULL ELSE replace([EKPOK_MATKL],' ','') end as [EKPOK_MATKL],
	CASE WHEN replace([EKPOK_MATNR],' ','') = '' then NULL ELSE replace([EKPOK_MATNR],' ','') end as [EKPOK_MATNR],
	CASE WHEN replace([EKPOK_REVLV],' ','') = '' then NULL ELSE replace([EKPOK_REVLV],' ','') end as [EKPOK_REVLV],
	CASE WHEN replace([EKPOK_IDNLF],' ','') = '' then NULL ELSE replace([EKPOK_IDNLF],' ','') end as [EKPOK_IDNLF],
	CASE WHEN replace([EKPOK_BANFN],' ','') = '' then NULL ELSE replace([EKPOK_BANFN],' ','') end as [EKPOK_BANFN],
	CASE WHEN replace([EKPOK_BNFPO],' ','') = '' then NULL ELSE replace([EKPOK_BNFPO],' ','') end as [EKPOK_BNFPO],
	CASE WHEN replace([EKPOK_AFNAM],' ','') = '' then NULL ELSE replace([EKPOK_AFNAM],' ','') end as [EKPOK_AFNAM],
	CASE WHEN replace([EKPOK_BEDNR],' ','') = '' then NULL ELSE replace([EKPOK_BEDNR],' ','') end as [EKPOK_BEDNR],
	CASE WHEN replace([EKPOK_KONNR],' ','') = '' then NULL ELSE replace([EKPOK_KONNR],' ','') end as [EKPOK_KONNR],
	CASE WHEN replace([EKPOK_KTPNR],' ','') = '' then NULL ELSE replace([EKPOK_KTPNR],' ','') end as [EKPOK_KTPNR],
	CASE WHEN replace([EKPOK_WEPOS],' ','') = '' then NULL ELSE replace([EKPOK_WEPOS],' ','') end as [EKPOK_WEPOS],
	CASE WHEN replace([EKPOK_EVERS],' ','') = '' then NULL ELSE replace([EKPOK_EVERS],' ','') end as [EKPOK_EVERS],
	CASE WHEN replace([EKPOK_INSMK],' ','') = '' then NULL ELSE replace([EKPOK_INSMK],' ','') end as [EKPOK_INSMK],
	CASE WHEN replace([EKPOK_MHDRZ],' ','') = '' then NULL ELSE replace([EKPOK_MHDRZ],' ','') end as [EKPOK_MHDRZ],
	CASE WHEN replace([EKPOK_IPRKZ],' ','') = '' then NULL ELSE replace([EKPOK_IPRKZ],' ','') end as [EKPOK_IPRKZ],
	CASE WHEN replace([EKPOK_SSQSS],' ','') = '' then NULL ELSE replace([EKPOK_SSQSS],' ','') end as [EKPOK_SSQSS],
	CASE WHEN replace([EKPOK_PLIFZ],' ','') = '' then '0.00' WHEN replace([EKPOK_PLIFZ],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_PLIFZ],' ','') end as [EKPOK_PLIFZ],
	CASE WHEN replace([EKPOK_WEBAZ],' ','') = '' then '0.00' WHEN replace([EKPOK_WEBAZ],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_WEBAZ],' ','') end as [EKPOK_WEBAZ],
	CASE WHEN replace([EKPOK_LEWED],' ','') = '' then '00000000' WHEN replace([EKPOK_LEWED],' ','') is null then '00000000' ELSE replace([EKPOK_LEWED],' ','') end as [EKPOK_LEWED],
	CASE WHEN replace([EKPOK_ABLAD],' ','') = '' then NULL ELSE replace([EKPOK_ABLAD],' ','') end as [EKPOK_ABLAD],
	CASE WHEN replace([EKPOK_LGORT],' ','') = '' then NULL ELSE replace([EKPOK_LGORT],' ','') end as [EKPOK_LGORT],
	CASE WHEN replace([EKPOK_NAME1],' ','') = '' then NULL ELSE replace([EKPOK_NAME1],' ','') end as [EKPOK_NAME1],
	CASE WHEN replace([EKPOK_NAME2],' ','') = '' then NULL ELSE replace([EKPOK_NAME2],' ','') end as [EKPOK_NAME2],
	CASE WHEN replace([EKPOK_STREET],' ','') = '' then NULL ELSE replace([EKPOK_STREET],' ','') end as [EKPOK_STREET],
	CASE WHEN replace([EKPOK_POST_CODE1],' ','') = '' then NULL ELSE replace([EKPOK_POST_CODE1],' ','') end as [EKPOK_POST_CODE1],
	CASE WHEN replace([EKPOK_CITY1],' ','') = '' then NULL ELSE replace([EKPOK_CITY1],' ','') end as [EKPOK_CITY1],
	CASE WHEN replace([EKPOK_REGION],' ','') = '' then NULL ELSE replace([EKPOK_REGION],' ','') end as [EKPOK_REGION],
	CASE WHEN replace([EKPOK_COUNTRY],' ','') = '' then NULL ELSE replace([EKPOK_COUNTRY],' ','') end as [EKPOK_COUNTRY],
	CASE WHEN replace([EKPOK_PO_BOX],' ','') = '' then NULL ELSE replace([EKPOK_PO_BOX],' ','') end as [EKPOK_PO_BOX],
	CASE WHEN replace([EKPOK_KZABS],' ','') = '' then NULL ELSE replace([EKPOK_KZABS],' ','') end as [EKPOK_KZABS],
	CASE WHEN replace([EKPOK_LABNR],' ','') = '' then NULL ELSE replace([EKPOK_LABNR],' ','') end as [EKPOK_LABNR],
	CASE WHEN replace([EKPOK_ELIKZ],' ','') = '' then NULL ELSE replace([EKPOK_ELIKZ],' ','') end as [EKPOK_ELIKZ],
	CASE WHEN replace([EKPOK_EREKZ],' ','') = '' then NULL ELSE replace([EKPOK_EREKZ],' ','') end as [EKPOK_EREKZ],
	CASE WHEN replace([EKPOK_UEBTO],' ','') = '' then '0.00' WHEN replace([EKPOK_UEBTO],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_UEBTO],' ','') end as [EKPOK_UEBTO],
	CASE WHEN replace([EKPOK_UEBTK],' ','') = '' then NULL ELSE replace([EKPOK_UEBTK],' ','') end as [EKPOK_UEBTK],
	CASE WHEN replace([EKPOK_UNTTO],' ','') = '' then '0.00' WHEN replace([EKPOK_UNTTO],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_UNTTO],' ','') end as [EKPOK_UNTTO],
	CASE WHEN replace([EKPOK_XOBLR],' ','') = '' then NULL ELSE replace([EKPOK_XOBLR],' ','') end as [EKPOK_XOBLR],
	CASE WHEN replace([EKPOK_KNTTP],' ','') = '' then NULL ELSE replace([EKPOK_KNTTP],' ','') end as [EKPOK_KNTTP],
	CASE WHEN replace([EKPOK_VRTKZ],' ','') = '' then NULL ELSE replace([EKPOK_VRTKZ],' ','') end as [EKPOK_VRTKZ],
	CASE WHEN replace([EKPOK_INCO1],' ','') = '' then NULL ELSE replace([EKPOK_INCO1],' ','') end as [EKPOK_INCO1],
	CASE WHEN replace([EKPOK_INCO2],' ','') = '' then NULL ELSE replace([EKPOK_INCO2],' ','') end as [EKPOK_INCO2],
	CASE WHEN replace([EKPOK_MFRNR],' ','') = '' then NULL ELSE replace([EKPOK_MFRNR],' ','') end as [EKPOK_MFRNR],
	CASE WHEN replace([EKPOK_MFRPN],' ','') = '' then NULL ELSE replace([EKPOK_MFRPN],' ','') end as [EKPOK_MFRPN],
	CASE WHEN replace([EKPOK_EAN11],' ','') = '' then NULL ELSE replace([EKPOK_EAN11],' ','') end as [EKPOK_EAN11],
	CASE WHEN replace([EKPOK_ERUSERNAME],' ','') = '' then NULL ELSE replace([EKPOK_ERUSERNAME],' ','') end as [EKPOK_ERUSERNAME],
	CASE WHEN replace([EKPOK_AEUSERNAME],' ','') = '' then NULL ELSE replace([EKPOK_AEUSERNAME],' ','') end as [EKPOK_AEUSERNAME],
	CASE WHEN replace([EKPOK_AEDAT],' ','') = '' then '00000000' WHEN replace([EKPOK_AEDAT],' ','') is null then '00000000' ELSE replace([EKPOK_AEDAT],' ','') end as [EKPOK_AEDAT],
	CASE WHEN replace([EKPOK_DATUM],' ','') = '' then '00000000' WHEN replace([EKPOK_DATUM],' ','') is null then '00000000' ELSE replace([EKPOK_DATUM],' ','') end as [EKPOK_DATUM],
	CASE WHEN replace([EKPOK_ZZBP1],' ','') = '' then '0.00' WHEN replace([EKPOK_ZZBP1],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_ZZBP1],' ','') end as [EKPOK_ZZBP1],
	CASE WHEN replace([EKPOK_ZZCR1],' ','') = '' then NULL ELSE replace([EKPOK_ZZCR1],' ','') end as [EKPOK_ZZCR1],
	CASE WHEN replace([EKPOK_ZZPT1],' ','') = '' then NULL ELSE replace([EKPOK_ZZPT1],' ','') end as [EKPOK_ZZPT1],
	CASE WHEN replace([EKPOK_ZZPD1],' ','') = '' then '00000000' WHEN replace([EKPOK_ZZPD1],' ','') is null then '00000000' ELSE replace([EKPOK_ZZPD1],' ','') end as [EKPOK_ZZPD1],
	CASE WHEN replace([EKPOK_ZZBP2],' ','') = '' then '0.00' WHEN replace([EKPOK_ZZBP2],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_ZZBP2],' ','') end as [EKPOK_ZZBP2],
	CASE WHEN replace([EKPOK_ZZCR2],' ','') = '' then NULL ELSE replace([EKPOK_ZZCR2],' ','') end as [EKPOK_ZZCR2],
	CASE WHEN replace([EKPOK_ZZPT2],' ','') = '' then NULL ELSE replace([EKPOK_ZZPT2],' ','') end as [EKPOK_ZZPT2],
	CASE WHEN replace([EKPOK_ZZPD2],' ','') = '' then '00000000' WHEN replace([EKPOK_ZZPD2],' ','') is null then '00000000' ELSE replace([EKPOK_ZZPD2],' ','') end as [EKPOK_ZZPD2],
	CASE WHEN replace([EKPOK_ZZBP3],' ','') = '' then '0.00' WHEN replace([EKPOK_ZZBP3],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_ZZBP3],' ','') end as [EKPOK_ZZBP3],
	CASE WHEN replace([EKPOK_ZZCR3],' ','') = '' then NULL ELSE replace([EKPOK_ZZCR3],' ','') end as [EKPOK_ZZCR3],
	CASE WHEN replace([EKPOK_ZZPT3],' ','') = '' then NULL ELSE replace([EKPOK_ZZPT3],' ','') end as [EKPOK_ZZPT3],
	CASE WHEN replace([EKPOK_ZZPD3],' ','') = '' then '00000000' WHEN replace([EKPOK_ZZPD3],' ','') is null then '00000000' ELSE replace([EKPOK_ZZPD3],' ','') end as [EKPOK_ZZPD3],
	CASE WHEN replace([EKPOK_ZZBP4],' ','') = '' then '0.00' WHEN replace([EKPOK_ZZBP4],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_ZZBP4],' ','') end as [EKPOK_ZZBP4],
	CASE WHEN replace([EKPOK_ZZCR4],' ','') = '' then NULL ELSE replace([EKPOK_ZZCR4],' ','') end as [EKPOK_ZZCR4],
	CASE WHEN replace([EKPOK_ZZPT4],' ','') = '' then NULL ELSE replace([EKPOK_ZZPT4],' ','') end as [EKPOK_ZZPT4],
	CASE WHEN replace([EKPOK_ZZPD4],' ','') = '' then '00000000' WHEN replace([EKPOK_ZZPD4],' ','') is null then '00000000' ELSE replace([EKPOK_ZZPD4],' ','') end as [EKPOK_ZZPD4],
	CASE WHEN replace([EKPOK_ZZBP5],' ','') = '' then '0.00' WHEN replace([EKPOK_ZZBP5],' ','') IS NULL THEN '0.00' ELSE replace([EKPOK_ZZBP5],' ','') end as [EKPOK_ZZBP5],
	CASE WHEN replace([EKPOK_ZZCR5],' ','') = '' then NULL ELSE replace([EKPOK_ZZCR5],' ','') end as [EKPOK_ZZCR5],
	CASE WHEN replace([EKPOK_ZZPT5],' ','') = '' then NULL ELSE replace([EKPOK_ZZPT5],' ','') end as [EKPOK_ZZPT5],
	CASE WHEN replace([EKPOK_ZZPD5],' ','') = '' then '00000000' WHEN replace([EKPOK_ZZPD5],' ','') is null then '00000000' ELSE replace([EKPOK_ZZPD5],' ','') end as [EKPOK_ZZPD5]
	from
	[dbo].[1_0_CO_Item_ETL]
	WHERE [EKPOK_SYSID] not in ('LM3','IE3') 
END

GO
