USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_CO_Header]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_CO_Header]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[CO_Header]
(
[HASH_PO_HEADER],
[HASH_MD_PGROUP],
[HASH_SUPPLIER_LFB1],
[HASH_SUPPLIER_LFM1],
[EKKOK_SYSID],
[EKKOK_MANDT],
[EKKOK_BUKRS],
[EKKOK_EBELN],
[EKKOK_LOEKZ],
[EKKOK_AEDAT],
[EKKOK_BEDAT],
[EKKOK_WAERS],
[EKKOK_WKURS],
[EKKOK_KUFIX],
[EKKOK_CWAERS],
[EKKOK_LONGTEXT],
[EKKOK_LIFNR],
[EKKOK_BSTYP],
[EKKOK_BSART],
[EKKOK_INCO1],
[EKKOK_INCO2],
[EKKOK_ZTERM],
[EKKOK_EKORG],
[EKKOK_EKGRP],
[EKKOK_IHREZ],
[EKKOK_UNSEZ],
[EKKOK_KDATB],
[EKKOK_KDATE],
[EKKOK_KONNR],
[EKKOK_ANGNR],
[EKKOK_IHRAN],
[EKKOK_SUBMI],
[EKKOK_STCEG],
[EKKOK_EKGSM],
[EKKOK_UEBDT],
[EKKOK_ERNAM],
[EKKOK_AEUSERNAME],
[EKKOK_UDATE],
[EKKOK_DATUM]
)
			SELECT
			HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKOK_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKKOK_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([EKKOK_EBELN],'"','')),' ',''))) as [HASH_PO_HEADER],
			HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKOK_SYSID],'"',''),' ',''),REPLACE(REPLACE([EKKOK_MANDT],'"',''),' ',''),REPLACE(REPLACE([EKKOK_EKGRP],'"',''),' ',''))) as [HASH_MD_PGROUP],
			HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKOK_SYSID],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([EKKOK_LIFNR],'"','')),' ',''),REPLACE([dbo].[add_0](4,REPLACE([EKKOK_BUKRS],'"','')),' ',''))) as [HASH_SUPPLIER_LFB1],
			HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EKKOK_SYSID],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([EKKOK_LIFNR],'"','')),' ',''),REPLACE([dbo].[rem_0](REPLACE([EKKOK_EKORG],'"','')),' ',''))) as [HASH_SUPPLIER_LFM1],
			REPLACE([EKKOK_SYSID],'"',''),
			REPLACE([EKKOK_MANDT],'"',''),
			[dbo].[add_0](4,REPLACE([EKKOK_BUKRS],'"','')),
			[dbo].[add_0](10,REPLACE([EKKOK_EBELN],'"','')),
			REPLACE([EKKOK_LOEKZ],'"',''),
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_AEDAT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')  
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_AEDAT],
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_BEDAT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_BEDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_BEDAT],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_BEDAT],
			REPLACE([EKKOK_WAERS],'"',''),
			CASE
			WHEN 
			ISNUMERIC(REPLACE(REPLACE(REPLACE([EKKOK_WKURS],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,5),REPLACE(REPLACE(REPLACE([EKKOK_WKURS],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_WKURS],
			REPLACE([EKKOK_KUFIX],'"',''),
			REPLACE([EKKOK_CWAERS],'"',''),
			[EKKOK_LONGTEXT],
			[dbo].[rem_0](REPLACE([EKKOK_LIFNR],'"','')),
			REPLACE([EKKOK_BSTYP],'"',''),
			REPLACE([EKKOK_BSART],'"',''),
			REPLACE([EKKOK_INCO1],'"',''),
			REPLACE([EKKOK_INCO2],'"',''),
			REPLACE([EKKOK_ZTERM],'"',''),
			REPLACE([EKKOK_EKORG],'"',''),
			REPLACE([EKKOK_EKGRP],'"',''),
			REPLACE([EKKOK_IHREZ],'"',''),
			REPLACE([EKKOK_UNSEZ],'"',''),
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_KDATB],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_KDATB],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_KDATB],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_KDATB],
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_KDATE],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_KDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_KDATE],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_KDATE],
			[dbo].[add_0](10,REPLACE([EKKOK_KONNR],'"','')),
			REPLACE([EKKOK_ANGNR],'"',''),
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_IHRAN],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_IHRAN],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_IHRAN],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_IHRAN],
			REPLACE([EKKOK_SUBMI],'"',''),
			REPLACE([EKKOK_STCEG],'"',''),
			REPLACE([EKKOK_EKGSM],'"',''),
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_UEBDT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_UEBDT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_UEBDT],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_UEBDT],
			REPLACE([EKKOK_ERNAM],'"',''), 
			REPLACE([EKKOK_AEUSERNAME],'"',''), 
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_UDATE],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_UDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_UDATE],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_UDATE],
			CASE 
			WHEN REPLACE(REPLACE(REPLACE([EKKOK_DATUM],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
			WHEN ISDATE(REPLACE(REPLACE(REPLACE([EKKOK_DATUM],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EKKOK_DATUM],CHAR(13),''),CHAR(10),''),'"',''))
			ELSE NULL
			END AS [EKKOK_DATUM]
			FROM
[dbo].[CO_Header_ETL]
where [EKKOK_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
