USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_QN_Item]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_QN_Item]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[QN_Item]
(
[HASH_QN_ITEM],
[HASH_QN_HEADER],
[QMFE_SYSID],
[QMFE_MANDT],
[QMFE_QMNUM],
[QMFE_FENUM],
[QMFE_AEDAT],
[QMFE_AENAM],
[QMFE_AEZEIT],
[QMFE_ANZFEHLER],
[QMFE_ARBPL],
[QMFE_ARBPLWERK],
[QMFE_AUTKZ],
[QMFE_BAUTL],
[QMFE_CROBJTY],
[QMFE_EBORT],
[QMFE_EKORG],
[QMFE_EQUNR],
[QMFE_ERDAT],
[QMFE_ERNAM],
[QMFE_ERZEIT],
[QMFE_FCOAUFNR],
[QMFE_FEART],
[QMFE_FECOD],
[QMFE_FEGRP],
[QMFE_FEHLBEW],
[QMFE_FEKAT],
[QMFE_FENUMORG],
[QMFE_FEQKLAS],
[QMFE_FETXT],
[QMFE_FEVER],
[QMFE_FMGEIG],
[QMFE_FMGEIN],
[QMFE_FMGFRD],
[QMFE_HERPOS],
[QMFE_INDTX],
[QMFE_INFNR],
[QMFE_KOSTL],
[QMFE_KZLOESCH],
[QMFE_KZMLA],
[QMFE_KZORG],
[QMFE_KZSYSFE],
[QMFE_LSTAR],
[QMFE_MATNR],
[QMFE_MENGE],
[QMFE_MERKNR],
[QMFE_OTEIL],
[QMFE_OTGRP],
[QMFE_OTKAT],
[QMFE_OTVER],
[QMFE_PHYNR],
[QMFE_PNLKN],
[QMFE_POSNR],
[QMFE_PROBENR],
[QMFE_PRUEFLINR],
[QMFE_PRZNR],
[QMFE_TPLNR],
[QMFE_UNITFLBEW],
[QMFE_WDFEH],
[QMFE_WERKS],
[QMFE_ZZ_MVA],
[QMFE_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMFE_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMFE_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMFE_QMNUM],'"','')),' ',''),REPLACE(REPLACE([QMFE_FENUM],'"',''),' ',''))) as [HASH_QN_ITEM],	
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMFE_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMFE_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMFE_QMNUM],'"','')),' ',''))) as [HASH_QN_HEADER],
REPLACE([QMFE_SYSID],'"',''),
REPLACE([QMFE_MANDT],'"',''),
[dbo].[add_0](12,REPLACE([QMFE_QMNUM],'"','')),
REPLACE([QMFE_FENUM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMFE_AEDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMFE_AEDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMFE_AEDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMFE_AEDAT],
REPLACE([QMFE_AENAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMFE_AEZEIT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMFE_AEZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMFE_AEZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMFE_AEZEIT],
	CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMFE_ANZFEHLER], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QMFE_ANZFEHLER], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
		ELSE NULL
	END AS [QMFE_ANZFEHLER],
REPLACE([QMFE_ARBPL],'"',''),
REPLACE([QMFE_ARBPLWERK],'"',''),
REPLACE([QMFE_AUTKZ],'"',''),
REPLACE([QMFE_BAUTL],'"',''),
REPLACE([QMFE_CROBJTY],'"',''),
REPLACE([QMFE_EBORT],'"',''),
REPLACE([QMFE_EKORG],'"',''),
REPLACE([QMFE_EQUNR],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMFE_ERDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMFE_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMFE_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMFE_ERDAT],
REPLACE([QMFE_ERNAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMFE_ERZEIT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMFE_ERZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMFE_ERZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMFE_ERZEIT],
REPLACE([QMFE_FCOAUFNR],'"',''),
REPLACE([QMFE_FEART],'"',''),
REPLACE([QMFE_FECOD],'"',''),
REPLACE([QMFE_FEGRP],'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMFE_FEHLBEW], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(CAST(REPLACE(REPLACE(REPLACE([QMFE_FEHLBEW], CHAR(13), ''), CHAR(10), ''),'"','') AS float) as decimal(18,16))
		ELSE NULL
	END AS [QMFE_FEHLBEW],
REPLACE([QMFE_FEKAT],'"',''),
REPLACE([QMFE_FENUMORG],'"',''),
REPLACE([QMFE_FEQKLAS],'"',''),
REPLACE([QMFE_FETXT],'"',''),
REPLACE([QMFE_FEVER],'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMFE_FMGEIG], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QMFE_FMGEIG], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
		ELSE NULL
	END AS [QMFE_FMGEIG],
REPLACE([QMFE_FMGEIN],'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMFE_FMGFRD], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QMFE_FMGFRD], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
		ELSE NULL
	END AS [QMFE_FMGFRD],
REPLACE([QMFE_HERPOS],'"',''),
REPLACE([QMFE_INDTX],'"',''),
REPLACE([QMFE_INFNR],'"',''),
REPLACE([QMFE_KOSTL],'"',''),
REPLACE([QMFE_KZLOESCH],'"',''),
REPLACE([QMFE_KZMLA],'"',''),
REPLACE([QMFE_KZORG],'"',''),
REPLACE([QMFE_KZSYSFE],'"',''),
REPLACE([QMFE_LSTAR],'"',''),
REPLACE([QMFE_MATNR],'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMFE_MENGE], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QMFE_MENGE], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
		ELSE NULL
	END AS [QMFE_MENGE],
REPLACE([QMFE_MERKNR],'"',''),
REPLACE([QMFE_OTEIL],'"',''),
REPLACE([QMFE_OTGRP],'"',''),
REPLACE([QMFE_OTKAT],'"',''),
REPLACE([QMFE_OTVER],'"',''),
REPLACE([QMFE_PHYNR],'"',''),
REPLACE([QMFE_PNLKN],'"',''),
REPLACE([QMFE_POSNR],'"',''),
REPLACE([QMFE_PROBENR],'"',''),
REPLACE([QMFE_PRUEFLINR],'"',''),
REPLACE([QMFE_PRZNR],'"',''),
REPLACE([QMFE_TPLNR],'"',''),
REPLACE([QMFE_UNITFLBEW],'"',''),
REPLACE([QMFE_WDFEH],'"',''),
REPLACE([QMFE_WERKS],'"',''),
REPLACE([QMFE_ZZ_MVA],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMFE_DATUM] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMFE_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMFE_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMFE_DATUM]
FROM
[dbo].[QN_Item_ETL]
where [QMFE_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
