USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[ADCCS]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADCCS](
	[ADCCS_UNIQU] [int] NOT NULL,
	[ADCCS_UID] [uniqueidentifier] NULL,
	[L1] [nvarchar](max) NULL,
	[L2] [nvarchar](max) NULL,
	[L3] [nvarchar](max) NULL,
	[L1 Name] [nvarchar](max) NULL,
	[L2 Name] [nvarchar](max) NULL,
	[L3 Name] [nvarchar](max) NULL,
	[Active ] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[ADCCS Code] [nvarchar](max) NULL,
	[ADCCS LONG Title (english)] [nvarchar](max) NULL,
	[English (60 CHAR) w/o Special Characters] [text] NULL,
	[French (60 CHAR) w/o Special Characters] [text] NULL,
	[German (60 CHAR) w/o Special Characters] [text] NULL,
	[Spanish (60 CHAR) w/o Special Characters] [text] NULL,
	[English SHORT (SAP) (20 CHAR)] [nvarchar](max) NULL,
	[Keywords EN] [nvarchar](max) NULL,
	[Keywords FR] [nvarchar](max) NULL,
	[Keywords DE] [nvarchar](max) NULL,
	[Keywords ES] [nvarchar](max) NULL,
	[CLUSTER] [nvarchar](max) NULL,
	[SP1(500)] [nvarchar](max) NULL,
	[SP1(530)] [nvarchar](max) NULL,
	[ESP] [nvarchar](max) NULL,
	[P11/NFP (Saphir)] [nvarchar](max) NULL,
	[PDA] [nvarchar](max) NULL,
	[20 & 25 (Orl.) U40] [nvarchar](max) NULL,
	[U40(DSP)] [nvarchar](max) NULL,
	[PAS/ADP] [nvarchar](max) NULL,
	[D40(Orl.)] [nvarchar](max) NULL,
	[F40] [nvarchar](max) NULL,
	[LM3] [nvarchar](max) NULL,
	[O40] [nvarchar](max) NULL,
	[P01] [nvarchar](max) NULL,
	[MA3/OP3] [nvarchar](max) NULL,
	[IE3] [nvarchar](max) NULL,
	[IE3(2)] [nvarchar](max) NULL,
	[MySupply] [nvarchar](max) NULL,
	[My Supply Exception rules for EEE MRP] [nvarchar](max) NULL,
	[MySupply Exception rules Space High Volumne] [nvarchar](max) NULL,
	[ePROC] [nvarchar](max) NULL,
	[TOPxy 2.0 Main Sub-commodity allocation] [nvarchar](max) NULL,
	[Commodity Manager (Production)] [nvarchar](max) NULL,
	[TOPxy 2.0 Main Sub-commodity allocation (short)] [nvarchar](max) NULL,
	[Commodity Manager (CS/MRO)] [nvarchar](max) NULL,
	[CLUSTER (if P11 EEE)] [nvarchar](max) NULL,
	[TSOE Main Sub-commodity allocation] [nvarchar](max) NULL,
	[Commodity Manager (EEE)] [nvarchar](max) NULL,
	[TDE Main Sub-commodity allocation] [nvarchar](max) NULL,
	[Commodity Manager (Orlando)] [nvarchar](max) NULL,
	[SSMA_TS] [datetime2](7) NULL,
	[SSMA_LAST_TS] [datetime2](7) NULL,
	[ADCCS] [nvarchar](max) NULL,
	[AGCCS] [nvarchar](max) NULL,
	[CarveOutOrg] [nvarchar](max) NULL,
	[CarveOutResponsible] [nvarchar](max) NULL,
	[Cluster1] [nvarchar](max) NULL,
	[Cluster2] [nvarchar](max) NULL,
	[EEEOrg] [nvarchar](max) NULL,
	[EEEResponsible] [nvarchar](max) NULL,
	[KeyWordD] [nvarchar](max) NULL,
	[KeyWordE] [nvarchar](max) NULL,
	[KeyWordF] [nvarchar](max) NULL,
	[KeyWordS] [nvarchar](max) NULL,
	[LastUpdate] [datetime2](7) NULL,
	[LongTextE] [nvarchar](max) NULL,
	[LongTextF] [nvarchar](max) NULL,
	[LongTextS] [nvarchar](max) NULL,
	[MRO_ServiceOrg] [nvarchar](max) NULL,
	[MRO_ServiceResponsible] [nvarchar](max) NULL,
	[ProductionOrg] [nvarchar](max) NULL,
	[ProductionResponsible] [nvarchar](max) NULL,
	[ShortTextD] [nvarchar](max) NULL,
	[ShortTextE] [nvarchar](max) NULL,
	[ShortTextF] [nvarchar](max) NULL,
	[ShortTextS] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
