USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_PO_Header_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_PO_Header_TMP](
	[EKKO_SYSID] [varchar](max) NULL,
	[EKKO_BUKRS] [varchar](max) NULL,
	[NOT_APPLICABLE_00] [varchar](max) NULL,
	[EKKO_EBELN] [varchar](max) NULL,
	[NOT_APPLICABLE_01] [varchar](max) NULL,
	[NOT_APPLICABLE_02] [varchar](max) NULL,
	[EKKO_LOEKZ] [varchar](max) NULL,
	[NOT_APPLICABLE_03] [varchar](max) NULL,
	[NOT_APPLICABLE_04] [varchar](max) NULL,
	[EKKO_BEDAT] [varchar](max) NULL,
	[NOT_APPLICABLE_05] [varchar](max) NULL,
	[EKKO_ERDAT] [varchar](max) NULL,
	[EKKO_AEDAT] [varchar](max) NULL,
	[NOT_APPLICABLE_06] [varchar](max) NULL,
	[NOT_APPLICABLE_07] [varchar](max) NULL,
	[NOT_APPLICABLE_08] [varchar](max) NULL,
	[EKKO_WAERS] [varchar](max) NULL,
	[EKKO_WKURS] [varchar](max) NULL,
	[NOT_APPLICABLE_09] [varchar](max) NULL,
	[EUR] [varchar](max) NULL,
	[NOT_APPLICABLE_10] [varchar](max) NULL,
	[NOT_APPLICABLE_11] [varchar](max) NULL,
	[NOT_APPLICABLE_12] [varchar](max) NULL,
	[NOT_APPLICABLE_13] [varchar](max) NULL,
	[NOT_APPLICABLE_14] [varchar](max) NULL,
	[NOT_APPLICABLE_15] [varchar](max) NULL,
	[NOT_APPLICABLE_16] [varchar](max) NULL,
	[NOT_APPLICABLE_17] [varchar](max) NULL,
	[EKKO_LIFNR] [varchar](max) NULL,
	[NOT_APPLICABLE_18] [varchar](max) NULL,
	[NOT_APPLICABLE_19] [varchar](max) NULL,
	[NOT_APPLICABLE_20] [varchar](max) NULL,
	[NOT_APPLICABLE_21] [varchar](max) NULL,
	[NOT_APPLICABLE_22] [varchar](max) NULL,
	[NOT_APPLICABLE_23] [varchar](max) NULL,
	[NOT_APPLICABLE_24] [varchar](max) NULL,
	[NOT_APPLICABLE_25] [varchar](max) NULL,
	[NOT_APPLICABLE_26] [varchar](max) NULL,
	[EKPO_KONNR] [varchar](max) NULL,
	[NOT_APPLICABLE_27] [varchar](max) NULL,
	[NOT_APPLICABLE_28] [varchar](max) NULL,
	[NOT_APPLICABLE_29] [varchar](max) NULL,
	[NOT_APPLICABLE_30] [varchar](max) NULL,
	[NOT_APPLICABLE_31] [varchar](max) NULL,
	[NOT_APPLICABLE_32] [varchar](max) NULL,
	[NOT_APPLICABLE_33] [varchar](max) NULL,
	[NOT_APPLICABLE_34] [varchar](max) NULL,
	[NOT_APPLICABLE_35] [varchar](max) NULL,
	[NOT_APPLICABLE_36] [varchar](max) NULL,
	[NOT_APPLICABLE_37] [varchar](max) NULL,
	[NOT_APPLICABLE_38] [varchar](max) NULL,
	[NOT_APPLICABLE_39] [varchar](max) NULL,
	[NOT_APPLICABLE_40] [varchar](max) NULL,
	[NOT_APPLICABLE_41] [varchar](max) NULL,
	[NOT_APPLICABLE_42] [varchar](max) NULL,
	[NOT_APPLICABLE_43] [varchar](max) NULL,
	[NOT_APPLICABLE_44] [varchar](max) NULL,
	[NOT_APPLICABLE_45] [varchar](max) NULL,
	[NOT_APPLICABLE_46] [varchar](max) NULL,
	[NOT_APPLICABLE_47] [varchar](max) NULL,
	[NOT_APPLICABLE_48] [varchar](max) NULL,
	[NOT_APPLICABLE_49] [varchar](max) NULL,
	[NOT_APPLICABLE_50] [varchar](max) NULL,
	[NOT_APPLICABLE_51] [varchar](max) NULL,
	[NOT_APPLICABLE_52] [varchar](max) NULL,
	[NOT_APPLICABLE_53] [varchar](max) NULL,
	[NOT_APPLICABLE_54] [varchar](max) NULL,
	[NOT_APPLICABLE_55] [varchar](max) NULL,
	[EKKO_BSART] [varchar](max) NULL,
	[EKKO_INCO1] [varchar](max) NULL,
	[EKKO_INCO2] [varchar](max) NULL,
	[EKKO_ZTERM] [varchar](max) NULL,
	[NOT_APPLICABLE_56] [varchar](max) NULL,
	[NOT_APPLICABLE_57] [varchar](max) NULL,
	[NOT_APPLICABLE_58] [varchar](max) NULL,
	[EKKO_EKGRP] [varchar](max) NULL,
	[NOT_APPLICABLE_59] [varchar](max) NULL,
	[EKKO_EKGSM] [varchar](max) NULL,
	[EKKO_UEBDT] [varchar](max) NULL,
	[EKKO_AEUSERNAME] [varchar](max) NULL,
	[EKKO_ERNAM] [varchar](max) NULL,
	[EKKO_DATUM] [varchar](max) NULL,
	[NOT_APPLICABLE_60] [varchar](max) NULL,
	[NOT_APPLICABLE_61] [varchar](max) NULL,
	[NOT_APPLICABLE_62] [varchar](max) NULL,
	[NOT_APPLICABLE_63] [varchar](max) NULL,
	[NOT_APPLICABLE_64] [varchar](max) NULL,
	[NOT_APPLICABLE_65] [varchar](max) NULL,
	[NOT_APPLICABLE_66] [varchar](max) NULL,
	[NOT_APPLICABLE_67] [varchar](max) NULL,
	[NOT_APPLICABLE_68] [varchar](max) NULL,
	[NOT_APPLICABLE_69] [varchar](max) NULL,
	[NOT_APPLICABLE_70] [varchar](max) NULL,
	[NOT_APPLICABLE_71] [varchar](max) NULL,
	[NOT_APPLICABLE_72] [varchar](max) NULL,
	[NOT_APPLICABLE_73] [varchar](max) NULL,
	[NOT_APPLICABLE_74] [varchar](max) NULL,
	[NOT_APPLICABLE_75] [varchar](max) NULL,
	[NOT_APPLICABLE_76] [varchar](max) NULL,
	[NOT_APPLICABLE_77] [varchar](max) NULL,
	[NOT_APPLICABLE_78] [varchar](max) NULL,
	[NOT_APPLICABLE_79] [varchar](max) NULL,
	[EKKO_ANGNR] [varchar](max) NULL,
	[EKKO_BSTYP] [varchar](max) NULL,
	[EKKO_CWAERS] [varchar](max) NULL,
	[EKKO_EKORG] [varchar](max) NULL,
	[EKKO_IHRAN] [varchar](max) NULL,
	[EKKO_IHREZ] [varchar](max) NULL,
	[EKKO_KDATB] [varchar](max) NULL,
	[EKKO_KDATE] [varchar](max) NULL,
	[EKKO_KUFIX] [varchar](max) NULL,
	[EKKO_LONGTEXT] [varchar](max) NULL,
	[EKKO_MANDT] [varchar](max) NULL,
	[EKKO_STCEG] [varchar](max) NULL,
	[EKKO_SUBMI] [varchar](max) NULL,
	[EKKO_UNSEZ] [varchar](max) NULL,
	[EKKO_UDATE] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
