USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[REMOVE_DUPLICATE_CO_Header]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Pedro Morand>
-- Create date: <November, 2017>
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[REMOVE_DUPLICATE_CO_Header]
AS
BEGIN
	SET NOCOUNT ON;

;with cte as (
    select row_number() over(partition by HASH_PO_HEADER order by EKKOK_DATUM DESC) as row_num
    from [dbo].[CO_Header]
	-- lines with contract id but without po link
	where
	[HASH_PO_HEADER] <> 0xB71C852580E81DE770A89AE31E79C170 
	or
	[HASH_PO_HEADER] <> 0x0DEBF6D4F4A3C5972811D82DB4B52A3F
	or
	[HASH_PO_HEADER] <> 0x150CF6CCA2F188D4975DB8164B1C0D19
	or
	[HASH_PO_HEADER] <> 0xC9F7EFE07800BCBA58CA88824322DAFE
	or
	[HASH_PO_HEADER] <> 0xB64D941B608212B1DC9251EF4308AEC7
	or
	[HASH_PO_HEADER] <> 0x8A11D73884F23372548C9DFA3364742A
	or
	[HASH_PO_HEADER] <> 0xC7A1A0BFB64676432EDCAEBDF847BE7C
	or
	[HASH_PO_HEADER] <> 0x98B0AD2B0EA730CBF4FF4E0600B5AECC
	or
	[HASH_PO_HEADER] <> 0x0D04A7C48EFBD3E28548669AC9F63996
	or
	[HASH_PO_HEADER] <> 0xEC4B28DA65FEBA99E645B731BBA6AAC6
	or
	[HASH_PO_HEADER] <> 0x3F2A7BD9E81DE47BA684BB2569E934AD
	or
	[HASH_PO_HEADER] <> 0x9925EBBFA4F974BEEAA9C708E244A6F1
	or
	[HASH_PO_HEADER] <> 0xC7A1A0BFB64676432EDCAEBDF847BE7C
	or
	[HASH_PO_HEADER] <> 0xF0772B4AD99079A850424A9B286BBC21
	or
	[HASH_PO_HEADER] <> 0x9963D7C04DED999CACA2D4572F3DDD2E
	or
	[HASH_PO_HEADER] <> 0xF34E330280FC9C381CB9C95F99F2942B
	or
	[HASH_PO_HEADER] <> 0xF8FFE885545B238C66F45F50AD4A8984
	or
	[HASH_PO_HEADER] <> 0x8A11D73884F23372548C9DFA3364742A
)
delete
from cte
where row_num > 1
;
END

GO
