USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_QInfRef]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_QInfRef]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[QInfRec]
(
[HASH_QINF],
[QINF_SYSID],
[QINF_MANDT],
[QINF_MATNR],
[QINF_ZAEHL],
[QINF_REVLV],
[QINF_AENDERDAT],
[QINF_AENDERER],
[QINF_BEST_MG],
[QINF_CERTCONTROL],
[QINF_DAT_RUECK],
[QINF_ERSTELLDAT],
[QINF_ERSTELLER],
[QINF_FREI_DAT],
[QINF_FREI_MGKZ],
[QINF_FREI_MNG],
[QINF_LIEFERANT],
[QINF_LOEKZ],
[QINF_LTEXTKZ],
[QINF_ME],
[QINF_NOINSP],
[QINF_NOINSPABN],
[QINF_OBJNR],
[QINF_PLOS],
[QINF_PLOS2],
[QINF_QSSYSDAT],
[QINF_QSSYSFAM],
[QINF_QVVORH],
[QINF_SPERRFKT],
[QINF_SPERRGRUND],
[QINF_SPRACHE],
[QINF_SPRAS],
[QINF_STSMA],
[QINF_VARIABNAHM],
[QINF_VORLABN],
[QINF_WERK],
[QINF_LFA1_SPERQ],
[QINF_LFA1_QSSYS],
[QINF_LFA1_QSSYSDAT],
[QINF_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QINF_SYSID],'"',''),' ',''),REPLACE(REPLACE([QINF_MANDT],'"',''),' ',''),REPLACE(REPLACE([QINF_MATNR],'"',''),' ',''),REPLACE(REPLACE([QINF_REVLV],'"',''),' ',''))) as [HASH_QINF],
REPLACE([QINF_SYSID] ,'"',''),
REPLACE([QINF_MANDT] ,'"',''),
REPLACE([QINF_MATNR] ,'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QINF_ZAEHL], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QINF_ZAEHL], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
		ELSE NULL
	END AS [QINF_ZAEHL],
REPLACE([QINF_REVLV] ,'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QINF_AENDERDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QINF_AENDERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QINF_AENDERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QINF_AENDERDAT],
REPLACE([QINF_AENDERER] ,'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QINF_BEST_MG], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QINF_BEST_MG], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
		ELSE NULL
	END AS [QINF_BEST_MG],
REPLACE([QINF_CERTCONTROL] ,'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QINF_DAT_RUECK] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QINF_DAT_RUECK], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QINF_DAT_RUECK], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QINF_DAT_RUECK],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QINF_ERSTELLDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QINF_ERSTELLDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QINF_ERSTELLDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QINF_ERSTELLDAT],
REPLACE([QINF_ERSTELLER] ,'"',''),

CASE 
	WHEN REPLACE(REPLACE(REPLACE([QINF_FREI_DAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QINF_FREI_DAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QINF_FREI_DAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QINF_FREI_DAT],
REPLACE([QINF_FREI_MGKZ] ,'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QINF_FREI_MNG], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QINF_FREI_MNG], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
		ELSE NULL
	END AS [QINF_FREI_MNG],
REPLACE([QINF_LIEFERANT] ,'"',''),
REPLACE([QINF_LOEKZ] ,'"',''),
REPLACE([QINF_LTEXTKZ] ,'"',''),
REPLACE([QINF_ME] ,'"',''),
REPLACE([QINF_NOINSP] ,'"',''),
REPLACE([QINF_NOINSPABN] ,'"',''),
REPLACE([QINF_OBJNR] ,'"',''),
REPLACE([QINF_PLOS] ,'"',''),
REPLACE([QINF_PLOS2] ,'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QINF_QSSYSDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QINF_QSSYSDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QINF_QSSYSDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QINF_QSSYSDAT],
REPLACE([QINF_QSSYSFAM] ,'"',''),
REPLACE([QINF_QVVORH] ,'"',''),
REPLACE([QINF_SPERRFKT] ,'"',''),
REPLACE([QINF_SPERRGRUND] ,'"',''),
REPLACE([QINF_SPRACHE] ,'"',''),
REPLACE([QINF_SPRAS] ,'"',''),
REPLACE([QINF_STSMA] ,'"',''),
REPLACE([QINF_VARIABNAHM] ,'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QINF_VORLABN], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QINF_VORLABN], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,2))
		ELSE NULL
	END AS [QINF_VORLABN],
REPLACE([QINF_WERK] ,'"',''),
REPLACE([QINF_LFA1_SPERQ] ,'"',''),
REPLACE([QINF_LFA1_QSSYS] ,'"',''),

CASE 
	WHEN REPLACE(REPLACE(REPLACE([QINF_LFA1_QSSYSDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QINF_LFA1_QSSYSDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QINF_LFA1_QSSYSDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QINF_LFA1_QSSYSDAT],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QINF_DATUM] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QINF_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QINF_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QINF_DATUM]
FROM
[dbo].[QInfRec_ETL]
where [QINF_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
