USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[MD_Project_ETL]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MD_Project_ETL](
	[PROJ_SYSID] [varchar](max) NULL,
	[PROJ_MANDT] [varchar](max) NULL,
	[PROJ_VBUKR] [varchar](max) NULL,
	[PROJ_PSPID] [varchar](max) NULL,
	[PROJ_POST1] [varchar](max) NULL,
	[PROJ_PLFAZ] [varchar](max) NULL,
	[PROJ_PLSEZ] [varchar](max) NULL,
	[PROJ_VERNA] [varchar](max) NULL,
	[PROJ_ASTNA] [varchar](max) NULL,
	[PROJ_ISTAT] [varchar](max) NULL,
	[PROJ_SPRAS] [varchar](max) NULL,
	[PROJ_TXT30] [varchar](max) NULL,
	[PROJ_PRCTR] [varchar](max) NULL,
	[PROJ_POSID] [varchar](max) NULL,
	[PROJ_PSPNR] [varchar](max) NULL,
	[PROJ_PRPS_POST1] [varchar](max) NULL,
	[PROJ_ERDAT] [varchar](max) NULL,
	[PROJ_AEDAT] [varchar](max) NULL,
	[PROJ_DATUM] [varchar](max) NULL,
	[PROJ_ZZBKZ] [varchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime2](7) NULL,
	[UPLOAD_TIME] [datetime2](7) NULL,
	[UPLOAD_BLOCK] [varchar](1) NULL,
 CONSTRAINT [PK_MD_project_ETL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MD_Project_ETL] ADD  CONSTRAINT [DF__MD_project_ETL_Last_Update]  DEFAULT (getdate()) FOR [LAST_UPDATE]
GO
ALTER TABLE [dbo].[MD_Project_ETL] ADD  CONSTRAINT [DF__MD_project_ETL_Upload_Time]  DEFAULT (getdate()) FOR [UPLOAD_TIME]
GO
