USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[CFT_Item_ETL]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFT_Item_ETL](
	[EKPOA_SYSID] [varchar](max) NULL,
	[EKPOA_MANDT] [varchar](max) NULL,
	[EKPOA_BUKRS] [varchar](max) NULL,
	[EKPOA_EBELN] [varchar](max) NULL,
	[EKPOA_EBELP] [varchar](max) NULL,
	[EKPOA_WERKS] [varchar](max) NULL,
	[EKPOA_LOEKZ] [varchar](max) NULL,
	[EKPOA_PSTYP] [varchar](max) NULL,
	[EKPOA_UDATE] [varchar](max) NULL,
	[EKPOA_ORDERDATE] [varchar](max) NULL,
	[EKPOA_MENGE] [varchar](max) NULL,
	[EKPOA_MEINS] [varchar](max) NULL,
	[EKPOA_NETWR] [varchar](max) NULL,
	[EKPOA_CAMOUNT] [varchar](max) NULL,
	[EKPOA_EURAMOUNT] [varchar](max) NULL,
	[EKPOA_WKURS] [varchar](max) NULL,
	[EKPOA_RATE] [varchar](max) NULL,
	[EKPOA_LONGTEXT] [varchar](max) NULL,
	[EKPOA_TXZ01] [varchar](max) NULL,
	[EKPOA_MATKL] [varchar](max) NULL,
	[EKPOA_MATNR] [varchar](max) NULL,
	[EKPOA_REVLV] [varchar](max) NULL,
	[EKPOA_IDNLF] [varchar](max) NULL,
	[EKPOA_BANFN] [varchar](max) NULL,
	[EKPOA_BNFPO] [varchar](max) NULL,
	[EKPOA_AFNAM] [varchar](max) NULL,
	[EKPOA_BEDNR] [varchar](max) NULL,
	[EKPOA_KONNR] [varchar](max) NULL,
	[EKPOA_KTPNR] [varchar](max) NULL,
	[EKPOA_WEPOS] [varchar](max) NULL,
	[EKPOA_EVERS] [varchar](max) NULL,
	[EKPOA_INSMK] [varchar](max) NULL,
	[EKPOA_MHDRZ] [varchar](max) NULL,
	[EKPOA_IPRKZ] [varchar](max) NULL,
	[EKPOA_SSQSS] [varchar](max) NULL,
	[EKPOA_PLIFZ] [varchar](max) NULL,
	[EKPOA_WEBAZ] [varchar](max) NULL,
	[EKPOA_LEWED] [varchar](max) NULL,
	[EKPOA_ABLAD] [varchar](max) NULL,
	[EKPOA_LGORT] [varchar](max) NULL,
	[EKPOA_NAME1] [varchar](max) NULL,
	[EKPOA_NAME2] [varchar](max) NULL,
	[EKPOA_STREET] [varchar](max) NULL,
	[EKPOA_POST_CODE1] [varchar](max) NULL,
	[EKPOA_CITY1] [varchar](max) NULL,
	[EKPOA_REGION] [varchar](max) NULL,
	[EKPOA_COUNTRY] [varchar](max) NULL,
	[EKPOA_PO_BOX] [varchar](max) NULL,
	[EKPOA_KZABS] [varchar](max) NULL,
	[EKPOA_LABNR] [varchar](max) NULL,
	[EKPOA_ELIKZ] [varchar](max) NULL,
	[EKPOA_EREKZ] [varchar](max) NULL,
	[EKPOA_UEBTO] [varchar](max) NULL,
	[EKPOA_UEBTK] [varchar](max) NULL,
	[EKPOA_UNTTO] [varchar](max) NULL,
	[EKPOA_XOBLR] [varchar](max) NULL,
	[EKPOA_KNTTP] [varchar](max) NULL,
	[EKPOA_VRTKZ] [varchar](max) NULL,
	[EKPOA_INCO1] [varchar](max) NULL,
	[EKPOA_INCO2] [varchar](max) NULL,
	[EKPOA_MFRNR] [varchar](max) NULL,
	[EKPOA_MFRPN] [varchar](max) NULL,
	[EKPOA_EAN11] [varchar](max) NULL,
	[EKPOA_ERUSERNAME] [varchar](max) NULL,
	[EKPOA_AEUSERNAME] [varchar](max) NULL,
	[EKPOA_AEDAT] [varchar](max) NULL,
	[EKPOA_DATUM] [varchar](max) NULL,
	[EKPOA_ZZBP1] [varchar](max) NULL,
	[EKPOA_ZZCR1] [varchar](max) NULL,
	[EKPOA_ZZPT1] [varchar](max) NULL,
	[EKPOA_ZZPD1] [varchar](max) NULL,
	[EKPOA_ZZBP2] [varchar](max) NULL,
	[EKPOA_ZZCR2] [varchar](max) NULL,
	[EKPOA_ZZPT2] [varchar](max) NULL,
	[EKPOA_ZZPD2] [varchar](max) NULL,
	[EKPOA_ZZBP3] [varchar](max) NULL,
	[EKPOA_ZZCR3] [varchar](max) NULL,
	[EKPOA_ZZPT3] [varchar](max) NULL,
	[EKPOA_ZZPD3] [varchar](max) NULL,
	[EKPOA_ZZBP4] [varchar](max) NULL,
	[EKPOA_ZZCR4] [varchar](max) NULL,
	[EKPOA_ZZPT4] [varchar](max) NULL,
	[EKPOA_ZZPD4] [varchar](max) NULL,
	[EKPOA_ZZBP5] [varchar](max) NULL,
	[EKPOA_ZZCR5] [varchar](max) NULL,
	[EKPOA_ZZPT5] [varchar](max) NULL,
	[EKPOA_ZZPD5] [varchar](max) NULL,
	[EKPOA_WAERS] [varchar](max) NULL,
	[EKPOA_ADRNR] [varchar](max) NULL,
	[EKPOA_ADRN2] [varchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LAST_UPDATE] [datetime2](7) NULL,
	[UPLOAD_TIME] [datetime2](7) NULL,
	[UPLOAD_BLOCK] [varchar](1) NULL,
 CONSTRAINT [PK_CFT_Item_ETL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CFT_Item_ETL] ADD  CONSTRAINT [DF__CFT_Item_ETL_Last_Update]  DEFAULT (getdate()) FOR [LAST_UPDATE]
GO
ALTER TABLE [dbo].[CFT_Item_ETL] ADD  CONSTRAINT [DF__CFT_Item_ETL_Upload_Time]  DEFAULT (getdate()) FOR [UPLOAD_TIME]
GO
