USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_QN_Measure]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_QN_Measure]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[QN_Measure]
(
[HASH_QN_MEASURE],
[HASH_QN_HEADER],
[HASH_QN_ITEM],
[QMSM_SYSID] ,
[QMSM_MANDT] ,
[QMSM_QMNUM] ,
[QMSM_MANUM] ,
[QMSM_MNKAT] ,
[QMSM_MNGRP] ,
[QMSM_MNCOD] ,
[QMSM_MNVER] ,
[QMSM_FOLGEACT] ,
[QMSM_FOLACTPROT] ,
[QMSM_MATXT] ,
[QMSM_ERNAM] ,
[QMSM_ERDAT] ,
[QMSM_AENAM] ,
[QMSM_AEDAT] ,
[QMSM_PSTER] ,
[QMSM_PETER] ,
[QMSM_OBJNR] ,
[QMSM_INDTX] ,
[QMSM_KZMLA] ,
[QMSM_PSTUR] ,
[QMSM_PETUR] ,
[QMSM_ERLNAM] ,
[QMSM_ERLDAT] ,
[QMSM_ERLZEIT] ,
[QMSM_WDVDAT] ,
[QMSM_FENUM] ,
[QMSM_URNUM] ,
[QMSM_ERZEIT] ,
[QMSM_AEZEIT] ,
[QMSM_PARVW] ,
[QMSM_PARNR] ,
[QMSM_MMENGE] ,
[QMSM_MMGEIN] ,
[QMSM_BAUTL] ,
[QMSM_KZLOESCH] ,
[QMSM_QSMNUM] ,
[QMSM_AUTKZ] ,
[QMSM_HANDLE] ,
[QMSM_TSEGFL] ,
[QMSM_TSEGTP] ,
[QMSM_TZONSO] ,
[QMSM_TZONSM] ,
[QMSM_TZONID] ,
[QMSM_KZACTIONBOX] ,
[QMSM_FUNKTION] ,
[QMSM_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMSM_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMSM_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMSM_QMNUM],'"','')),' ',''),REPLACE(REPLACE([QMSM_MANUM],'"',''),' ',''))) as [HASH_QN_MEASURE],	
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMSM_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMSM_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMSM_QMNUM],'"','')),' ',''))) as [HASH_QN_HEADER],	
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMSM_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMSM_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMSM_QMNUM],'"','')),' ',''),REPLACE(REPLACE([QMSM_FENUM],'"',''),' ',''))) as [HASH_QN_ITEM],
REPLACE([QMSM_SYSID],'"',''),
REPLACE([QMSM_MANDT],'"',''),
[dbo].[add_0](12,REPLACE([QMSM_QMNUM],'"','')),
REPLACE([QMSM_MANUM],'"',''),
REPLACE([QMSM_MNKAT],'"',''),
REPLACE([QMSM_MNGRP],'"',''),
REPLACE([QMSM_MNCOD],'"',''),
REPLACE([QMSM_MNVER],'"',''),
REPLACE([QMSM_FOLGEACT],'"',''),
REPLACE([QMSM_FOLACTPROT],'"',''),
REPLACE([QMSM_MATXT],'"',''),
REPLACE([QMSM_ERNAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMSM_ERDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMSM_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMSM_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMSM_ERDAT],
REPLACE([QMSM_AENAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMSM_AEDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMSM_AEDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMSM_AEDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMSM_AEDAT],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMSM_PSTER] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMSM_PSTER], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMSM_PSTER], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMSM_PSTER],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMSM_PETER] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMSM_PETER], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMSM_PETER], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMSM_PETER],
REPLACE([QMSM_OBJNR],'"',''),
REPLACE([QMSM_INDTX],'"',''),
REPLACE([QMSM_KZMLA],'"',''),
REPLACE([QMSM_PSTUR],'"',''),
REPLACE([QMSM_PETUR],'"',''),
REPLACE([QMSM_ERLNAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMSM_ERLDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMSM_ERLDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMSM_ERLDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMSM_ERLDAT],
REPLACE([QMSM_ERLZEIT],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMSM_WDVDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMSM_WDVDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMSM_WDVDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMSM_WDVDAT],
REPLACE([QMSM_FENUM],'"',''),
REPLACE([QMSM_URNUM],'"',''),
REPLACE([QMSM_ERZEIT],'"',''),
REPLACE([QMSM_AEZEIT],'"',''),
REPLACE([QMSM_PARVW],'"',''),
REPLACE([QMSM_PARNR],'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMSM_MMENGE], CHAR(13), ''), CHAR(10), ''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([QMSM_MMENGE], CHAR(13), ''), CHAR(10), ''),'"','') as decimal(18,3))
		ELSE NULL
	END AS [QMSM_MMENGE],
REPLACE([QMSM_MMGEIN],'"',''),
REPLACE([QMSM_BAUTL],'"',''),
REPLACE([QMSM_KZLOESCH],'"',''),
REPLACE([QMSM_QSMNUM],'"',''),
REPLACE([QMSM_AUTKZ],'"',''),
REPLACE([QMSM_HANDLE],'"',''),
REPLACE([QMSM_TSEGFL],'"',''),
REPLACE([QMSM_TSEGTP],'"',''),
REPLACE([QMSM_TZONSO],'"',''),
REPLACE([QMSM_TZONSM],'"',''),
REPLACE([QMSM_TZONID],'"',''),
REPLACE([QMSM_KZACTIONBOX],'"',''),
REPLACE([QMSM_FUNKTION],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMSM_DATUM] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMSM_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMSM_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMSM_DATUM]
FROM
[dbo].[QN_Measure_ETL]
where [QMSM_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
