USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_INV_Item_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_INV_Item_TMP](
	[BSEG_SYSID] [varchar](max) NULL,
	[BSEG_BUKRS] [varchar](max) NULL,
	[BSEG_GJAHR] [varchar](max) NULL,
	[BSEG_BELNR] [varchar](max) NULL,
	[NOT_APPLICABLE_00] [varchar](max) NULL,
	[BSEG_BUZEI] [varchar](max) NULL,
	[NOT_APPLICABLE_01] [varchar](max) NULL,
	[NOT_APPLICABLE_02] [varchar](max) NULL,
	[BSEG_UDATE] [varchar](max) NULL,
	[NOT_APPLICABLE_03] [varchar](max) NULL,
	[BSEG_MENGE] [varchar](max) NULL,
	[NOT_APPLICABLE_04] [varchar](max) NULL,
	[NOT_APPLICABLE_05] [varchar](max) NULL,
	[NOT_APPLICABLE_06] [varchar](max) NULL,
	[BSEG_WRBTR] [varchar](max) NULL,
	[NOT_APPLICABLE_07] [varchar](max) NULL,
	[BSEG_DMBTR] [varchar](max) NULL,
	[EUR] [varchar](max) NULL,
	[NOT_APPLICABLE_08] [varchar](max) NULL,
	[NOT_APPLICABLE_09] [varchar](max) NULL,
	[NOT_APPLICABLE_10] [varchar](max) NULL,
	[BSEG_SGTXT] [varchar](max) NULL,
	[NOT_APPLICABLE_11] [varchar](max) NULL,
	[BSEG_MATNR] [varchar](max) NULL,
	[NOT_APPLICABLE_12] [varchar](max) NULL,
	[BSEG_MEINS] [varchar](max) NULL,
	[BSEG_LIFNR] [varchar](max) NULL,
	[BSEG_SAKNR] [varchar](max) NULL,
	[BSEG_WERKS] [varchar](max) NULL,
	[BSEG_KOSTL] [varchar](max) NULL,
	[BSEG_VERTN] [varchar](max) NULL,
	[BSEG_EBELN] [varchar](max) NULL,
	[NOT_APPLICABLE_13] [varchar](max) NULL,
	[BSEG_EBELP] [varchar](max) NULL,
	[NOT_APPLICABLE_14] [varchar](max) NULL,
	[BSEG_ZEKKN] [varchar](max) NULL,
	[NOT_APPLICABLE_15] [varchar](max) NULL,
	[BSEG_AUGDT] [varchar](max) NULL,
	[BSEG_ZUONR] [varchar](max) NULL,
	[NOT_APPLICABLE_16] [varchar](max) NULL,
	[BSEG_ZTERM] [varchar](max) NULL,
	[NOT_APPLICABLE_17] [varchar](max) NULL,
	[NOT_APPLICABLE_18] [varchar](max) NULL,
	[BSEG_BSCHL] [varchar](max) NULL,
	[BSEG_KOART] [varchar](max) NULL,
	[BSEG_MWSKZ] [varchar](max) NULL,
	[BSEG_MWART] [varchar](max) NULL,
	[BSEG_KTOSL] [varchar](max) NULL,
	[BSEG_BEWAR] [varchar](max) NULL,
	[BSEG_XUMSW] [varchar](max) NULL,
	[BSEG_POSID] [varchar](max) NULL,
	[BSEG_NPLNR] [varchar](max) NULL,
	[BSEG_PRCTR] [varchar](max) NULL,
	[BSEG_AUFNR] [varchar](max) NULL,
	[NOT_APPLICABLE_19] [varchar](max) NULL,
	[BSEG_AEUSERNAME] [varchar](max) NULL,
	[BSEG_ERUSERNAME] [varchar](max) NULL,
	[NOT_APPLICABLE_20] [varchar](max) NULL,
	[BSEG_AUGGJ] [varchar](max) NULL,
	[BSEG_AUGBL] [varchar](max) NULL,
	[BSEG_AGZEI] [varchar](max) NULL,
	[BSEG_DATUM] [varchar](max) NULL,
	[BSEG_MANDT] [varchar](max) NULL,
	[BSEG_ZZBKZ] [varchar](max) NULL,
	[BSEG_BUDAT] [varchar](max) NULL,
	[BSEG_BUZID] [varchar](max) NULL,
	[BSEG_ERDATE] [varchar](max) NULL,
	[BSEG_HKONT] [varchar](max) NULL,
	[BSEG_LONGTEXT] [varchar](max) NULL,
	[BSEG_POSN2] [varchar](max) NULL,
	[BSEG_PROJK] [varchar](max) NULL,
	[BSEG_SHKZG] [varchar](max) NULL,
	[BSEG_UDATE_2] [varchar](max) NULL,
	[BSEG_VBEL2] [varchar](max) NULL,
	[BSEG_AMOUNTEUR] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
