USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[PO_History]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO_History](
	[EKBE_UNIQU] [int] IDENTITY(1,1) NOT NULL,
	[EKBE_UID] [uniqueidentifier] NULL,
	[HASH_PO_HISTORY] [binary](16) NULL,
	[HASH_PO_ITEM] [binary](16) NULL,
	[HASH_PO_CONFIRMATION] [binary](16) NULL,
	[EKBE_SYSID] [nvarchar](255) NULL,
	[EKBE_MANDT] [nvarchar](255) NULL,
	[EKBE_EBELN] [nvarchar](255) NULL,
	[EKBE_EBELP] [nvarchar](255) NULL,
	[EKBE_AREWB] [decimal](18, 2) NULL,
	[EKBE_AREWR] [decimal](18, 2) NULL,
	[EKBE_AREWR_POP] [decimal](18, 2) NULL,
	[EKBE_AREWW] [decimal](18, 2) NULL,
	[EKBE_BAMNG] [decimal](18, 3) NULL,
	[EKBE_BEKKN] [nvarchar](255) NULL,
	[EKBE_BELNR] [nvarchar](255) NULL,
	[EKBE_BEWTP] [nvarchar](255) NULL,
	[EKBE_BLDAT] [datetime2](7) NULL,
	[EKBE_BPMNG] [decimal](18, 3) NULL,
	[EKBE_BPMNG_POP] [decimal](18, 3) NULL,
	[EKBE_BPWEB] [decimal](18, 3) NULL,
	[EKBE_BPWES] [decimal](18, 3) NULL,
	[EKBE_BUDAT] [datetime2](7) NULL,
	[EKBE_BUZEI] [nvarchar](255) NULL,
	[EKBE_BWART] [nvarchar](255) NULL,
	[EKBE_BWTAR] [nvarchar](255) NULL,
	[EKBE_CHARG] [nvarchar](255) NULL,
	[EKBE_CPUDT] [datetime2](7) NULL,
	[EKBE_CPUTM] [nvarchar](255) NULL,
	[EKBE_DMBTR] [decimal](18, 2) NULL,
	[EKBE_DMBTR_POP] [decimal](18, 2) NULL,
	[EKBE_ELIKZ] [nvarchar](255) NULL,
	[EKBE_EMATN] [nvarchar](255) NULL,
	[EKBE_ERNAM] [nvarchar](255) NULL,
	[EKBE_ET_UPD] [nvarchar](255) NULL,
	[EKBE_ETENS] [nvarchar](255) NULL,
	[EKBE_EVERE] [nvarchar](255) NULL,
	[EKBE_GJAHR] [nvarchar](255) NULL,
	[EKBE_GRUND] [nvarchar](255) NULL,
	[EKBE_HSWAE] [nvarchar](255) NULL,
	[EKBE_INTROW] [nvarchar](255) NULL,
	[EKBE_KNUMV] [nvarchar](255) NULL,
	[EKBE_KUDIF] [decimal](18, 5) NULL,
	[EKBE_LEMIN] [nvarchar](255) NULL,
	[EKBE_LFBNR] [nvarchar](255) NULL,
	[EKBE_LFGJA] [nvarchar](255) NULL,
	[EKBE_LFPOS] [nvarchar](255) NULL,
	[EKBE_LSMEH] [nvarchar](255) NULL,
	[EKBE_LSMNG] [decimal](18, 3) NULL,
	[EKBE_MATNR] [nvarchar](255) NULL,
	[EKBE_MENGE] [decimal](18, 3) NULL,
	[EKBE_MENGE_POP] [decimal](18, 3) NULL,
	[EKBE_MWSKZ] [nvarchar](255) NULL,
	[EKBE_PACKNO] [nvarchar](255) NULL,
	[EKBE_REEWR] [decimal](18, 2) NULL,
	[EKBE_REFWR] [decimal](18, 2) NULL,
	[EKBE_RETAMT_FC] [decimal](18, 2) NULL,
	[EKBE_RETAMT_LC] [decimal](18, 2) NULL,
	[EKBE_RETAMTP_FC] [decimal](18, 2) NULL,
	[EKBE_RETAMTP_LC] [decimal](18, 2) NULL,
	[EKBE_REWRB] [decimal](18, 2) NULL,
	[EKBE_SAPRL] [nvarchar](255) NULL,
	[EKBE_SHKZG] [nvarchar](255) NULL,
	[EKBE_SRVPOS] [nvarchar](255) NULL,
	[EKBE_VGABE] [nvarchar](255) NULL,
	[EKBE_WAERS] [nvarchar](255) NULL,
	[EKBE_WEORA] [nvarchar](255) NULL,
	[EKBE_WERKS] [nvarchar](255) NULL,
	[EKBE_WESBB] [decimal](18, 3) NULL,
	[EKBE_WESBS] [decimal](18, 3) NULL,
	[EKBE_WKURS] [decimal](18, 5) NULL,
	[EKBE_WRBTR] [decimal](18, 2) NULL,
	[EKBE_WRBTR_POP] [decimal](18, 2) NULL,
	[EKBE_XBLNR] [nvarchar](255) NULL,
	[EKBE_XMACC] [nvarchar](255) NULL,
	[EKBE_XUNPL] [nvarchar](255) NULL,
	[EKBE_XWOFF] [nvarchar](255) NULL,
	[EKBE_XWSBR] [nvarchar](255) NULL,
	[EKBE_ZEKKN] [nvarchar](255) NULL,
	[EKBE_ERUSERNAME] [nvarchar](255) NULL,
	[EKBE_AEUSERNAME] [nvarchar](255) NULL,
	[EKBE_UDATE] [datetime2](7) NULL,
	[EKBE_DATUM] [datetime2](7) NULL,
	[SSMA_TimeStamp] [datetime2](7) NOT NULL,
	[SSMA_LAST_TS] [datetime2](7) NULL,
 CONSTRAINT [PK_PO_History] PRIMARY KEY CLUSTERED 
(
	[EKBE_UNIQU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PO_History] ADD  CONSTRAINT [DF__PO_History__SSMA___2180FB33]  DEFAULT (getdate()) FOR [SSMA_TimeStamp]
GO
