USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_PO_Schedule_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_PO_Schedule_TMP](
	[EKET_SYSID ] [varchar](max) NULL,
	[NOT_APPLICABLE_01 ] [varchar](max) NULL,
	[EKET_EBELN] [varchar](max) NULL,
	[EKET_EBELP] [varchar](max) NULL,
	[EKET_ETENR] [varchar](max) NULL,
	[EKET_EINDT] [varchar](max) NULL,
	[EKET_SLFDT] [varchar](max) NULL,
	[EKET_MENGE] [varchar](max) NULL,
	[EKET_WEMNG] [varchar](max) NULL,
	[EKET_BANFN] [varchar](max) NULL,
	[EKET_BNFPO] [varchar](max) NULL,
	[EKET_ESTKZ] [varchar](max) NULL,
	[EKET_BEDAT] [varchar](max) NULL,
	[EKET_FIXKZ] [varchar](max) NULL,
	[EKET_DATUM] [varchar](max) NULL,
	[EKET_MANDT] [varchar](max) NULL,
	[EKET_CHARG] [varchar](max) NULL,
	[EKET_LICHA] [varchar](max) NULL,
	[EKET_DABMG] [varchar](max) NULL,
	[EKET_MAHNZ] [varchar](max) NULL,
	[EKET_GLMNG] [varchar](max) NULL,
	[EKET_AMENG] [varchar](max) NULL,
	[EKET_WAMNG] [varchar](max) NULL,
	[EKET_ERUSERNAME] [varchar](max) NULL,
	[EKET_AEUSERNAME] [varchar](max) NULL,
	[EKET_UDATE] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
