USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_QN_Header]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_QN_Header]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[QN_Header]
(
[HASH_QN_HEADER],
[HASH_PO_ITEM],
[HASH_GM_ITEM],
[QMEL_SYSID],
[QMEL_MANDT],
[QMEL_QMNUM],
[QMEL_QMART],
[QMEL_QMTXT],
[QMEL_ERNAM],
[QMEL_ERDAT],
[QMEL_AENAM],
[QMEL_AEDAT],
[QMEL_QMDAT],
[QMEL_QMNAM],
[QMEL_AUFNR],
[QMEL_VBELN],
[QMEL_MAWERK],
[QMEL_PRUEFLOS],
[QMEL_CHARG],
[QMEL_EMATNR],
[QMEL_EBELN],
[QMEL_EBELP],
[QMEL_MJAHR],
[QMEL_MBLNR],
[QMEL_MBLPO],
[QMEL_LS_KDAUF],
[QMEL_LS_KDPOS],
[QMEL_LS_VBELN],
[QMEL_LS_POSNR],
[QMEL_MGEIG],
[QMEL_MGFRD],
[QMEL_BZMNG],
[QMEL_RKMNG],
[QMEL_RGMNG],
[QMEL_RKDAT],
[QMEL_KDMAT],
[QMEL_IDNLF],
[QMEL_SERIALNR],
[QMEL_KZLOESCH],
[QMEL_ZZ_QFART],
[QMEL_ZZ_DELIVERY],
[QMEL_EKORG],
[QMEL_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMEL_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMEL_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMEL_QMNUM],'"','')),' ',''))) as [HASH_QN_HEADER],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMEL_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMEL_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([QMEL_EBELN],'"','')),' ',''),REPLACE([dbo].[add_0](5,REPLACE([QMEL_EBELP],'"','')),' ',''))) as [HASH_PO_ITEM],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMEL_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMEL_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](10,REPLACE([QMEL_MBLNR],'"','')),' ',''),REPLACE(REPLACE([QMEL_MJAHR],'"',''),' ',''),REPLACE([dbo].[add_0](4,REPLACE([QMEL_MBLPO],'"','')),' ',''))) as [HASH_GM_ITEM],
REPLACE([QMEL_SYSID],'"',''),
REPLACE([QMEL_MANDT],'"',''),
[dbo].[add_0](12,REPLACE([QMEL_QMNUM],'"','')),
REPLACE([QMEL_QMART],'"',''),
REPLACE([QMEL_QMTXT],'"',''),
REPLACE([QMEL_ERNAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMEL_ERDAT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMEL_ERDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMEL_ERDAT],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_ERDAT],
REPLACE([QMEL_AENAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMEL_AEDAT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMEL_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMEL_AEDAT],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_AEDAT],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMEL_QMDAT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMEL_QMDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMEL_QMDAT],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_QMDAT],
REPLACE([QMEL_QMNAM],'"',''),
REPLACE([QMEL_AUFNR],'"',''),
[dbo].[add_0](10,REPLACE([QMEL_VBELN],'"','')),
REPLACE([QMEL_MAWERK],'"',''),
REPLACE([QMEL_PRUEFLOS],'"',''),
REPLACE([QMEL_CHARG],'"',''),
REPLACE([QMEL_EMATNR],'"',''),
[dbo].[add_0](10,REPLACE([QMEL_EBELN],'"','')),
[dbo].[add_0](5,REPLACE([QMEL_EBELP],'"','')),
REPLACE([QMEL_MJAHR],'"',''),
[dbo].[add_0](10,REPLACE([QMEL_MBLNR],'"','')),
[dbo].[add_0](4,REPLACE([QMEL_MBLPO],'"','')),
REPLACE([QMEL_LS_KDAUF],'"',''),
REPLACE([QMEL_LS_KDPOS],'"',''),
REPLACE([QMEL_LS_VBELN],'"',''),
REPLACE([QMEL_LS_POSNR],'"',''),
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMEL_MGEIG],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([QMEL_MGEIG],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_MGEIG],
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMEL_MGFRD],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([QMEL_MGFRD],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_MGFRD],
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMEL_BZMNG],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([QMEL_BZMNG],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_BZMNG],
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMEL_RKMNG],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([QMEL_RKMNG],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_RKMNG],
CASE
	WHEN 
		ISNUMERIC(REPLACE(REPLACE(REPLACE([QMEL_RGMNG],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN TRY_CONVERT(decimal(18,3),REPLACE(REPLACE(REPLACE([QMEL_RGMNG],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_RGMNG],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMEL_RKDAT],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMEL_RKDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMEL_RKDAT],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_RKDAT],
REPLACE([QMEL_KDMAT],'"',''),
REPLACE([QMEL_IDNLF],'"',''),
REPLACE([QMEL_SERIALNR],'"',''),
REPLACE([QMEL_KZLOESCH],'"',''),
REPLACE([QMEL_ZZ_QFART],'"',''),
REPLACE([QMEL_ZZ_DELIVERY],'"',''),
REPLACE([QMEL_EKORG],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMEL_DATUM],CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMEL_DATUM],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMEL_DATUM],CHAR(13),''),CHAR(10),''),'"',''))
		ELSE NULL
	END AS [QMEL_DATUM]
FROM
[dbo].[QN_Header_ETL]
where [QMEL_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
