USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_PO_Item_P11_010_ETL]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_PO_Item_P11_010_ETL](
	[HASH_PO_ITEM] [binary](16) NULL,
	[EKPO_SYSID] [varchar](max) NULL,
	[EKPO_MANDT] [varchar](max) NULL,
	[EKPO_BUKRS] [varchar](max) NULL,
	[EKPO_EBELN] [varchar](max) NULL,
	[EKPO_EBELP] [varchar](max) NULL,
	[EKPO_WERKS] [varchar](max) NULL,
	[EKPO_LOEKZ] [varchar](max) NULL,
	[EKPO_PSTYP] [varchar](max) NULL,
	[EKPO_UDATE] [varchar](max) NULL,
	[EKPO_ORDERDATE] [varchar](max) NULL,
	[EKPO_MENGE] [varchar](max) NULL,
	[EKPO_MEINS] [varchar](max) NULL,
	[EKPO_NETWR] [varchar](max) NULL,
	[EKPO_CAMOUNT] [varchar](max) NULL,
	[EKPO_EURAMOUNT] [varchar](max) NULL,
	[EKPO_WKURS] [varchar](max) NULL,
	[EKPO_RATE] [varchar](max) NULL,
	[EKPO_LONGTEXT] [text] NULL,
	[EKPO_TXZ01] [varchar](max) NULL,
	[EKPO_MATKL] [varchar](max) NULL,
	[EKPO_MATNR] [varchar](max) NULL,
	[EKPO_REVLV] [varchar](max) NULL,
	[EKPO_IDNLF] [varchar](max) NULL,
	[EKPO_BANFN] [varchar](max) NULL,
	[EKPO_BNFPO] [varchar](max) NULL,
	[EKPO_AFNAM] [varchar](max) NULL,
	[EKPO_BEDNR] [varchar](max) NULL,
	[EKPO_KONNR] [varchar](max) NULL,
	[EKPO_KTPNR] [varchar](max) NULL,
	[EKPO_WEPOS] [varchar](max) NULL,
	[EKPO_EVERS] [varchar](max) NULL,
	[EKPO_INSMK] [varchar](max) NULL,
	[EKPO_MHDRZ] [varchar](max) NULL,
	[EKPO_IPRKZ] [varchar](max) NULL,
	[EKPO_SSQSS] [varchar](max) NULL,
	[EKPO_PLIFZ] [varchar](max) NULL,
	[EKPO_WEBAZ] [varchar](max) NULL,
	[EKPO_LEWED] [varchar](max) NULL,
	[EKPO_ABLAD] [varchar](max) NULL,
	[EKPO_LGORT] [varchar](max) NULL,
	[EKPO_NAME1] [varchar](max) NULL,
	[EKPO_NAME2] [varchar](max) NULL,
	[EKPO_STREET] [varchar](max) NULL,
	[EKPO_POST_CODE1] [varchar](max) NULL,
	[EKPO_CITY1] [varchar](max) NULL,
	[EKPO_REGION] [varchar](max) NULL,
	[EKPO_COUNTRY] [varchar](max) NULL,
	[EKPO_PO_BOX] [varchar](max) NULL,
	[EKPO_KZABS] [varchar](max) NULL,
	[EKPO_LABNR] [varchar](max) NULL,
	[EKPO_ELIKZ] [varchar](max) NULL,
	[EKPO_EREKZ] [varchar](max) NULL,
	[EKPO_UEBTO] [varchar](max) NULL,
	[EKPO_UEBTK] [varchar](max) NULL,
	[EKPO_UNTTO] [varchar](max) NULL,
	[EKPO_XOBLR] [varchar](max) NULL,
	[EKPO_KNTTP] [varchar](max) NULL,
	[EKPO_VRTKZ] [varchar](max) NULL,
	[EKPO_INCO1] [varchar](max) NULL,
	[EKPO_INCO2] [varchar](max) NULL,
	[EKPO_MFRNR] [varchar](max) NULL,
	[EKPO_MFRPN] [varchar](max) NULL,
	[EKPO_EAN11] [varchar](max) NULL,
	[EKPO_ERUSERNAME] [varchar](max) NULL,
	[EKPO_AEUSERNAME] [varchar](max) NULL,
	[EKPO_AEDAT] [varchar](max) NULL,
	[EKPO_DATUM] [varchar](max) NULL,
	[EKPO_ZZBP1] [varchar](max) NULL,
	[EKPO_ZZCR1] [varchar](max) NULL,
	[EKPO_ZZPT1] [varchar](max) NULL,
	[EKPO_ZZPD1] [varchar](max) NULL,
	[EKPO_ZZBP2] [varchar](max) NULL,
	[EKPO_ZZCR2] [varchar](max) NULL,
	[EKPO_ZZPT2] [varchar](max) NULL,
	[EKPO_ZZPD2] [varchar](max) NULL,
	[EKPO_ZZBP3] [varchar](max) NULL,
	[EKPO_ZZCR3] [varchar](max) NULL,
	[EKPO_ZZPT3] [varchar](max) NULL,
	[EKPO_ZZPD3] [varchar](max) NULL,
	[EKPO_ZZBP4] [varchar](max) NULL,
	[EKPO_ZZCR4] [varchar](max) NULL,
	[EKPO_ZZPT4] [varchar](max) NULL,
	[EKPO_ZZPD4] [varchar](max) NULL,
	[EKPO_ZZBP5] [varchar](max) NULL,
	[EKPO_ZZCR5] [varchar](max) NULL,
	[EKPO_ZZPT5] [varchar](max) NULL,
	[EKPO_ZZPD5] [varchar](max) NULL,
	[EKPO_WAERS] [varchar](max) NULL,
	[EKPO_ADRNR] [varchar](max) NULL,
	[EKPO_ADRN2] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
