USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_GM_Header_TMP]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_GM_Header_TMP](
	[MKPF_SYSID] [varchar](max) NULL,
	[NOT_APPLICABLE _00] [varchar](max) NULL,
	[NOT_APPLICABLE _01] [varchar](max) NULL,
	[MKPF_MBLNR] [varchar](max) NULL,
	[NOT_APPLICABLE] [varchar](max) NULL,
	[MKPF_MJAHR] [varchar](max) NULL,
	[NOT_APPLICABLE_02] [varchar](max) NULL,
	[NOT_APPLICABLE_03] [varchar](max) NULL,
	[NOT_APPLICABLE_04] [varchar](max) NULL,
	[NOT_APPLICABLE_05] [varchar](max) NULL,
	[NOT_APPLICABLE_06] [varchar](max) NULL,
	[NOT_APPLICABLE_07] [varchar](max) NULL,
	[NOT_APPLICABLE_08] [varchar](max) NULL,
	[NOT_APPLICABLE_09] [varchar](max) NULL,
	[NOT_APPLICABLE_10] [varchar](max) NULL,
	[NOT_APPLICABLE_11] [varchar](max) NULL,
	[NOT_APPLICABLE_12] [varchar](max) NULL,
	[NOT_APPLICABLE_13] [varchar](max) NULL,
	[NOT_APPLICABLE_14] [varchar](max) NULL,
	[MKPF_ZZBARCODE] [varchar](max) NULL,
	[MKPF_BLART] [varchar](max) NULL,
	[MKPF_VGART] [varchar](max) NULL,
	[MKPF_BLDAT] [varchar](max) NULL,
	[NOT_APPLICABLE _15] [varchar](max) NULL,
	[NOT_APPLICABLE _16] [varchar](max) NULL,
	[NOT_APPLICABLE _17] [varchar](max) NULL,
	[NOT_APPLICABLE _18] [varchar](max) NULL,
	[NOT_APPLICABLE _19] [varchar](max) NULL,
	[NOT_APPLICABLE _20] [varchar](max) NULL,
	[NOT_APPLICABLE _21] [varchar](max) NULL,
	[MKPF_CPUDT] [varchar](max) NULL,
	[MKPF_BUDAT] [varchar](max) NULL,
	[NOT_APPLICABLE _22] [varchar](max) NULL,
	[NOT_APPLICABLE _23] [varchar](max) NULL,
	[NOT_APPLICABLE _24] [varchar](max) NULL,
	[NOT_APPLICABLE _25] [varchar](max) NULL,
	[MKPF_BKTXT] [varchar](max) NULL,
	[MKPF_DATUM] [varchar](max) NULL,
	[MKPF_XBLNR] [varchar](max) NULL,
	[NOT_APPLICABLE _26] [varchar](max) NULL,
	[NOT_APPLICABLE _27] [varchar](max) NULL,
	[NOT_APPLICABLE _28] [varchar](max) NULL,
	[NOT_APPLICABLE _29] [varchar](max) NULL,
	[NOT_APPLICABLE _30] [varchar](max) NULL,
	[NOT_APPLICABLE _31] [varchar](max) NULL,
	[MKPF_USNAM] [varchar](max) NULL,
	[MKPF_MANDT] [varchar](max) NULL,
	[MKPF_AEDAT] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
