USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_QN_Action]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_QN_Action]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[QN_Action]
(
[HASH_QN_ACTION],
[HASH_QN_ITEM],
[HASH_QN_HEADER],
[QMMA_SYSID],
[QMMA_MANDT],
[QMMA_QMNUM],
[QMMA_FENUM],
[QMMA_AEDAT],
[QMMA_AENAM],
[QMMA_AEZEIT],
[QMMA_AUTKZ],
[QMMA_ERDAT],
[QMMA_ERNAM],
[QMMA_ERZEIT],
[QMMA_FUNKTION],
[QMMA_INDTX],
[QMMA_KLAKZ],
[QMMA_KZACTIONBOX],
[QMMA_KZLOESCH],
[QMMA_KZMLA],
[QMMA_MAKLS],
[QMMA_MANUM],
[QMMA_MATXT],
[QMMA_MNCOD],
[QMMA_MNGFA],
[QMMA_MNGRP],
[QMMA_MNKAT],
[QMMA_MNVER],
[QMMA_PETER],
[QMMA_PETUR],
[QMMA_PSTER],
[QMMA_PSTUR],
[QMMA_QMANUM],
[QMMA_URNUM],
[QMMA_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMMA_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMMA_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMMA_QMNUM],'"','')),' ',''),REPLACE(REPLACE([QMMA_MANUM],'"',''),' ',''))) as [HASH_QN_ACTION],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMMA_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMMA_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMMA_QMNUM],'"','')),' ',''),REPLACE(REPLACE([QMMA_FENUM],'"',''),' ',''))) as [HASH_QN_ITEM],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([QMMA_SYSID],'"',''),' ',''),REPLACE(REPLACE([QMMA_MANDT],'"',''),' ',''),REPLACE([dbo].[add_0](12,REPLACE([QMMA_QMNUM],'"','')),' ',''))) as [HASH_QN_HEADER],
REPLACE([QMMA_SYSID],'"',''),
REPLACE([QMMA_MANDT],'"',''),
[dbo].[add_0](12,REPLACE([QMMA_QMNUM],'"','')),
REPLACE([QMMA_FENUM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_AEDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_AEDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_AEDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_AEDAT],
REPLACE([QMMA_AENAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_AEZEIT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_AEZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_AEZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_AEZEIT],
REPLACE([QMMA_AUTKZ],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_ERDAT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_ERDAT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_ERDAT],
REPLACE([QMMA_ERNAM],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_ERZEIT] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_ERZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_ERZEIT], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_ERZEIT],
REPLACE([QMMA_FUNKTION],'"',''),
REPLACE([QMMA_INDTX],'"',''),
REPLACE([QMMA_KLAKZ],'"',''),
REPLACE([QMMA_KZACTIONBOX],'"',''),
REPLACE([QMMA_KZLOESCH],'"',''),
REPLACE([QMMA_KZMLA],'"',''),
REPLACE([QMMA_MAKLS],'"',''),
REPLACE([QMMA_MANUM],'"',''),
REPLACE([QMMA_MATXT],'"',''),
REPLACE([QMMA_MNCOD],'"',''),
REPLACE([QMMA_MNGFA],'"',''),
REPLACE([QMMA_MNGRP],'"',''),
REPLACE([QMMA_MNKAT],'"',''),
REPLACE([QMMA_MNVER],'"',''),
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_PETER] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_PETER], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_PETER], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_PETER],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_PETUR] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_PETUR], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_PETUR], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_PETUR],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_PSTER] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_PSTER], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_PSTER], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_PSTER],
CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_PSTUR] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_PSTUR], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_PSTUR], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_PSTUR],
REPLACE([QMMA_QMANUM],'"',''),
REPLACE([QMMA_URNUM],'"',''),

CASE 
	WHEN REPLACE(REPLACE(REPLACE([QMMA_DATUM] , CHAR(13), ''), CHAR(10), ''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
		WHEN ISDATE(REPLACE(REPLACE(REPLACE([QMMA_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([QMMA_DATUM], CHAR(13), ''), CHAR(10), ''),'"',''))
		ELSE NULL
	END AS [QMMA_DATUM]
FROM
[dbo].[QN_Action_ETL]
where [QMMA_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
