USE [SPA_SQL]
GO
/****** Object:  StoredProcedure [dbo].[MOVE_PO_InfRecGe]    Script Date: 08.05.2018 14:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Salvigni - SanGy - Daniele>
-- Create date: <Januaryr, 2018>
-- Status:  ヾ(⌐■_■)ノ
-- Description:	<Deduplication>
-- =============================================
CREATE PROCEDURE [dbo].[MOVE_PO_InfRecGe]
AS
BEGIN
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
SET DATEFORMAT DMY;
INSERT INTO
[dbo].[PO_InfRecGe]
(
[HASH_GE_INFNR],
[HASH_SUPPLIER_LFA1],
[EINA_SYSID],
[EINA_MANDT],
[EINA_INFNR],
[EINA_ANZPU],
[EINA_ERDAT],
[EINA_ERNAM],
[EINA_IDNLF],
[EINA_KOLIF],
[EINA_LIFAB],
[EINA_LIFBI],
[EINA_LIFNR],
[EINA_LMEIN],
[EINA_LOEKZ],
[EINA_LTSNR],
[EINA_LTSSF],
[EINA_MAHN1],
[EINA_MAHN2],
[EINA_MAHN3],
[EINA_MATKL],
[EINA_MATNR],
[EINA_MEINS],
[EINA_MFRNR],
[EINA_PUNEI],
[EINA_REGIO],
[EINA_RELIF],
[EINA_RUECK],
[EINA_SORTL],
[EINA_TELF1],
[EINA_TXZ01],
[EINA_UMREN],
[EINA_UMREZ],
[EINA_URZDT],
[EINA_URZLA],
[EINA_URZNR],
[EINA_URZTP],
[EINA_URZZT],
[EINA_VABME],
[EINA_VERKF],
[EINA_WGLIF],
[EINA_ERUSERNAME],
[EINA_AEUSERNAME],
[EINA_UDATE],
[EINA_DATUM]
)
SELECT
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EINA_SYSID],'"',''),' ',''),REPLACE(REPLACE([EINA_MANDT],'"',''),' ',''),REPLACE(REPLACE([EINA_INFNR],'"',''),' ',''))) as [HASH_GE_INFNR],
HASHBYTES('MD5',CONCAT(REPLACE(REPLACE([EINA_SYSID],'"',''),' ',''),REPLACE(REPLACE([EINA_MANDT],'"',''),' ',''),REPLACE([dbo].[rem_0](REPLACE([EINA_LIFNR],'"','')),' ',''))) as [HASH_SUPPLIER_LFA1],
REPLACE([EINA_SYSID] ,'"',''),
REPLACE([EINA_MANDT] ,'"',''),
REPLACE([EINA_INFNR] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINA_ANZPU],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINA_ANZPU],CHAR(13),''),CHAR(10),''),'"','') as decimal(18,3))
ELSE NULL
END AS [EINA_ANZPU],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINA_ERDAT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINA_ERDAT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINA_ERDAT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EINA_ERDAT],
REPLACE([EINA_ERNAM] ,'"',''),
REPLACE([EINA_IDNLF] ,'"',''),
REPLACE([EINA_KOLIF] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINA_LIFAB] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINA_LIFAB],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINA_LIFAB],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EINA_LIFAB],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINA_LIFBI] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINA_LIFBI],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINA_LIFBI],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EINA_LIFBI],
[dbo].[rem_0](REPLACE([EINA_LIFNR],'"','')),
REPLACE([EINA_LMEIN] ,'"',''),
REPLACE([EINA_LOEKZ] ,'"',''),
REPLACE([EINA_LTSNR] ,'"',''),
REPLACE([EINA_LTSSF] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINA_MAHN1],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINA_MAHN1],CHAR(13),''),CHAR(10),''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINA_MAHN1],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINA_MAHN2],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINA_MAHN2],CHAR(13),''),CHAR(10),''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINA_MAHN2],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINA_MAHN3],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINA_MAHN3],CHAR(13),''),CHAR(10),''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINA_MAHN3],
REPLACE([EINA_MATKL] ,'"',''),
REPLACE([EINA_MATNR] ,'"',''),
REPLACE([EINA_MEINS] ,'"',''),
REPLACE([EINA_MFRNR] ,'"',''),
REPLACE([EINA_PUNEI] ,'"',''),
REPLACE([EINA_REGIO] ,'"',''),
REPLACE([EINA_RELIF] ,'"',''),
REPLACE([EINA_RUECK] ,'"',''),
REPLACE([EINA_SORTL] ,'"',''),
REPLACE([EINA_TELF1] ,'"',''),
REPLACE([EINA_TXZ01] ,'"',''),
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINA_UMREN],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINA_UMREN],CHAR(13),''),CHAR(10),''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINA_UMREN],
CASE
WHEN 
ISNUMERIC(REPLACE(REPLACE(REPLACE([EINA_UMREZ],CHAR(13),''),CHAR(10),''),'"','')) = 1 THEN CAST(REPLACE(REPLACE(REPLACE([EINA_UMREZ],CHAR(13),''),CHAR(10),''),'"','') as decimal(18,2))
ELSE NULL
END AS [EINA_UMREZ],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINA_URZDT] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINA_URZDT],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINA_URZDT],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EINA_URZDT],
REPLACE([EINA_URZLA] ,'"',''),
REPLACE([EINA_URZNR] ,'"',''),
REPLACE([EINA_URZTP] ,'"',''),
REPLACE([EINA_URZZT] ,'"',''),
REPLACE([EINA_VABME] ,'"',''),
REPLACE([EINA_VERKF] ,'"',''),
REPLACE([EINA_WGLIF] ,'"',''),
REPLACE([EINA_ERUSERNAME] ,'"',''),
REPLACE([EINA_AEUSERNAME] ,'"',''),
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINA_UDATE] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINA_UDATE],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINA_UDATE],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EINA_UDATE],
CASE 
WHEN REPLACE(REPLACE(REPLACE([EINA_DATUM] ,CHAR(13),''),CHAR(10),''),'"','')='00000000' THEN TRY_CONVERT(datetime2,'01-01-1900 00:00:00 AM')
WHEN ISDATE(REPLACE(REPLACE(REPLACE([EINA_DATUM],CHAR(13),''),CHAR(10),''),'"',''))=1 THEN TRY_CONVERT(datetime2,REPLACE(REPLACE(REPLACE([EINA_DATUM],CHAR(13),''),CHAR(10),''),'"',''))
ELSE NULL
END AS [EINA_DATUM]
FROM
[dbo].[PO_InfRecGe_ETL]
where [EINA_MANDT] is not null
AND [UPLOAD_TIME] > DATEADD(day,-2,TRY_CONVERT(datetime2,GETDATE()))
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
END

GO
