USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[1_0_CO_Item_1.12_ETL]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[1_0_CO_Item_1.12_ETL](
	[HASH_PO_ITEM] [binary](16) NULL,
	[EKPOK_SYSID] [varchar](max) NULL,
	[EKPOK_MANDT] [varchar](max) NULL,
	[EKPOK_BUKRS] [varchar](max) NULL,
	[EKPOK_EBELN] [varchar](max) NULL,
	[EKPOK_EBELP] [varchar](max) NULL,
	[EKPOK_WERKS] [varchar](max) NULL,
	[EKPOK_LOEKZ] [varchar](max) NULL,
	[EKPOK_PSTYP] [varchar](max) NULL,
	[EKPOK_UDATE] [varchar](max) NULL,
	[EKPOK_ORDERDATE] [varchar](max) NULL,
	[EKPOK_MENGE] [varchar](max) NULL,
	[EKPOK_MEINS] [varchar](max) NULL,
	[EKPOK_NETWR] [varchar](max) NULL,
	[EKPOK_CAMOUNT] [varchar](max) NULL,
	[EKPOK_EURAMOUNT] [varchar](max) NULL,
	[EKPOK_WKURS] [varchar](max) NULL,
	[EKPOK_RATE] [varchar](max) NULL,
	[EKPOK_LONGTEXT] [varchar](max) NULL,
	[EKPOK_TXZ01] [varchar](max) NULL,
	[EKPOK_MATKL] [varchar](max) NULL,
	[EKPOK_MATNR] [varchar](max) NULL,
	[EKPOK_REVLV] [varchar](max) NULL,
	[EKPOK_IDNLF] [varchar](max) NULL,
	[EKPOK_BANFN] [varchar](max) NULL,
	[EKPOK_BNFPO] [varchar](max) NULL,
	[EKPOK_AFNAM] [varchar](max) NULL,
	[EKPOK_BEDNR] [varchar](max) NULL,
	[EKPOK_KONNR] [varchar](max) NULL,
	[EKPOK_KTPNR] [varchar](max) NULL,
	[EKPOK_WEPOS] [varchar](max) NULL,
	[EKPOK_EVERS] [varchar](max) NULL,
	[EKPOK_INSMK] [varchar](max) NULL,
	[EKPOK_MHDRZ] [varchar](max) NULL,
	[EKPOK_IPRKZ] [varchar](max) NULL,
	[EKPOK_SSQSS] [varchar](max) NULL,
	[EKPOK_PLIFZ] [varchar](max) NULL,
	[EKPOK_WEBAZ] [varchar](max) NULL,
	[EKPOK_LEWED] [varchar](max) NULL,
	[EKPOK_ABLAD] [varchar](max) NULL,
	[EKPOK_LGORT] [varchar](max) NULL,
	[EKPOK_NAME1] [varchar](max) NULL,
	[EKPOK_NAME2] [varchar](max) NULL,
	[EKPOK_STREET] [varchar](max) NULL,
	[EKPOK_POST_CODE1] [varchar](max) NULL,
	[EKPOK_CITY1] [varchar](max) NULL,
	[EKPOK_REGION] [varchar](max) NULL,
	[EKPOK_COUNTRY] [varchar](max) NULL,
	[EKPOK_PO_BOX] [varchar](max) NULL,
	[EKPOK_KZABS] [varchar](max) NULL,
	[EKPOK_LABNR] [varchar](max) NULL,
	[EKPOK_ELIKZ] [varchar](max) NULL,
	[EKPOK_EREKZ] [varchar](max) NULL,
	[EKPOK_UEBTO] [varchar](max) NULL,
	[EKPOK_UEBTK] [varchar](max) NULL,
	[EKPOK_UNTTO] [varchar](max) NULL,
	[EKPOK_XOBLR] [varchar](max) NULL,
	[EKPOK_KNTTP] [varchar](max) NULL,
	[EKPOK_VRTKZ] [varchar](max) NULL,
	[EKPOK_INCO1] [varchar](max) NULL,
	[EKPOK_INCO2] [varchar](max) NULL,
	[EKPOK_MFRNR] [varchar](max) NULL,
	[EKPOK_MFRPN] [varchar](max) NULL,
	[EKPOK_EAN11] [varchar](max) NULL,
	[EKPOK_ERUSERNAME] [varchar](max) NULL,
	[EKPOK_AEUSERNAME] [varchar](max) NULL,
	[EKPOK_AEDAT] [varchar](max) NULL,
	[EKPOK_DATUM] [varchar](max) NULL,
	[EKPOK_ZZBP1] [varchar](max) NULL,
	[EKPOK_ZZCR1] [varchar](max) NULL,
	[EKPOK_ZZPT1] [varchar](max) NULL,
	[EKPOK_ZZPD1] [varchar](max) NULL,
	[EKPOK_ZZBP2] [varchar](max) NULL,
	[EKPOK_ZZCR2] [varchar](max) NULL,
	[EKPOK_ZZPT2] [varchar](max) NULL,
	[EKPOK_ZZPD2] [varchar](max) NULL,
	[EKPOK_ZZBP3] [varchar](max) NULL,
	[EKPOK_ZZCR3] [varchar](max) NULL,
	[EKPOK_ZZPT3] [varchar](max) NULL,
	[EKPOK_ZZPD3] [varchar](max) NULL,
	[EKPOK_ZZBP4] [varchar](max) NULL,
	[EKPOK_ZZCR4] [varchar](max) NULL,
	[EKPOK_ZZPT4] [varchar](max) NULL,
	[EKPOK_ZZPD4] [varchar](max) NULL,
	[EKPOK_ZZBP5] [varchar](max) NULL,
	[EKPOK_ZZCR5] [varchar](max) NULL,
	[EKPOK_ZZPT5] [varchar](max) NULL,
	[EKPOK_ZZPD5] [varchar](max) NULL,
	[EKPOK_WAERS] [varchar](max) NULL,
	[EKPOK_ADRNR] [varchar](max) NULL,
	[EKPOK_ADRN2] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
