USE [SPA_SQL]
GO
/****** Object:  Table [dbo].[PO_Item]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PO_Item](
	[EKPO_UNIQU] [int] IDENTITY(1,1) NOT NULL,
	[EKPO_UID] [uniqueidentifier] NULL,
	[HASH_PO_ITEM] [binary](16) NULL,
	[HASH_PO_HEADER] [binary](16) NULL,
	[HASH_PR] [binary](16) NULL,
	[EKPO_SYSID] [nvarchar](max) NULL,
	[EKPO_MANDT] [nvarchar](max) NULL,
	[EKPO_BUKRS] [nvarchar](max) NULL,
	[EKPO_EBELN] [nvarchar](max) NULL,
	[EKPO_EBELP] [nvarchar](max) NULL,
	[EKPO_WERKS] [nvarchar](max) NULL,
	[EKPO_LOEKZ] [nvarchar](max) NULL,
	[EKPO_PSTYP] [nvarchar](max) NULL,
	[EKPO_UDATE] [datetime2](7) NULL,
	[EKPO_ORDERDATE] [datetime2](7) NULL,
	[EKPO_MENGE] [decimal](18, 3) NULL,
	[EKPO_MEINS] [nvarchar](max) NULL,
	[EKPO_NETWR] [decimal](18, 2) NULL,
	[EKPO_CAMOUNT] [decimal](18, 2) NULL,
	[EKPO_EURAMOUNT] [decimal](18, 2) NULL,
	[EKPO_WKURS] [decimal](18, 5) NULL,
	[EKPO_RATE] [decimal](18, 5) NULL,
	[EKPO_LONGTEXT] [text] NULL,
	[EKPO_TXZ01] [nvarchar](max) NULL,
	[EKPO_MATKL] [nvarchar](max) NULL,
	[EKPO_MATNR] [nvarchar](max) NULL,
	[EKPO_REVLV] [nvarchar](max) NULL,
	[EKPO_IDNLF] [nvarchar](max) NULL,
	[EKPO_BANFN] [nvarchar](max) NULL,
	[EKPO_BNFPO] [nvarchar](max) NULL,
	[EKPO_AFNAM] [nvarchar](max) NULL,
	[EKPO_BEDNR] [nvarchar](max) NULL,
	[EKPO_KONNR] [nvarchar](max) NULL,
	[EKPO_KTPNR] [nvarchar](max) NULL,
	[EKPO_WEPOS] [nvarchar](max) NULL,
	[EKPO_EVERS] [nvarchar](max) NULL,
	[EKPO_INSMK] [nvarchar](max) NULL,
	[EKPO_MHDRZ] [decimal](18, 2) NULL,
	[EKPO_IPRKZ] [nvarchar](max) NULL,
	[EKPO_SSQSS] [nvarchar](max) NULL,
	[EKPO_PLIFZ] [decimal](18, 2) NULL,
	[EKPO_WEBAZ] [decimal](18, 2) NULL,
	[EKPO_LEWED] [datetime2](7) NULL,
	[EKPO_ABLAD] [nvarchar](max) NULL,
	[EKPO_LGORT] [nvarchar](max) NULL,
	[EKPO_NAME1] [nvarchar](max) NULL,
	[EKPO_NAME2] [nvarchar](max) NULL,
	[EKPO_STREET] [nvarchar](max) NULL,
	[EKPO_POST_CODE1] [nvarchar](max) NULL,
	[EKPO_CITY1] [nvarchar](max) NULL,
	[EKPO_REGION] [nvarchar](max) NULL,
	[EKPO_COUNTRY] [nvarchar](max) NULL,
	[EKPO_PO_BOX] [nvarchar](max) NULL,
	[EKPO_KZABS] [nvarchar](max) NULL,
	[EKPO_LABNR] [nvarchar](max) NULL,
	[EKPO_ELIKZ] [nvarchar](max) NULL,
	[EKPO_EREKZ] [nvarchar](max) NULL,
	[EKPO_UEBTO] [decimal](18, 2) NULL,
	[EKPO_UEBTK] [nvarchar](max) NULL,
	[EKPO_UNTTO] [decimal](18, 2) NULL,
	[EKPO_XOBLR] [nvarchar](max) NULL,
	[EKPO_KNTTP] [nvarchar](max) NULL,
	[EKPO_VRTKZ] [nvarchar](max) NULL,
	[EKPO_INCO1] [nvarchar](max) NULL,
	[EKPO_INCO2] [nvarchar](max) NULL,
	[EKPO_MFRNR] [nvarchar](max) NULL,
	[EKPO_MFRPN] [nvarchar](max) NULL,
	[EKPO_EAN11] [nvarchar](max) NULL,
	[EKPO_ERUSERNAME] [nvarchar](max) NULL,
	[EKPO_AEUSERNAME] [nvarchar](max) NULL,
	[EKPO_AEDAT] [datetime2](7) NULL,
	[EKPO_DATUM] [datetime2](7) NULL,
	[EKPO_ZZBP1] [decimal](18, 2) NULL,
	[EKPO_ZZCR1] [nvarchar](max) NULL,
	[EKPO_ZZPT1] [nvarchar](max) NULL,
	[EKPO_ZZPD1] [datetime2](7) NULL,
	[EKPO_ZZBP2] [decimal](18, 2) NULL,
	[EKPO_ZZCR2] [nvarchar](max) NULL,
	[EKPO_ZZPT2] [nvarchar](max) NULL,
	[EKPO_ZZPD2] [datetime2](7) NULL,
	[EKPO_ZZBP3] [decimal](18, 2) NULL,
	[EKPO_ZZCR3] [nvarchar](max) NULL,
	[EKPO_ZZPT3] [nvarchar](max) NULL,
	[EKPO_ZZPD3] [datetime2](7) NULL,
	[EKPO_ZZBP4] [decimal](18, 2) NULL,
	[EKPO_ZZCR4] [nvarchar](max) NULL,
	[EKPO_ZZPT4] [nvarchar](max) NULL,
	[EKPO_ZZPD4] [datetime2](7) NULL,
	[EKPO_ZZBP5] [decimal](18, 2) NULL,
	[EKPO_ZZCR5] [nvarchar](max) NULL,
	[EKPO_ZZPT5] [nvarchar](max) NULL,
	[EKPO_ZZPD5] [datetime2](7) NULL,
	[EKPO_WAERS] [nvarchar](max) NULL,
	[EKPO_ADRNR] [nvarchar](max) NULL,
	[EKPO_ADRN2] [nvarchar](max) NULL,
	[SSMA_TimeStamp] [datetime2](7) NOT NULL,
	[SSMA_LAST_TS] [datetime2](7) NULL,
 CONSTRAINT [PK_PO_Item] PRIMARY KEY CLUSTERED 
(
	[EKPO_UNIQU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PO_Item] ADD  CONSTRAINT [DF__PO_Item__SSMA_Ti__2645B050]  DEFAULT (getdate()) FOR [SSMA_TimeStamp]
GO
