USE [SPA_SQL]
GO
/****** Object:  UserDefinedFunction [guest].[SSMA_Access_InventoryVersion_Minor]    Script Date: 08.05.2018 14:41:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [guest].[SSMA_Access_InventoryVersion_Minor]() 
   RETURNS INT                                                                     
 AS                                                                                
 BEGIN                                                                             
   RETURN 0                                                                        
 END                                                                               

GO
